Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2023-11, with the labels that each got.

#4 Drop support for releasing via PEAR
  .github/workflows/validate.yml
  CHANGELOG.md
  README.md
  package.xml
  scripts/ValidatePEAR/ValidatePEARPackageXML.php
  scripts/validate-pear-package.php
  src/Config.php
  src/Standards/Generic/Tests/Files/ExecutableFileUnitTest.php
  tests/AllTests.php
  tests/Core/Filters/Filter/AcceptTest.php
  tests/Core/Ruleset/RuleInclusionAbsoluteLinuxTest.php
  tests/Core/Ruleset/RuleInclusionAbsoluteWindowsTest.php
  tests/Core/Ruleset/RuleInclusionTest.php
  tests/Core/Ruleset/SetSniffPropertyTest.php
  tests/Standards/AllSniffs.php
  tests/bootstrap.php
Labels: Type: breaking change, Type: meta

#5 README: update URL for downloading the PHAR
  README.md
Labels: Type: breaking change, Type: documentation, Type: meta

#34 Tokenizer/PHP: fix mis-identification of 'readonly' keyword icw PHP 8.2 DNF types
  src/Tokenizers/PHP.php
  tests/Core/Tokenizer/BackfillReadonlyTest.inc
  tests/Core/Tokenizer/BackfillReadonlyTest.php
Labels: Type: bug, Core Component: Tokenizer, Focus: Modern PHP

#39 More clean up after removal of PEAR installation support
  .gitattributes
  .github/ISSUE_TEMPLATE/bug_report.md
  bin/phpcbf.bat
  bin/phpcs.bat
  scripts/build-phar.php
Labels: Type: chores/QA

#40 Improve available CONTRIBUTING information and guidelines
  .github/CONTRIBUTING.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  composer.json
Labels: Type: chores/QA, Type: documentation, Type: meta

#41 Issue/PR templates: add feature request template + minor other tweaks
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: Type: chores/QA

#42 README: various tweaks
  README.md
Labels: Type: documentation

#66 GH Actions/label new PRs: tweak the conditions a little
  .github/labeler.yml
Labels: Type: chores/QA

#70 GH Actions: various improvements & tweaks
  .github/workflows/label-merge-conflicts.yml
  .github/workflows/label-new-prs.yml
  .github/workflows/phpstan.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
Labels: Type: chores/QA

#69 Update wording in the note about the original project
  README.md
Labels: Type: documentation

#71 PHPStan setup: various tweaks
  .github/workflows/phpstan.yml
  phpstan.neon.dist
Labels: Type: chores/QA

#72 .gitattributes: various readability improvements
  .gitattributes
Labels: Type: chores/QA

#68 GH Actions/label new PRs: fix yaml file + other tweaks
  .github/labeler.yml
Labels: Type: chores/QA

#74 GH Actions: add Yamllint to `validate` workflow
  .gitattributes
  .github/workflows/validate.yml
  .yamllint.yml
Labels: Type: chores/QA

#85 Add dependabot configuration file
  .github/dependabot.yml
Labels: Type: chores/QA, Type: meta

#89 GH Actions: safeguard the PR label workflow some more
  .github/workflows/label-new-prs.yml
Labels: Type: chores/QA

#100 GH Actions/label new PRs: tweak label criteria
  .github/labeler.yml
Labels: Type: chores/QA

#101 GH Actions/label new PRs: use v1 floating tag
  .github/workflows/label-new-prs.yml
Labels: Type: chores/QA

#102 GH Actions: automate yearly update of test file
  .github/workflows/happy-new-year.yml
Labels: Type: chores/QA

#104 Composer.json: add link to security policy
  composer.json
Labels: Type: chores/QA
