Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2023-12, with the labels that each got.

#49 PHP 8.2 | Tokenizer, File, sniffs: account for new `true` type
  CHANGELOG.md
  src/Files/File.php
  src/Standards/Generic/Sniffs/PHP/LowerCaseTypeSniff.php
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.inc
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.inc.fixed
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.php
  src/Standards/PSR12/Sniffs/Functions/NullableTypeDeclarationSniff.php
  src/Standards/PSR12/Tests/Functions/NullableTypeDeclarationUnitTest.inc
  src/Standards/PSR12/Tests/Functions/NullableTypeDeclarationUnitTest.inc.fixed
  src/Standards/PSR12/Tests/Functions/NullableTypeDeclarationUnitTest.php
  src/Tokenizers/PHP.php
  tests/Core/File/GetMemberPropertiesTest.inc
  tests/Core/File/GetMemberPropertiesTest.php
  tests/Core/File/GetMethodParametersTest.inc
  tests/Core/File/GetMethodParametersTest.php
  tests/Core/File/GetMethodPropertiesTest.inc
  tests/Core/File/GetMethodPropertiesTest.php
  tests/Core/Tokenizer/BitwiseOrTest.inc
  tests/Core/Tokenizer/BitwiseOrTest.php
Labels: Type: enhancement, Core Component: File, Core Component: Tokenizer, Focus: Modern PHP, Standard: Generic, Standard: PSR12

#84 PHP 8.3 | Ruleset::explain(): fix deprecation notice
  src/Ruleset.php
Labels: Type: bug, Core Component: Config & Ruleset & CLI options

#54 PSR1/SideEffects: improve recognition of disable/enable annotations
  CHANGELOG.md
  src/Standards/PSR1/Sniffs/Files/SideEffectsSniff.php
  src/Standards/PSR1/Tests/Files/SideEffectsUnitTest.17.inc
Labels: Type: bug, Focus: Ignore Annotations/Excludes, Standard: PSR1

#82 Generic/OpeningFunctionBraceKernighanRitchie: fix error position
  src/Standards/Generic/Sniffs/Functions/OpeningFunctionBraceKernighanRitchieSniff.php
Labels: Type: bug, Standard: Generic

#96 QA: remove unreachable code
  phpcs.xml.dist
  src/Sniffs/AbstractScopeSniff.php
  src/Standards/Generic/Tests/Classes/DuplicateClassNameUnitTest.php
  src/Standards/Generic/Tests/Files/InlineHTMLUnitTest.php
  src/Standards/Generic/Tests/Files/LineLengthUnitTest.php
  src/Standards/Generic/Tests/Formatting/MultipleStatementAlignmentUnitTest.php
  src/Standards/Generic/Tests/PHP/CharacterBeforePHPOpeningTagUnitTest.php
  src/Standards/Generic/Tests/PHP/ClosingPHPTagUnitTest.php
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.php
  src/Standards/Generic/Tests/PHP/RequireStrictTypesUnitTest.php
  src/Standards/Generic/Tests/PHP/SyntaxUnitTest.php
  src/Standards/Generic/Tests/Strings/UnnecessaryStringConcatUnitTest.php
  src/Standards/Generic/Tests/WhiteSpace/DisallowSpaceIndentUnitTest.php
  src/Standards/Squiz/Sniffs/WhiteSpace/MemberVarSpacingSniff.php
  src/Standards/Squiz/Tests/Commenting/LongConditionClosingCommentUnitTest.php
  src/Standards/Squiz/Tests/Formatting/OperatorBracketUnitTest.php
  src/Standards/Squiz/Tests/Operators/ComparisonOperatorUsageUnitTest.php
  src/Standards/Squiz/Tests/PHP/CommentedOutCodeUnitTest.php
  src/Standards/Squiz/Tests/PHP/DisallowInlineIfUnitTest.php
  src/Standards/Squiz/Tests/PHP/DisallowSizeFunctionsInLoopsUnitTest.php
  src/Standards/Squiz/Tests/PHP/NonExecutableCodeUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/ControlStructureSpacingUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/FunctionClosingBraceSpaceUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/OperatorSpacingUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/SemicolonSpacingUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/SuperfluousWhitespaceUnitTest.php
  tests/Standards/AbstractSniffUnitTest.php
Labels: Type: chores/QA, Standard: Generic, Standard: Squiz

#83 PSR2/PSR12/ControlStructureSpacing: don't listen for `T_ELSE`
  src/Standards/PSR12/Sniffs/ControlStructures/ControlStructureSpacingSniff.php
  src/Standards/PSR2/Sniffs/ControlStructures/ControlStructureSpacingSniff.php
Labels: Type: bug, Type: chores/QA, Standard: PSR2, Standard: PSR12

#121 Add Bash syntax highlighting to `README.md`
  README.md
Labels: Type: documentation

#57 File: improve documentation
  src/Files/File.php
Labels: Type: documentation, Core Component: File

#129 Correct spelling issues in readme
  README.md
Labels: Type: documentation

#130 Correct spelling issues in contributing
  .github/CONTRIBUTING.md
Labels: Type: documentation

#95 Various sniffs: always return EOF pointer
  src/Standards/Generic/Sniffs/Debug/CSSLintSniff.php
  src/Standards/Generic/Sniffs/Debug/ClosureLinterSniff.php
  src/Standards/Generic/Sniffs/Debug/ESLintSniff.php
  src/Standards/Generic/Sniffs/Debug/JSHintSniff.php
  src/Standards/Generic/Sniffs/Files/LineEndingsSniff.php
  src/Standards/Generic/Sniffs/Files/LowercasedFilenameSniff.php
  src/Standards/PSR12/Sniffs/Files/OpenTagSniff.php
  src/Standards/Squiz/Sniffs/Debug/JSLintSniff.php
  src/Standards/Squiz/Sniffs/Debug/JavaScriptLintSniff.php
  src/Standards/Zend/Sniffs/Debug/CodeAnalyzerSniff.php
Labels: Focus: Performance, Standard: Generic, Standard: PSR12, Standard: Squiz, Standard: Zend

#52 PEAR/FunctionDeclaration: bug fix x 2 - prevent fixer creating a parse error + prevent fixer conflict
  CHANGELOG.md
  src/Standards/PEAR/Sniffs/Functions/FunctionDeclarationSniff.php
  src/Standards/PEAR/Tests/Functions/FunctionDeclarationUnitTest.inc
  src/Standards/PEAR/Tests/Functions/FunctionDeclarationUnitTest.inc.fixed
  src/Standards/PEAR/Tests/Functions/FunctionDeclarationUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: PEAR

#56 PSR12/AnonClassDeclaration: prevent fixer creating parse error
  CHANGELOG.md
  src/Standards/PSR12/Sniffs/Classes/AnonClassDeclarationSniff.php
  src/Standards/PSR12/Tests/Classes/AnonClassDeclarationUnitTest.inc
  src/Standards/PSR12/Tests/Classes/AnonClassDeclarationUnitTest.inc.fixed
  src/Standards/PSR12/Tests/Classes/AnonClassDeclarationUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: PSR12

#131 GH Actions/label mngmnt: allow for uppercase X in checkboxes
  .github/labeler.yml
Labels: Type: chores/QA

#132 Squiz/OperatorSpacing: minor tweak to the tests
  src/Standards/Squiz/Tests/WhiteSpace/OperatorSpacingUnitTest.inc
  src/Standards/Squiz/Tests/WhiteSpace/OperatorSpacingUnitTest.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/OperatorSpacingUnitTest.js
  src/Standards/Squiz/Tests/WhiteSpace/OperatorSpacingUnitTest.js.fixed
Labels: Type: chores/QA

#62 Generic/LowerCaseType: fix potential PHP notice
  CHANGELOG.md
  src/Standards/Generic/Sniffs/PHP/LowerCaseTypeSniff.php
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.inc
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.inc.fixed
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.php
Labels: Type: bug, Standard: Generic

#122 Respect all sniffs when reviewing PHP_CodeSniffer itself
  phpcs.xml.dist
Labels: Type: chores/QA

#93 Squiz/FunctionSpacing: bug fix - prevent fixer conflict with itself
  CHANGELOG.md
  src/Standards/Squiz/Sniffs/WhiteSpace/FunctionSpacingSniff.php
  src/Standards/Squiz/Tests/WhiteSpace/FunctionSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/FunctionSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/FunctionSpacingUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: Squiz

#97 Config::processLongArgument(): fix storing of unknown arguments
  CHANGELOG.md
  src/Config.php
Labels: Type: bug, Core Component: Config & Ruleset & CLI options

#80 Generic/OpeningFunctionBrace*: check spacing before brace for empty functions
  CHANGELOG.md
  src/Standards/Generic/Sniffs/Functions/OpeningFunctionBraceBsdAllmanSniff.php
  src/Standards/Generic/Sniffs/Functions/OpeningFunctionBraceKernighanRitchieSniff.php
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceBsdAllmanUnitTest.inc
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceBsdAllmanUnitTest.inc.fixed
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceBsdAllmanUnitTest.php
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceKernighanRitchieUnitTest.inc
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceKernighanRitchieUnitTest.inc.fixed
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceKernighanRitchieUnitTest.php
Labels: Type: bug, Standard: Generic

#46 Generic/IncrementDecrementSpacing: handle more situations
  CHANGELOG.md
  src/Standards/Generic/Sniffs/WhiteSpace/IncrementDecrementSpacingSniff.php
  src/Standards/Generic/Tests/WhiteSpace/IncrementDecrementSpacingUnitTest.inc
  src/Standards/Generic/Tests/WhiteSpace/IncrementDecrementSpacingUnitTest.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/IncrementDecrementSpacingUnitTest.php
Labels: Type: enhancement, Standard: Generic

#75 PSR12.Traits.UseDeclaration: check spacing after use keyword for multi-line statements + fix typo
  CHANGELOG.md
  src/Standards/PSR12/Sniffs/Traits/UseDeclarationSniff.php
  src/Standards/PSR12/Tests/Traits/UseDeclarationUnitTest.inc
  src/Standards/PSR12/Tests/Traits/UseDeclarationUnitTest.php
Labels: Type: bug, Type: enhancement, Standard: PSR12

#50 Generic/UnusedFunctionParameter: bug fix x 2 (magic methods and error codes)
  CHANGELOG.md
  src/Standards/Generic/Sniffs/CodeAnalysis/UnusedFunctionParameterSniff.php
  src/Standards/Generic/Tests/CodeAnalysis/UnusedFunctionParameterUnitTest.inc
  src/Standards/Generic/Tests/CodeAnalysis/UnusedFunctionParameterUnitTest.php
Labels: Type: bug, Standard: Generic

#134 PEAR/FunctionCallSignature: minor tweaks
  src/Standards/PEAR/Sniffs/Functions/FunctionCallSignatureSniff.php
  src/Standards/PEAR/Tests/Functions/FunctionCallSignatureUnitTest.inc
  src/Standards/PEAR/Tests/Functions/FunctionCallSignatureUnitTest.inc.fixed
  src/Standards/PEAR/Tests/Functions/FunctionCallSignatureUnitTest.php
Labels: Type: chores/QA, Standard: PEAR, Status: triage

#60 New `Performance` report to measure sniff run time performance
  CHANGELOG.md
  src/Config.php
  src/Files/File.php
  src/Reports/Performance.php
  src/Util/Timing.php
Labels: Type: enhancement, Core Component: Config & Ruleset & CLI options, Core Component: File, Core Component: Reports, Core Component: Utils, Focus: Performance

#63 Generic/LowerCaseType: improve performance
  CHANGELOG.md
  src/Standards/Generic/Sniffs/PHP/LowerCaseTypeSniff.php
Labels: Type: chores/QA, Focus: Performance, Standard: Generic

#64 PSR12/OpenTag: improve performance
  CHANGELOG.md
  src/Standards/PSR12/Sniffs/Files/OpenTagSniff.php
Labels: Type: chores/QA, Focus: Performance, Standard: PSR12

#135 Composer: revert package name change
  CHANGELOG.md
  README.md
  composer.json
Labels: Type: breaking change, Type: meta

#136 Squiz/ControlSignature: add missing property reset
  src/Standards/Squiz/Tests/ControlStructures/ControlSignatureUnitTest.inc
  src/Standards/Squiz/Tests/ControlStructures/ControlSignatureUnitTest.inc.fixed
Labels: Type: chores/QA, Standard: Squiz, Status: triage

#128 Correct pluralization of the word space/spaces depending on the spacing value
  src/Standards/Generic/Sniffs/Arrays/ArrayIndentSniff.php
  src/Standards/Generic/Sniffs/Formatting/SpaceAfterCastSniff.php
  src/Standards/Generic/Sniffs/Formatting/SpaceAfterNotSniff.php
  src/Standards/Generic/Tests/Arrays/ArrayIndentUnitTest.inc
  src/Standards/Generic/Tests/Arrays/ArrayIndentUnitTest.inc.fixed
  src/Standards/Generic/Tests/Arrays/ArrayIndentUnitTest.php
  src/Standards/Squiz/Sniffs/Arrays/ArrayDeclarationSniff.php
  src/Standards/Squiz/Sniffs/Commenting/DocCommentAlignmentSniff.php
  src/Standards/Squiz/Sniffs/ControlStructures/ControlSignatureSniff.php
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.1.inc
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.2.inc
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.2.inc.fixed
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.php
  src/Standards/Squiz/Tests/ControlStructures/ControlSignatureUnitTest.inc
  src/Standards/Squiz/Tests/ControlStructures/ControlSignatureUnitTest.inc.fixed
  src/Standards/Squiz/Tests/ControlStructures/ControlSignatureUnitTest.php
Labels: Focus: Comments/Docblocks, Standard: Generic, Standard: Squiz

#119 Generic/LowerCaseConstant: improve performance
  CHANGELOG.md
  src/Standards/Generic/Sniffs/PHP/LowerCaseConstantSniff.php
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.inc
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.inc.fixed
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.php
Labels: Type: enhancement, Focus: Performance, Standard: Generic

#139 Fix testsuite
  phpstan.neon.dist
Labels: Status: awaiting feedback, Type: chores/QA

#140 Composer: sort of "normalize" the file
  composer.json
Labels: Type: chores/QA

#141 GH Actions/label mngmnt: various tweaks
  .github/workflows/label-merge-conflicts.yml
  .github/workflows/label-remove-outdated.yml
Labels: Type: chores/QA, Status: triage

#142 GH Actions: test workflow improvements
  .github/workflows/build-phar.yml
  .github/workflows/quicktest.yml
  .github/workflows/test.yml
Labels: Type: chores/QA

#145 GH Actions: few small workflow tweaks
  .github/workflows/test.yml
Labels: Type: chores/QA

#153 Squiz/NonExecutableCode: move parse error test to its own file
  src/Standards/Squiz/Tests/PHP/NonExecutableCodeUnitTest.1.inc
  src/Standards/Squiz/Tests/PHP/NonExecutableCodeUnitTest.4.inc
Labels: Type: chores/QA, Status: triage

#151 Squiz/Heredoc: tweak the tests
  src/Standards/Squiz/Tests/PHP/HeredocUnitTest.1.inc
  src/Standards/Squiz/Tests/PHP/HeredocUnitTest.2.inc
  src/Standards/Squiz/Tests/PHP/HeredocUnitTest.php
Labels: Type: chores/QA

#125 Report Full: fix two line wrapping bugs
  src/Reports/Full.php
Labels: Status: awaiting feedback, Type: bug, Core Component: Reports

#154 Report Full: fix delimiter line bug
  src/Reports/Full.php
Labels: Type: bug, Core Component: Reports, Status: triage

#158 Doc: mention the signing key for phars
  README.md
Labels: Status: awaiting feedback, Type: documentation

#159 Add documentation for the SpaceBeforeCast sniff
  src/Standards/Generic/Docs/Formatting/SpaceBeforeCastStandard.xml
Labels: Type: documentation, Standard: Generic

#163 Generic/AssignmentInCondition: improve sniff code coverage
  src/Standards/Generic/Tests/CodeAnalysis/AssignmentInConditionUnitTest.1.inc
  src/Standards/Generic/Tests/CodeAnalysis/AssignmentInConditionUnitTest.2.inc
  src/Standards/Generic/Tests/CodeAnalysis/AssignmentInConditionUnitTest.3.inc
  src/Standards/Generic/Tests/CodeAnalysis/AssignmentInConditionUnitTest.4.inc
  src/Standards/Generic/Tests/CodeAnalysis/AssignmentInConditionUnitTest.5.inc
  src/Standards/Generic/Tests/CodeAnalysis/AssignmentInConditionUnitTest.6.inc
  src/Standards/Generic/Tests/CodeAnalysis/AssignmentInConditionUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#150 Squiz/ScopeKeywordSpacing: add more defensive coding + extra tests
  src/Standards/Squiz/Sniffs/WhiteSpace/ScopeKeywordSpacingSniff.php
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.2.inc
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.3.inc
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.3.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.php
Labels: Type: bug, Type: chores/QA, Standard: Squiz

#168 Replace the default value of the first parameter of getErrorList() and getWarningList() with an empty string
  src/Standards/Generic/Tests/Commenting/FixmeUnitTest.php
  src/Standards/Generic/Tests/Commenting/TodoUnitTest.php
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.php
  src/Standards/Generic/Tests/Formatting/MultipleStatementAlignmentUnitTest.php
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.php
  src/Standards/Generic/Tests/Strings/UnnecessaryStringConcatUnitTest.php
  src/Standards/Generic/Tests/VersionControl/GitMergeConflictUnitTest.php
  src/Standards/Generic/Tests/WhiteSpace/DisallowSpaceIndentUnitTest.php
  src/Standards/Generic/Tests/WhiteSpace/IncrementDecrementSpacingUnitTest.php
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.php
  src/Standards/MySource/Tests/Debug/FirebugConsoleUnitTest.php
  src/Standards/MySource/Tests/Objects/AssignThisUnitTest.php
  src/Standards/MySource/Tests/Objects/CreateWidgetTypeCallbackUnitTest.php
  src/Standards/MySource/Tests/Strings/JoinStringsUnitTest.php
  src/Standards/PEAR/Tests/Commenting/FileCommentUnitTest.php
  src/Standards/PEAR/Tests/ControlStructures/MultiLineConditionUnitTest.php
  src/Standards/PEAR/Tests/Functions/FunctionCallSignatureUnitTest.php
  src/Standards/PEAR/Tests/Functions/FunctionDeclarationUnitTest.php
  src/Standards/Squiz/Tests/Commenting/DocCommentAlignmentUnitTest.php
  src/Standards/Squiz/Tests/Commenting/FileCommentUnitTest.php
  src/Standards/Squiz/Tests/Commenting/InlineCommentUnitTest.php
  src/Standards/Squiz/Tests/Commenting/LongConditionClosingCommentUnitTest.php
  src/Standards/Squiz/Tests/Commenting/PostStatementCommentUnitTest.php
  src/Standards/Squiz/Tests/ControlStructures/ControlSignatureUnitTest.php
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.php
  src/Standards/Squiz/Tests/ControlStructures/SwitchDeclarationUnitTest.php
  src/Standards/Squiz/Tests/Formatting/OperatorBracketUnitTest.php
  src/Standards/Squiz/Tests/Functions/MultiLineFunctionDeclarationUnitTest.php
  src/Standards/Squiz/Tests/Objects/DisallowObjectStringIndexUnitTest.php
  src/Standards/Squiz/Tests/Operators/ComparisonOperatorUsageUnitTest.php
  src/Standards/Squiz/Tests/PHP/CommentedOutCodeUnitTest.php
  src/Standards/Squiz/Tests/PHP/DisallowInlineIfUnitTest.php
  src/Standards/Squiz/Tests/PHP/DisallowSizeFunctionsInLoopsUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/ControlStructureSpacingUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/FunctionClosingBraceSpaceUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/FunctionOpeningBraceSpaceUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/LogicalOperatorSpacingUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/OperatorSpacingUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/SemicolonSpacingUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/SuperfluousWhitespaceUnitTest.php
Labels: Type: chores/QA

#169 Enhance/improve info for contributors
  .github/CONTRIBUTING.md
  .github/pull_request_template.md
Labels: Type: chores/QA, Type: documentation

#174 Generic/ArbitraryParenthesesSpacing: improve sniff code coverage
  src/Standards/Generic/Tests/WhiteSpace/ArbitraryParenthesesSpacingUnitTest.1.inc
  src/Standards/Generic/Tests/WhiteSpace/ArbitraryParenthesesSpacingUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/ArbitraryParenthesesSpacingUnitTest.2.inc
  src/Standards/Generic/Tests/WhiteSpace/ArbitraryParenthesesSpacingUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#176 Generic/LanguageConstructSpacing: improve sniff code coverage
  src/Standards/Generic/Tests/WhiteSpace/LanguageConstructSpacingUnitTest.1.inc
  src/Standards/Generic/Tests/WhiteSpace/LanguageConstructSpacingUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/LanguageConstructSpacingUnitTest.2.inc
  src/Standards/Generic/Tests/WhiteSpace/LanguageConstructSpacingUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#179 Generic/OpeningBraceSameLine: improve code coverage
  src/Standards/Generic/Tests/Classes/OpeningBraceSameLineUnitTest.inc
  src/Standards/Generic/Tests/Classes/OpeningBraceSameLineUnitTest.inc.fixed
  src/Standards/Generic/Tests/Classes/OpeningBraceSameLineUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#180 Generic/NoSilencedErrors: improve test coverage
  src/Standards/Generic/Tests/PHP/NoSilencedErrorsUnitTest.inc
  src/Standards/Generic/Tests/PHP/NoSilencedErrorsUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#190 GH Actions: minor tweak to merge conflict workflow
  .github/workflows/label-merge-conflicts.yml
Labels: Type: chores/QA

#192 PSR12/ControlStructureSpacing: small tweak
  src/Standards/PSR12/Sniffs/ControlStructures/ControlStructureSpacingSniff.php
Labels: Type: chores/QA, Focus: Performance, Standard: PSR12

#193 Docs: various minor fixes
  src/Config.php
  src/Reports/Performance.php
  src/Ruleset.php
  src/Util/Timing.php
Labels: Type: chores/QA, Type: documentation, Core Component: Config & Ruleset & CLI options, Core Component: Reports, Core Component: Utils

#191 Runner::processFile(): remove stray passed params
  src/Runner.php
Labels: Type: chores/QA

#194 File::findFirstOnLine(): minor correction to the docs
  src/Files/File.php
Labels: Type: chores/QA, Type: documentation, Core Component: File

#200 File: update inline comment
  src/Files/File.php
Labels: Type: chores/QA, Core Component: File

#201 Filters: add tests for GitModified and GitStaged filters + improve existing Filter test
  src/Filters/GitModified.php
  src/Filters/GitStaged.php
  tests/Core/Filters/AbstractFilterTestCase.php
  tests/Core/Filters/Filter/AcceptTest.php
  tests/Core/Filters/GitModifiedTest.php
  tests/Core/Filters/GitStagedTest.php
Labels: Type: chores/QA, Core Component: Other

#202 Filters/ExactMatch: rename some private properties
  src/Filters/ExactMatch.php
  src/Filters/GitModified.php
  src/Filters/GitStaged.php
Labels: Type: chores/QA, Core Component: Other

#204 GH Actions: downgrade actions/[upload|download]-artifact back from 4 to 3
  .github/workflows/test.yml
Labels: Type: chores/QA
