Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2024-02, with the labels that each got.

#308 Runner: allow the Performance report when running `phpcbf`
  src/Runner.php
Labels: Type: enhancement, Core Component: Other, Focus: Performance

#309 PHP 8.3 | Tokenizer/PHP: add support for readonly anonymous classes
  src/Tokenizers/PHP.php
  tests/Core/Tokenizer/AnonClassParenthesisOwnerTest.inc
  tests/Core/Tokenizer/AnonClassParenthesisOwnerTest.php
  tests/Core/Tokenizer/BackfillReadonlyTest.inc
  tests/Core/Tokenizer/BackfillReadonlyTest.php
  tests/Core/Tokenizer/ContextSensitiveKeywordsTest.inc
  tests/Core/Tokenizer/ContextSensitiveKeywordsTest.php
Labels: Type: enhancement, Core Component: Tokenizer, Focus: Modern PHP

#323 PHP 8.3 | Add tests with readonly anonymous classes to various sniffs
  src/Standards/PSR12/Tests/Classes/AnonClassDeclarationUnitTest.inc
  src/Standards/PSR12/Tests/Classes/AnonClassDeclarationUnitTest.inc.fixed
  src/Standards/PSR12/Tests/Classes/AnonClassDeclarationUnitTest.php
  src/Standards/Squiz/Tests/Classes/LowercaseClassKeywordsUnitTest.inc
  src/Standards/Squiz/Tests/Classes/LowercaseClassKeywordsUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Classes/LowercaseClassKeywordsUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.php
Labels: Type: chores/QA, Focus: Modern PHP, Standard: PSR12, Standard: Squiz

#197 New `Generic.CodeAnalysis.RequireExplicitBooleanOperatorPrecedence` sniff
  src/Standards/Generic/Docs/CodeAnalysis/RequireExplicitBooleanOperatorPrecedenceStandard.xml
  src/Standards/Generic/Sniffs/CodeAnalysis/RequireExplicitBooleanOperatorPrecedenceSniff.php
  src/Standards/Generic/Tests/CodeAnalysis/RequireExplicitBooleanOperatorPrecedenceUnitTest.inc
  src/Standards/Generic/Tests/CodeAnalysis/RequireExplicitBooleanOperatorPrecedenceUnitTest.php
Labels: Type: enhancement, Standard: Generic

#326 CS: add the RequireExplicitBooleanOperatorPrecedence sniff to PHPCS native ruleset
  phpcs.xml.dist
  src/Standards/PEAR/Sniffs/Commenting/FunctionCommentSniff.php
  src/Standards/Squiz/Sniffs/WhiteSpace/MemberVarSpacingSniff.php
  src/Tokenizers/PHP.php
Labels: Type: chores/QA, Core Component: Tokenizer, Focus: Comments/Docblocks, Standard: PEAR, Standard: Squiz

#328 Fixed documentation for -s option.
  src/Config.php
Labels: Type: documentation, Core Component: Config & Ruleset & CLI options

#324 PHP 8.3 | PSR12/ClassInstantiation: allow for readonly anonymous classes
  src/Standards/PSR12/Sniffs/Classes/ClassInstantiationSniff.php
  src/Standards/PSR12/Tests/Classes/ClassInstantiationUnitTest.inc
  src/Standards/PSR12/Tests/Classes/ClassInstantiationUnitTest.inc.fixed
Labels: Type: bug, Type: enhancement, Focus: Modern PHP, Standard: PSR12

#321 PHP 8.3 | Tokenizer/PHP: add support for typed OO constants
  src/Tokenizers/PHP.php
  tests/Core/Tokenizer/ArrayKeywordTest.inc
  tests/Core/Tokenizer/ArrayKeywordTest.php
  tests/Core/Tokenizer/BitwiseOrTest.inc
  tests/Core/Tokenizer/BitwiseOrTest.php
  tests/Core/Tokenizer/ContextSensitiveKeywordsTest.inc
  tests/Core/Tokenizer/ContextSensitiveKeywordsTest.php
  tests/Core/Tokenizer/OtherContextSensitiveKeywordsTest.inc
  tests/Core/Tokenizer/OtherContextSensitiveKeywordsTest.php
  tests/Core/Tokenizer/TypeIntersectionTest.inc
  tests/Core/Tokenizer/TypeIntersectionTest.php
  tests/Core/Tokenizer/TypedConstantsTest.inc
  tests/Core/Tokenizer/TypedConstantsTest.php
Labels: Type: enhancement, Core Component: Tokenizer, Focus: Modern PHP

#329 Squiz/IncrementDecrementUsage: various bug fixes - whitespace/comment tolerance
  src/Standards/Squiz/Sniffs/Operators/IncrementDecrementUsageSniff.php
  src/Standards/Squiz/Tests/Operators/IncrementDecrementUsageUnitTest.inc
  src/Standards/Squiz/Tests/Operators/IncrementDecrementUsageUnitTest.php
Labels: Type: bug, Standard: Squiz

#336 Test-suite - Show warning when ".fixed" file not found
  tests/Standards/AbstractSniffUnitTest.php
Labels: Type: enhancement

#330 PHP 8.3 | Generic/LowerCaseConstant: add support for typed constants
  src/Standards/Generic/Sniffs/PHP/LowerCaseConstantSniff.php
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.inc
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.inc.fixed
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.php
Labels: Type: enhancement, Focus: Modern PHP, Standard: Generic

#331 PHP 8.3 | Generic/LowerCaseType: add support for typed constants
  src/Standards/Generic/Sniffs/PHP/LowerCaseTypeSniff.php
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.inc
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.inc.fixed
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.php
Labels: Type: enhancement, Focus: Modern PHP, Standard: Generic

#332 PHP 8.3 | Generic/UpperCaseConstantName: add support for typed constants
  src/Standards/Generic/Sniffs/NamingConventions/UpperCaseConstantNameSniff.php
  src/Standards/Generic/Tests/NamingConventions/UpperCaseConstantNameUnitTest.inc
  src/Standards/Generic/Tests/NamingConventions/UpperCaseConstantNameUnitTest.php
Labels: Type: enhancement, Focus: Modern PHP, Standard: Generic

#338 Various small docs tweaks
  .github/CONTRIBUTING.md
  CHANGELOG.md
  README.md
  tests/Core/Config/ReportWidthTest.php
  tests/Core/Filters/AbstractFilterTestCase.php
  tests/Core/Tokenizer/DoubleArrowTest.php
  tests/Core/Tokenizer/ShortArrayTest.php
Labels: Type: documentation

#339 CS: various minor fixes
  src/Standards/Generic/Tests/WhiteSpace/DisallowTabIndentUnitTest.php
  src/Standards/PSR12/Sniffs/Classes/AnonClassDeclarationSniff.php
  src/Standards/Squiz/Sniffs/PHP/InnerFunctionsSniff.php
  src/Standards/Squiz/Sniffs/PHP/NonExecutableCodeSniff.php
  src/Tokenizers/PHP.php
  tests/Core/AbstractMethodUnitTest.php
  tests/Core/File/GetClassPropertiesTest.php
  tests/Core/Filters/AbstractFilterTestCase.php
  tests/Core/Filters/Filter/AcceptTest.php
Labels: Type: chores/QA

#340 `Squiz.Commenting.ClosingDeclarationComment` - add missing `.fixed` file for test-suite, and fix a bug found during
  src/Standards/Squiz/Sniffs/Commenting/ClosingDeclarationCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.inc.fixed
Labels: Type: bug, Focus: Comments/Docblocks, Standard: Squiz

#341 Changelog for the 3.9.0 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta

#345 Tests: data set keys should match parameter names
  tests/Core/Config/ReportWidthTest.php
  tests/Core/ErrorSuppressionTest.php
  tests/Core/File/IsReferenceTest.php
Labels: Type: chores/QA

#346 Remove more remnants of PEAR installation support
  bin/phpcbf
  bin/phpcs
  tests/bootstrap.php
Labels: Type: chores/QA

#347 CS: clean up use statements
  src/Config.php
  src/Exceptions/DeepExitException.php
  src/Exceptions/RuntimeException.php
  src/Exceptions/TokenizerException.php
  src/Files/DummyFile.php
  src/Files/File.php
  src/Files/FileList.php
  src/Files/LocalFile.php
  src/Filters/ExactMatch.php
  src/Filters/Filter.php
  src/Filters/GitModified.php
  src/Filters/GitStaged.php
  src/Fixer.php
  src/Generators/Generator.php
  src/Generators/HTML.php
  src/Generators/Markdown.php
  src/Generators/Text.php
  src/Reports/Cbf.php
  src/Reports/Checkstyle.php
  src/Reports/Code.php
  src/Reports/Full.php
  src/Reports/Junit.php
  src/Reports/Summary.php
  src/Reports/Xml.php
  src/Ruleset.php
  src/Runner.php
  src/Sniffs/AbstractPatternSniff.php
  src/Sniffs/AbstractScopeSniff.php
  src/Standards/Generic/Sniffs/PHP/DeprecatedFunctionsSniff.php
  src/Standards/PSR2/Sniffs/Classes/PropertyDeclarationSniff.php
  src/Standards/Zend/Sniffs/Files/ClosingTagSniff.php
  src/Standards/Zend/Sniffs/NamingConventions/ValidVariableNameSniff.php
  src/Tokenizers/Comment.php
  src/Tokenizers/PHP.php
  src/Tokenizers/Tokenizer.php
  src/Util/Cache.php
  src/Util/Common.php
  src/Util/Standards.php
  tests/Core/AbstractMethodUnitTest.php
  tests/Core/AllTests.php
  tests/Core/ErrorSuppressionTest.php
  tests/Core/Tokenizer/AbstractTokenizerTestCase.php
  tests/FileList.php
  tests/Standards/AbstractSniffUnitTest.php
  tests/Standards/AllSniffs.php
  tests/TestSuite.php
  tests/TestSuite7.php
Labels: Type: chores/QA

#349 CS: always import all used classes [3]
  autoload.php
  scripts/build-phar.php
Labels: Type: chores/QA

#350 Tests/RulesetInclusion: fix reference to old repo
  tests/Core/Ruleset/RuleInclusionTest.xml
Labels: Type: chores/QA

#354 Tests/Core: performance improvement
  tests/Core/AbstractMethodUnitTest.php
  tests/Core/Tokenizer/AbstractTokenizerTestCase.php
Labels: Type: chores/QA

#356 Tests: minor stability tweak
  tests/Core/AbstractMethodUnitTest.php
  tests/Core/Tokenizer/AbstractTokenizerTestCase.php
Labels: Type: chores/QA

#358 Add links to all issues in the 3.5.5 and 3.5.4 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#359 Add links to all issues in the 3.5.3 and 3.5.2 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation, Status: triage

#250 Generic/UselessOverridingMethod: improve code coverage
  src/Standards/Generic/Tests/CodeAnalysis/UselessOverridingMethodUnitTest.1.inc
  src/Standards/Generic/Tests/CodeAnalysis/UselessOverridingMethodUnitTest.2.inc
  src/Standards/Generic/Tests/CodeAnalysis/UselessOverridingMethodUnitTest.3.inc
  src/Standards/Generic/Tests/CodeAnalysis/UselessOverridingMethodUnitTest.4.inc
  src/Standards/Generic/Tests/CodeAnalysis/UselessOverridingMethodUnitTest.5.inc
  src/Standards/Generic/Tests/CodeAnalysis/UselessOverridingMethodUnitTest.inc
  src/Standards/Generic/Tests/CodeAnalysis/UselessOverridingMethodUnitTest.php
Labels: Status: awaiting feedback, Type: chores/QA, Standard: Generic

#236 Generic/RequireStrictTypes: add XML documentation
  src/Standards/Generic/Docs/PHP/RequireStrictTypesStandard.xml
Labels: Status: awaiting feedback, Type: documentation, Standard: Generic

#360 Generic/ByteOrderMark: small performance improvement
  src/Standards/Generic/Sniffs/Files/ByteOrderMarkSniff.php
Labels: Focus: Performance, Standard: Generic

#361 [Documentation] Squiz: normalise indentation of closing CDATA tags
  src/Standards/Squiz/Docs/Arrays/ArrayBracketSpacingStandard.xml
  src/Standards/Squiz/Docs/Classes/LowercaseClassKeywordsStandard.xml
  src/Standards/Squiz/Docs/Classes/SelfMemberReferenceStandard.xml
  src/Standards/Squiz/Docs/Commenting/DocCommentAlignmentStandard.xml
  src/Standards/Squiz/Docs/Commenting/FunctionCommentThrowTagStandard.xml
  src/Standards/Squiz/Docs/ControlStructures/ForEachLoopDeclarationStandard.xml
  src/Standards/Squiz/Docs/ControlStructures/ForLoopDeclarationStandard.xml
  src/Standards/Squiz/Docs/ControlStructures/LowercaseDeclarationStandard.xml
  src/Standards/Squiz/Docs/Functions/FunctionDuplicateArgumentStandard.xml
  src/Standards/Squiz/Docs/Functions/LowercaseFunctionKeywordsStandard.xml
  src/Standards/Squiz/Docs/Scope/StaticThisUsageStandard.xml
  src/Standards/Squiz/Docs/Strings/EchoedStringsStandard.xml
  src/Standards/Squiz/Docs/WhiteSpace/CastSpacingStandard.xml
  src/Standards/Squiz/Docs/WhiteSpace/FunctionOpeningBraceStandard.xml
  src/Standards/Squiz/Docs/WhiteSpace/LanguageConstructSpacingStandard.xml
  src/Standards/Squiz/Docs/WhiteSpace/ObjectOperatorSpacingStandard.xml
  src/Standards/Squiz/Docs/WhiteSpace/ScopeKeywordSpacingStandard.xml
  src/Standards/Squiz/Docs/WhiteSpace/SemicolonSpacingStandard.xml
Labels: Type: documentation, Standard: Squiz

#362 Add links to all issues in the 3.5.1 and 3.5.0 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#351 Tests: improve performance of the sniff tests
  tests/Standards/AbstractSniffUnitTest.php
Labels: Status: awaiting feedback, Type: chores/QA, Focus: Performance

#355 Fixer: improve performance of generateDiff()
  .gitattributes
  src/Fixer.php
  tests/Core/Fixer/Fixtures/GenerateDiffTest-BlankLinesAtEnd.diff
  tests/Core/Fixer/Fixtures/GenerateDiffTest-BlankLinesAtEnd.inc
  tests/Core/Fixer/Fixtures/GenerateDiffTest-BlankLinesAtStart.diff
  tests/Core/Fixer/Fixtures/GenerateDiffTest-BlankLinesAtStart.inc
  tests/Core/Fixer/Fixtures/GenerateDiffTest-LineAdded.diff
  tests/Core/Fixer/Fixtures/GenerateDiffTest-LineAdded.inc
  tests/Core/Fixer/Fixtures/GenerateDiffTest-LineRemoved.diff
  tests/Core/Fixer/Fixtures/GenerateDiffTest-LineRemoved.inc
  tests/Core/Fixer/Fixtures/GenerateDiffTest-NoDiff.diff
  tests/Core/Fixer/Fixtures/GenerateDiffTest-NoDiff.inc
  tests/Core/Fixer/Fixtures/GenerateDiffTest-NoTrailingWhitespace.diff
  tests/Core/Fixer/Fixtures/GenerateDiffTest-NoTrailingWhitespace.inc
  tests/Core/Fixer/Fixtures/GenerateDiffTest-TabsToSpaces.diff
  tests/Core/Fixer/Fixtures/GenerateDiffTest-TabsToSpaces.inc
  tests/Core/Fixer/Fixtures/GenerateDiffTest-VarNameChanged.diff
  tests/Core/Fixer/Fixtures/GenerateDiffTest-VarNameChanged.inc
  tests/Core/Fixer/Fixtures/GenerateDiffTest-WhiteSpaceAtEnd.diff
  tests/Core/Fixer/Fixtures/GenerateDiffTest-WhiteSpaceAtEnd.inc
  tests/Core/Fixer/Fixtures/GenerateDiffTest-WhiteSpaceAtStart.diff
  tests/Core/Fixer/Fixtures/GenerateDiffTest-WhiteSpaceAtStart.inc
  tests/Core/Fixer/Fixtures/GenerateDiffTest-WindowsLineEndings.inc
  tests/Core/Fixer/Fixtures/GenerateDiffTest.inc
  tests/Core/Fixer/GenerateDiffTest.php
Labels: Status: awaiting feedback, Type: chores/QA, Core Component: Fixer, Core Component: Reports, Focus: Performance

#364 GetTokensAsStringTest: fix format of `@dataProvider` tag
  tests/Core/File/GetTokensAsStringTest.php
Labels: Type: chores/QA

#365 [Documentation]: normalise indentation of CDATA tags in sniff documentation
  src/Standards/Generic/Docs/PHP/DisallowRequestSuperglobalStandard.xml
  src/Standards/PSR12/Docs/Functions/NullableTypeDeclarationStandard.xml
Labels: Type: chores/QA, Type: documentation

#352 [Documentation] Squiz: Superfluous Whitespace
  src/Standards/Squiz/Docs/WhiteSpace/SuperfluousWhitespaceStandard.xml
Labels: Status: awaiting feedback, Type: documentation, Standard: Squiz

#367 Add links to all issues in the 3.4.2, 3.4.1 and 3.4.0 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation
