Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2024-08, with the labels that each got.

#579 AbstractPatternSniff: prevent PHP notice
  src/Sniffs/AbstractPatternSniff.php
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationUnitTest.1.inc
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationUnitTest.2.inc
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationUnitTest.3.inc
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationUnitTest.php
Labels: Type: bug, Core Component: Other, Focus: Fixer Conflicts

#580 Squiz/OperatorBracket: prevent PHP notices during live coding
  src/Standards/Squiz/Sniffs/Formatting/OperatorBracketSniff.php
  src/Standards/Squiz/Tests/Formatting/OperatorBracketUnitTest.1.inc
  src/Standards/Squiz/Tests/Formatting/OperatorBracketUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/Formatting/OperatorBracketUnitTest.2.inc
  src/Standards/Squiz/Tests/Formatting/OperatorBracketUnitTest.3.inc
  src/Standards/Squiz/Tests/Formatting/OperatorBracketUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: Squiz

#585 Tokenizer: apply tab replacement to heredoc/nowdoc opener
  src/Tokenizers/Tokenizer.php
  tests/Core/Tokenizer/Tokenizer/HeredocNowdocOpenerTest.inc
  tests/Core/Tokenizer/Tokenizer/HeredocNowdocOpenerTest.php
Labels: Type: bug, Core Component: Tokenizer

#587 Squiz/SelfMemberReference: bug fix - false negative with namespace keyword as operator
  src/Standards/Squiz/Sniffs/Classes/SelfMemberReferenceSniff.php
  src/Standards/Squiz/Tests/Classes/SelfMemberReferenceUnitTest.inc
  src/Standards/Squiz/Tests/Classes/SelfMemberReferenceUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Classes/SelfMemberReferenceUnitTest.php
Labels: Type: bug, Standard: Squiz

#594 Fix small typo in the changelog file
  CHANGELOG.md
Labels: Type: documentation

#597 Generic.PHP.LowerCaseKeyword: require lowercase anonymous class keyword
  src/Standards/Generic/Sniffs/PHP/LowerCaseKeywordSniff.php
  src/Standards/Generic/Tests/PHP/LowerCaseKeywordUnitTest.inc
  src/Standards/Generic/Tests/PHP/LowerCaseKeywordUnitTest.inc.fixed
  src/Standards/Generic/Tests/PHP/LowerCaseKeywordUnitTest.php
Labels: Type: bug, Standard: Generic

#600 Generic/LowerCaseKeyword: remove some redundant code
  src/Standards/Generic/Sniffs/PHP/LowerCaseKeywordSniff.php
  src/Standards/Generic/Tests/PHP/LowerCaseKeywordUnitTest.inc
  src/Standards/Generic/Tests/PHP/LowerCaseKeywordUnitTest.inc.fixed
  src/Standards/Generic/Tests/PHP/LowerCaseKeywordUnitTest.php
Labels: Type: chores/QA, Standard: Generic
