Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2024-11, with the labels that each got.

#659 Generic/TraitNameSuffix: improve code coverage
  src/Standards/Generic/Sniffs/NamingConventions/TraitNameSuffixSniff.php
  src/Standards/Generic/Tests/NamingConventions/TraitNameSuffixUnitTest.1.inc
  src/Standards/Generic/Tests/NamingConventions/TraitNameSuffixUnitTest.2.inc
  src/Standards/Generic/Tests/NamingConventions/TraitNameSuffixUnitTest.inc
  src/Standards/Generic/Tests/NamingConventions/TraitNameSuffixUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#652 Generic/ConstructorName: bug fix x 2
  src/Standards/Generic/Sniffs/NamingConventions/ConstructorNameSniff.php
  src/Standards/Generic/Tests/NamingConventions/ConstructorNameUnitTest.inc
  src/Standards/Generic/Tests/NamingConventions/ConstructorNameUnitTest.php
Labels: Type: bug, Standard: Generic

#653 Generic/DuplicateClassName: 4 bug fixes + performance improvement
  src/Standards/Generic/Sniffs/Classes/DuplicateClassNameSniff.php
  src/Standards/Generic/Tests/Classes/DuplicateClassNameUnitTest.10.inc
  src/Standards/Generic/Tests/Classes/DuplicateClassNameUnitTest.11.inc
  src/Standards/Generic/Tests/Classes/DuplicateClassNameUnitTest.7.inc
  src/Standards/Generic/Tests/Classes/DuplicateClassNameUnitTest.8.inc
  src/Standards/Generic/Tests/Classes/DuplicateClassNameUnitTest.9.inc
  src/Standards/Generic/Tests/Classes/DuplicateClassNameUnitTest.97.inc
  src/Standards/Generic/Tests/Classes/DuplicateClassNameUnitTest.98.inc
  src/Standards/Generic/Tests/Classes/DuplicateClassNameUnitTest.99.inc
  src/Standards/Generic/Tests/Classes/DuplicateClassNameUnitTest.php
Labels: Type: bug, Focus: Performance, Standard: Generic

#658 Util\Timing::getHumanReadableDuration: improve time display
  src/Util/Timing.php
  tests/Core/Util/Timing/GetHumanReadableDurationTest.php
Labels: Type: chores/QA, Type: enhancement, Core Component: Utils

#647 PHP 8.3 | Tokenizer/PHP: support "yield from" with comments
  src/Standards/Generic/Sniffs/WhiteSpace/DisallowTabIndentSniff.php
  src/Standards/Generic/Sniffs/WhiteSpace/LanguageConstructSpacingSniff.php
  src/Standards/Generic/Tests/PHP/LowerCaseKeywordUnitTest.inc
  src/Standards/Generic/Tests/PHP/LowerCaseKeywordUnitTest.inc.fixed
  src/Standards/Generic/Tests/PHP/LowerCaseKeywordUnitTest.php
  src/Standards/Generic/Tests/WhiteSpace/DisallowSpaceIndentUnitTest.1.inc
  src/Standards/Generic/Tests/WhiteSpace/DisallowSpaceIndentUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/DisallowSpaceIndentUnitTest.2.inc
  src/Standards/Generic/Tests/WhiteSpace/DisallowSpaceIndentUnitTest.2.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/DisallowSpaceIndentUnitTest.php
  src/Standards/Generic/Tests/WhiteSpace/DisallowTabIndentUnitTest.1.inc
  src/Standards/Generic/Tests/WhiteSpace/DisallowTabIndentUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/DisallowTabIndentUnitTest.php
  src/Standards/Generic/Tests/WhiteSpace/LanguageConstructSpacingUnitTest.1.inc
  src/Standards/Generic/Tests/WhiteSpace/LanguageConstructSpacingUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/LanguageConstructSpacingUnitTest.php
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.1.inc
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.2.inc
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.2.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.3.inc
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.3.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.php
  src/Tokenizers/PHP.php
  src/Tokenizers/Tokenizer.php
  tests/Core/Tokenizers/PHP/YieldTest.inc
  tests/Core/Tokenizers/PHP/YieldTest.php
  tests/Core/Tokenizers/Tokenizer/CreatePositionMapYieldFromTest.inc
  tests/Core/Tokenizers/Tokenizer/CreatePositionMapYieldFromTest.php
Labels: Type: enhancement, Core Component: Tokenizer, Focus: Modern PHP, Standard: Generic

#667 PHPCS ruleset: make the file level `@author` tag optional
  phpcs.xml.dist
Labels: Type: chores/QA

#668 Generators: always present docs in alphabetical order
  src/Generators/Generator.php
Labels: Type: enhancement, Core Component: Other

#669 Generators/HTML: move static string to class constant
  src/Generators/HTML.php
Labels: Type: chores/QA, Core Component: Other

#670 CS/Docs: various small tweaks
  src/Reports/Code.php
  src/Standards/Generic/Tests/WhiteSpace/HereNowdocIdentifierSpacingUnitTest.php
  tests/Core/Tokenizers/PHP/BackfillFnTokenTest.php
  tests/Core/Tokenizers/Tokenizer/CreateParenthesisNestingMapDNFTypesTest.php
Labels: Type: chores/QA, Type: documentation, Core Component: Reports

#672 Changelog for the 3.11.0 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta

#674 GH Actions/basics: add check for valid XML docs + fix two docs
  .github/workflows/validate.yml
  src/Standards/Generic/Docs/WhiteSpace/HereNowdocIdentifierSpacingStandard.xml
  src/Standards/Generic/Docs/WhiteSpace/SpreadOperatorSpacingAfterStandard.xml
Labels: Type: bug, Type: documentation, Standard: Generic

#677 GH Actions: fiddle the PHP versions and line endings for Windows builds
  .github/workflows/quicktest.yml
  .github/workflows/test.yml
Labels: Type: chores/QA

#679 Common::escapeshellcmd(): add tests
  tests/Core/Util/Common/EscapeshellcmdTest.php
Labels: Type: chores/QA, Core Component: Utils

#678 Tests: add `@group Windows` to more tests + mention in CONTRIBUTING
  .github/CONTRIBUTING.md
  .github/workflows/test.yml
  src/Standards/Generic/Tests/Debug/CSSLintUnitTest.php
  tests/Core/Fixer/GenerateDiffTest.php
Labels: Type: chores/QA, Type: documentation

#676 Common::getSniffCode(): be more lenient about sniffs not following naming conventions
  src/Util/Common.php
  tests/Core/Util/Common/GetSniffCodeTest.php
Labels: Type: bug, Core Component: Utils

#671 Generators: add initial set of tests
  .markdownlint-cli2.yaml
  src/Generators/HTML.php
  src/Generators/Markdown.php
  tests/Core/Generators/Expectations/ExpectedOutputEmpty.txt
  tests/Core/Generators/Expectations/ExpectedOutputNoDocs.html
  tests/Core/Generators/Expectations/ExpectedOutputNoDocs.md
  tests/Core/Generators/Expectations/ExpectedOutputOneDoc.html
  tests/Core/Generators/Expectations/ExpectedOutputOneDoc.md
  tests/Core/Generators/Expectations/ExpectedOutputOneDoc.txt
  tests/Core/Generators/Expectations/ExpectedOutputStructureDocs.html
  tests/Core/Generators/Expectations/ExpectedOutputStructureDocs.md
  tests/Core/Generators/Expectations/ExpectedOutputStructureDocs.txt
  tests/Core/Generators/Fixtures/HTMLDouble.php
  tests/Core/Generators/Fixtures/MarkdownDouble.php
  tests/Core/Generators/Fixtures/MockGenerator.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Structure/NoContentStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Structure/NoDocumentationElementStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Structure/OneCodeComparisonNoStandardStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Structure/OneStandardBlockCodeComparisonStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Structure/OneStandardBlockNoCodeStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Structure/OneStandardBlockTwoCodeComparisonsStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Structure/TwoStandardBlocksNoCodeStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Structure/TwoStandardBlocksOneCodeComparisonStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Structure/TwoStandardBlocksThreeCodeComparisonsStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/DummySniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Structure/DocumentationMissingSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Structure/NoContentSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Structure/NoDocumentationElementSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Structure/OneCodeComparisonNoStandardSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Structure/OneStandardBlockCodeComparisonSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Structure/OneStandardBlockNoCodeSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Structure/OneStandardBlockTwoCodeComparisonsSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Structure/TwoStandardBlocksNoCodeSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Structure/TwoStandardBlocksOneCodeComparisonSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Structure/TwoStandardBlocksThreeCodeComparisonsSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/ruleset.xml
  tests/Core/Generators/GeneratorTest.php
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
  tests/Core/Generators/NoDocsTest.xml
  tests/Core/Generators/NoValidDocsTest.xml
  tests/Core/Generators/OneDocTest.xml
  tests/Core/Generators/StructureDocsTest.xml
  tests/Core/Generators/TextTest.php
Labels: Type: bug, Type: chores/QA, Type: documentation, Core Component: Other

#685 RuleInclusionAbsoluteWindowsTest: minor tweaks
  tests/Core/Ruleset/RuleInclusionAbsoluteWindowsTest.php
Labels: Type: chores/QA

#686 Generators/Generator: minor tweak
  src/Generators/Generator.php
Labels: Type: chores/QA, Core Component: Generators

#690 RuleInclusionTest: record code coverage + one more test case
  tests/Core/Ruleset/RuleInclusionTest.php
  tests/Core/Ruleset/RuleInclusionTest.xml
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#691 Changelog for the 3.11.1 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta

#687 Generators HTML/Markdown: don't print header/footer when there are no docs
  src/Generators/HTML.php
  src/Generators/Markdown.php
  tests/Core/Generators/Expectations/ExpectedOutputNoDocs.html
  tests/Core/Generators/Expectations/ExpectedOutputNoDocs.md
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
Labels: Type: bug, Core Component: Generators

#688 Generators/Markdown: reset error_reporting to original value
  src/Generators/Markdown.php
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
Labels: Type: bug, Core Component: Generators

#695 Generators HTML/Markdown: add extra test around error silencing
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
Labels: Type: chores/QA, Core Component: Generators

#700 Tests/Ruleset/XML fixtures: add direct link between fixture and test using the fixture
  tests/Core/Ruleset/ExplainTest.php
  tests/Core/Ruleset/SetPropertyAllowedAsDeclaredTest.xml
  tests/Core/Ruleset/SetPropertyAllowedViaMagicMethodTest.xml
  tests/Core/Ruleset/SetPropertyAllowedViaStdClassTest.xml
  tests/Core/Ruleset/SetPropertyAppliesPropertyToMultipleSniffsInCategoryTest.xml
  tests/Core/Ruleset/SetPropertyDoesNotThrowErrorOnInvalidPropertyWhenSetForCategoryTest.xml
  tests/Core/Ruleset/SetPropertyDoesNotThrowErrorOnInvalidPropertyWhenSetForStandardTest.xml
  tests/Core/Ruleset/SetPropertyNotAllowedViaAttributeTest.xml
  tests/Core/Ruleset/SetPropertyThrowsErrorOnInvalidPropertyTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsEmptyDeprecationVersionTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsEmptyRemovalVersionTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsInvalidDeprecationMessageTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsInvalidDeprecationVersionTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsInvalidRemovalVersionTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsOrderTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsReportWidthTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsTest.php
  tests/Core/Ruleset/ShowSniffDeprecationsTest.xml
Labels: Type: chores/QA

#701 Tests/Ruleset/fixtures: move existing fixtures to subdirectory
  tests/Core/Ruleset/ExplainTest.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/Deprecated/WithLongReplacementSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/Deprecated/WithReplacementContainingLinuxNewlinesSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/Deprecated/WithReplacementContainingNewlinesSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/Deprecated/WithReplacementSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/Deprecated/WithoutReplacementSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/DeprecatedInvalid/EmptyDeprecationVersionSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/DeprecatedInvalid/EmptyRemovalVersionSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/DeprecatedInvalid/InvalidDeprecationMessageSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/DeprecatedInvalid/InvalidDeprecationVersionSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/DeprecatedInvalid/InvalidRemovalVersionSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SetProperty/AllowedAsDeclaredSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SetProperty/AllowedViaMagicMethodSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SetProperty/AllowedViaStdClassSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SetProperty/NotAllowedViaAttributeSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/ruleset.xml
  tests/Core/Ruleset/Fixtures/ruleset.xml
  tests/Core/Ruleset/SetPropertyAllowedAsDeclaredTest.xml
  tests/Core/Ruleset/SetPropertyAllowedViaMagicMethodTest.xml
  tests/Core/Ruleset/SetPropertyAllowedViaStdClassTest.xml
  tests/Core/Ruleset/SetPropertyNotAllowedViaAttributeTest.xml
  tests/Core/Ruleset/SetSniffPropertyTest.php
  tests/Core/Ruleset/ShowSniffDeprecationsEmptyDeprecationVersionTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsEmptyRemovalVersionTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsInvalidDeprecationMessageTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsInvalidDeprecationVersionTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsInvalidRemovalVersionTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsOrderTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsReportWidthTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsTest.php
  tests/Core/Ruleset/ShowSniffDeprecationsTest.xml
Labels: Type: chores/QA

#697 Generators/HTML: only display a TOC when there is more than one doc
  src/Generators/HTML.php
  tests/Core/Generators/Expectations/ExpectedOutputOneDoc.html
Labels: Core Component: Generators

#698 Generators/Markdown: fix footer not parsing
  src/Generators/Markdown.php
  tests/Core/Generators/Expectations/ExpectedOutputOneDoc.md
  tests/Core/Generators/Expectations/ExpectedOutputStructureDocs.md
  tests/Core/Generators/Fixtures/MarkdownDouble.php
  tests/Core/Generators/MarkdownTest.php
Labels: Type: bug, Core Component: Generators

#703 Tests: set up mechanism to allow for testing CBF specific code
  .github/CONTRIBUTING.md
  .github/workflows/quicktest.yml
  .github/workflows/test.yml
  phpunit.xml.dist
  tests/Core/Generators/GeneratorTest.php
  tests/Core/Ruleset/ExplainTest.php
  tests/Core/Ruleset/ShowSniffDeprecationsTest.php
  tests/bootstrap.php
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#704 Ruleset: add tests for custom property type handling
  tests/Core/Ruleset/ExplainTest.php
  tests/Core/Ruleset/Fixtures/PropertyTypeHandlingInline.inc
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SetProperty/PropertyTypeHandlingSniff.php
  tests/Core/Ruleset/PropertyTypeHandlingInlineTest.xml
  tests/Core/Ruleset/PropertyTypeHandlingTest.php
  tests/Core/Ruleset/PropertyTypeHandlingTest.xml
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#705 Ruleset::getIgnorePatterns(): add tests
  tests/Core/Ruleset/GetIgnorePatternsTest.php
  tests/Core/Ruleset/GetIgnorePatternsTest.xml
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#706 Ruleset::getIncludePatterns(): add tests
  tests/Core/Ruleset/GetIncludePatternsTest.php
  tests/Core/Ruleset/GetIncludePatternsTest.xml
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#710 GH Actions/test: allow concurrency for build against "main" branches
  .github/workflows/test.yml
Labels: Type: chores/QA

#702 Tests/Ruleset: introduce an abstract base TestCase and start using it
  tests/Core/Ruleset/AbstractRulesetTestCase.php
  tests/Core/Ruleset/RuleInclusionTest.php
  tests/Core/Ruleset/SetSniffPropertyTest.php
  tests/Core/Ruleset/ShowSniffDeprecationsTest.php
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#716 Generators: add tests for handling documentation titles
  tests/Core/Generators/AllValidDocsTest.xml
  tests/Core/Generators/Expectations/ExpectedOutputDocumentationTitleCase.html
  tests/Core/Generators/Expectations/ExpectedOutputDocumentationTitleCase.md
  tests/Core/Generators/Expectations/ExpectedOutputDocumentationTitleCase.txt
  tests/Core/Generators/Expectations/ExpectedOutputDocumentationTitleLength.html
  tests/Core/Generators/Expectations/ExpectedOutputDocumentationTitleLength.md
  tests/Core/Generators/Expectations/ExpectedOutputDocumentationTitleLength.txt
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Content/DocumentationTitleCaseStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Content/DocumentationTitleLengthStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Content/DocumentationTitleCaseSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Content/DocumentationTitleLengthSniff.php
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
  tests/Core/Generators/TextTest.php
Labels: Type: chores/QA, Type: documentation, Core Component: Generators

#717 Generators: add tests for handling <standard> element + use consistent encoding cross-PHP
  src/Generators/HTML.php
  src/Generators/Markdown.php
  tests/Core/Generators/Expectations/ExpectedOutputStandardBlankLines.html
  tests/Core/Generators/Expectations/ExpectedOutputStandardBlankLines.md
  tests/Core/Generators/Expectations/ExpectedOutputStandardBlankLines.txt
  tests/Core/Generators/Expectations/ExpectedOutputStandardEncoding.html
  tests/Core/Generators/Expectations/ExpectedOutputStandardEncoding.md
  tests/Core/Generators/Expectations/ExpectedOutputStandardEncoding.txt
  tests/Core/Generators/Expectations/ExpectedOutputStandardIndent.html
  tests/Core/Generators/Expectations/ExpectedOutputStandardIndent.md
  tests/Core/Generators/Expectations/ExpectedOutputStandardIndent.txt
  tests/Core/Generators/Expectations/ExpectedOutputStandardLineWrapping.html
  tests/Core/Generators/Expectations/ExpectedOutputStandardLineWrapping.md
  tests/Core/Generators/Expectations/ExpectedOutputStandardLineWrapping.txt
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Content/StandardBlankLinesStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Content/StandardEncodingStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Content/StandardIndentStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Content/StandardLineWrappingStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Content/StandardBlankLinesSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Content/StandardEncodingSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Content/StandardIndentSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Content/StandardLineWrappingSniff.php
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
  tests/Core/Generators/TextTest.php
Labels: Type: chores/QA, Type: documentation, Type: enhancement, Core Component: Generators

#718 Generators: add tests for handling code sample titles
  tests/Core/Generators/Expectations/ExpectedOutputCodeTitleLineWrapping.html
  tests/Core/Generators/Expectations/ExpectedOutputCodeTitleLineWrapping.md
  tests/Core/Generators/Expectations/ExpectedOutputCodeTitleLineWrapping.txt
  tests/Core/Generators/Expectations/ExpectedOutputCodeTitleWhitespace.html
  tests/Core/Generators/Expectations/ExpectedOutputCodeTitleWhitespace.md
  tests/Core/Generators/Expectations/ExpectedOutputCodeTitleWhitespace.txt
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Content/CodeTitleLineWrappingStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Content/CodeTitleWhitespaceStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Content/CodeTitleLineWrappingSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Content/CodeTitleWhitespaceSniff.php
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
  tests/Core/Generators/TextTest.php
Labels: Type: chores/QA, Type: documentation, Core Component: Generators

#719 Generators: add tests for handling code samples
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonBlankLines.html
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonBlankLines.md
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonBlankLines.txt
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonBlockLength.html
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonBlockLength.md
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonBlockLength.txt
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonEncoding.html
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonEncoding.md
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonEncoding.txt
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonLineLength.html
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonLineLength.md
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonLineLength.txt
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Content/CodeComparisonBlankLinesStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Content/CodeComparisonBlockLengthStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Content/CodeComparisonEncodingStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Content/CodeComparisonLineLengthStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Content/CodeComparisonBlankLinesSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Content/CodeComparisonBlockLengthSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Content/CodeComparisonEncodingSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Content/CodeComparisonLineLengthSniff.php
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
  tests/Core/Generators/TextTest.php
Labels: Type: chores/QA, Core Component: Generators

#720 GH Actions: tweak auto-label configuration
  .github/labeler.yml
Labels: Type: chores/QA

#721 Generators: add tests covering handling of unsupported doc structures
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedElementAtWrongLevel.html
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedElementAtWrongLevel.md
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedElementAtWrongLevel.txt
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedOneElmAtWrongLevel.html
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedOneElmAtWrongLevel.md
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedOneElmAtWrongLevel.txt
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedSuperfluousCodeElement.html
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedSuperfluousCodeElement.md
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedSuperfluousCodeElement.txt
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedUnknownElement.html
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedUnknownElement.md
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedUnknownElement.txt
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Unsupported/ElementAtWrongLevelStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Unsupported/OneElmAtWrongLevelStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Unsupported/SuperfluousCodeElementStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Docs/Unsupported/UnknownElementStandard.xml
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Unsupported/ElementAtWrongLevelSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Unsupported/OneElmAtWrongLevelSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Unsupported/SuperfluousCodeElementSniff.php
  tests/Core/Generators/Fixtures/StandardWithDocs/Sniffs/Unsupported/UnknownElementSniff.php
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
  tests/Core/Generators/TextTest.php
Labels: Type: chores/QA, Core Component: Generators

#725 Util/HelpTest: test CBF-only code
  src/Util/Help.php
  tests/Core/Util/Help/HelpTest.php
Labels: Type: chores/QA, Core Component: Utils

#681 Generic/LowercasedFilename: improve code coverage
  src/Standards/Generic/Tests/Files/LowercasedFilenameUnitTest.php
  src/Standards/Generic/Tests/Files/lowercased_filename_unit_test.inc
Labels: Type: chores/QA, Standard: Generic

#699 Generic/EmptyPHPStatement: improve code coverage
  src/Standards/Generic/Sniffs/CodeAnalysis/EmptyPHPStatementSniff.php
  src/Standards/Generic/Tests/CodeAnalysis/EmptyPHPStatementUnitTest.1.inc
  src/Standards/Generic/Tests/CodeAnalysis/EmptyPHPStatementUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/CodeAnalysis/EmptyPHPStatementUnitTest.2.inc
  src/Standards/Generic/Tests/CodeAnalysis/EmptyPHPStatementUnitTest.2.inc.fixed
  src/Standards/Generic/Tests/CodeAnalysis/EmptyPHPStatementUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#730 GH Actions: run phar building test more selectively
  .github/workflows/build-phar.yml
Labels: Type: chores/QA

#732 GH Actions: fix snafu with code coverage
  .github/workflows/test.yml
Labels: Type: chores/QA

#735 GH Actions/test: allow concurrency for code coverage builds - take two
  .github/workflows/test.yml
Labels: Type: chores/QA

#722 Generators/Markdown: add blank line after title
  src/Generators/Markdown.php
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonBlankLines.md
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonBlockLength.md
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonEncoding.md
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonLineLength.md
  tests/Core/Generators/Expectations/ExpectedOutputCodeTitleLineWrapping.md
  tests/Core/Generators/Expectations/ExpectedOutputCodeTitleWhitespace.md
  tests/Core/Generators/Expectations/ExpectedOutputDocumentationTitleCase.md
  tests/Core/Generators/Expectations/ExpectedOutputDocumentationTitleLength.md
  tests/Core/Generators/Expectations/ExpectedOutputOneDoc.md
  tests/Core/Generators/Expectations/ExpectedOutputStandardBlankLines.md
  tests/Core/Generators/Expectations/ExpectedOutputStandardEncoding.md
  tests/Core/Generators/Expectations/ExpectedOutputStandardIndent.md
  tests/Core/Generators/Expectations/ExpectedOutputStandardLineWrapping.md
  tests/Core/Generators/Expectations/ExpectedOutputStructureDocs.md
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedElementAtWrongLevel.md
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedOneElmAtWrongLevel.md
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedSuperfluousCodeElement.md
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedUnknownElement.md
Labels: Type: enhancement, Core Component: Generators

#723 Generators/HTML: fix line break handling
  src/Generators/HTML.php
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonLineLength.html
  tests/Core/Generators/Expectations/ExpectedOutputStandardBlankLines.html
  tests/Core/Generators/Expectations/ExpectedOutputStandardEncoding.html
  tests/Core/Generators/Expectations/ExpectedOutputStandardIndent.html
  tests/Core/Generators/Expectations/ExpectedOutputStandardLineWrapping.html
Labels: Type: enhancement, Core Component: Generators

#724 Generators/Text::printTitle(): minor tweaks
  src/Generators/Text.php
Labels: Type: chores/QA, Core Component: Generators

#707 Generic/OpeningFunctionBraceKernighanRichie: improve test coverage
  src/Standards/Generic/Sniffs/Functions/OpeningFunctionBraceKernighanRitchieSniff.php
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceKernighanRitchieUnitTest.1.inc
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceKernighanRitchieUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceKernighanRitchieUnitTest.2.inc
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceKernighanRitchieUnitTest.2.inc.fixed
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceKernighanRitchieUnitTest.3.inc
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceKernighanRitchieUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#741 Squiz ruleset: update property format
  src/Standards/Squiz/ruleset.xml
Labels: Type: chores/QA, Standard: Squiz

#736 Generic/OpeningFunctionBraceKernighanRitchie: improve error message
  src/Standards/Generic/Sniffs/Functions/OpeningFunctionBraceKernighanRitchieSniff.php
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceKernighanRitchieUnitTest.2.inc
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceKernighanRitchieUnitTest.2.inc.fixed
  src/Standards/Generic/Tests/Functions/OpeningFunctionBraceKernighanRitchieUnitTest.php
Labels: Type: enhancement, Standard: Generic

#713 Ruleset::processRuleset(): add tests for handling of broken rulesets
  tests/Core/Ruleset/ProcessRulesetBrokenRulesetEmptyFileTest.xml
  tests/Core/Ruleset/ProcessRulesetBrokenRulesetMultiErrorTest.xml
  tests/Core/Ruleset/ProcessRulesetBrokenRulesetSingleErrorTest.xml
  tests/Core/Ruleset/ProcessRulesetBrokenRulesetTest.php
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#714 Ruleset::processRule(): add test for handling of invalid `<type>` directives
  tests/Core/Ruleset/ProcessRuleInvalidTypeTest.php
  tests/Core/Ruleset/ProcessRuleInvalidTypeTest.xml
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options
