Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2024-09, with the labels that each got.

#581 Fix conflict within PSR12.ControlStructures.ControlStructureSpacing
  src/Standards/PSR12/Sniffs/ControlStructures/ControlStructureSpacingSniff.php
  src/Standards/PSR12/Tests/ControlStructures/ControlStructureSpacingUnitTest.inc
  src/Standards/PSR12/Tests/ControlStructures/ControlStructureSpacingUnitTest.inc.fixed
  src/Standards/PSR12/Tests/ControlStructures/ControlStructureSpacingUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: PSR12

#609 Squiz/MultiLineFunctionDeclaration: bug fix - skip over attributes
  src/Standards/Squiz/Sniffs/Functions/MultiLineFunctionDeclarationSniff.php
  src/Standards/Squiz/Tests/Functions/MultiLineFunctionDeclarationUnitTest.inc
  src/Standards/Squiz/Tests/Functions/MultiLineFunctionDeclarationUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Functions/MultiLineFunctionDeclarationUnitTest.php
Labels: Type: bug, Standard: Squiz

#610 Squiz/DisallowMultipleAssignments: bug fix - dynamic property assignment on object stored in array
  src/Standards/Squiz/Sniffs/PHP/DisallowMultipleAssignmentsSniff.php
  src/Standards/Squiz/Tests/PHP/DisallowMultipleAssignmentsUnitTest.1.inc
Labels: Type: bug, Standard: Squiz

#614 Docs: various minor fixes
  autoload.php
  src/Tokenizers/PHP.php
  src/Util/Common.php
Labels: Type: documentation, Core Component: Tokenizer, Core Component: Utils

#615 Changelog for the 3.10.3 release
  CHANGELOG.md
  README.md
Labels: Type: documentation, Type: meta

#619 PHP 8.4 | build-phar: remove use of `E_STRICT`
  scripts/build-phar.php
Labels: Type: chores/QA

#582 Correct error code in Squiz.ControlStructures.ForEachLoopDeclaration
  src/Standards/Squiz/Sniffs/ControlStructures/ForEachLoopDeclarationSniff.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: Squiz

#586 :sparkles: New `Generic.WhiteSpace.HereNowdocIdentifierSpacing` sniff
  src/Standards/Generic/Docs/WhiteSpace/HereNowdocIdentifierSpacingStandard.xml
  src/Standards/Generic/Sniffs/WhiteSpace/HereNowdocIdentifierSpacingSniff.php
  src/Standards/Generic/Tests/WhiteSpace/HereNowdocIdentifierSpacingUnitTest.inc
  src/Standards/Generic/Tests/WhiteSpace/HereNowdocIdentifierSpacingUnitTest.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/HereNowdocIdentifierSpacingUnitTest.php
Labels: Type: documentation, Type: enhancement, Standard: Generic

#621 README/Changelog: fix a few URLs which have changed
  .remarkrc
  CHANGELOG.md
  README.md
Labels: Type: chores/QA, Type: documentation

#524 Common::getSniffCode(): add tests, more defensive coding and minor simplification
  src/Files/File.php
  src/Util/Common.php
  tests/Core/Util/Common/GetSniffCodeTest.php
Labels: Type: chores/QA, Core Component: File, Core Component: Utils
