Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2024-07, with the labels that each got.

#523 Documentation: improve information about Report data format + remove unused foreach keys
  src/Reporter.php
  src/Reports/Cbf.php
  src/Reports/Checkstyle.php
  src/Reports/Code.php
  src/Reports/Csv.php
  src/Reports/Diff.php
  src/Reports/Emacs.php
  src/Reports/Full.php
  src/Reports/Info.php
  src/Reports/Json.php
  src/Reports/Junit.php
  src/Reports/Notifysend.php
  src/Reports/Performance.php
  src/Reports/Report.php
  src/Reports/Source.php
  src/Reports/Summary.php
  src/Reports/VersionControl.php
  src/Reports/Xml.php
Labels: Type: chores/QA, Type: documentation, Core Component: Reports

#531 AbstractMethodUnitTest: improve finding of target token
  tests/Core/AbstractMethodUnitTest.php
Labels: Type: chores/QA

#533 Generic/DisallowTabIndent: do not auto-fix heredoc/nowdoc closer indent
  src/Standards/Generic/Sniffs/WhiteSpace/DisallowTabIndentSniff.php
  src/Standards/Generic/Tests/WhiteSpace/DisallowTabIndentUnitTest.3.inc.fixed
Labels: Type: bug, Focus: Modern PHP, Standard: Generic

#534 Generic/DisallowSpaceIndent: flag heredoc/nowdoc closer using space indent
  src/Standards/Generic/Sniffs/WhiteSpace/DisallowSpaceIndentSniff.php
  src/Standards/Generic/Tests/WhiteSpace/DisallowSpaceIndentUnitTest.4.inc
  src/Standards/Generic/Tests/WhiteSpace/DisallowSpaceIndentUnitTest.php
Labels: Type: bug, Focus: Modern PHP, Standard: Generic

#539 Generic/SpreadOperatorSpacingAfter: move parse error test to its own file
  src/Standards/Generic/Tests/WhiteSpace/SpreadOperatorSpacingAfterUnitTest.1.inc
  src/Standards/Generic/Tests/WhiteSpace/SpreadOperatorSpacingAfterUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/SpreadOperatorSpacingAfterUnitTest.2.inc
  src/Standards/Generic/Tests/WhiteSpace/SpreadOperatorSpacingAfterUnitTest.php
Labels: Type: chores/QA

#540 Generic/LowerCaseConstant: move parse error test to its own file
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.1.inc
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.2.inc
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.php
Labels: Type: chores/QA

#541 Squiz/CSS/ShorthandSize: move parse error test to its own file
  src/Standards/Squiz/Tests/CSS/ShorthandSizeUnitTest.1.css
  src/Standards/Squiz/Tests/CSS/ShorthandSizeUnitTest.1.css.fixed
  src/Standards/Squiz/Tests/CSS/ShorthandSizeUnitTest.2.css
  src/Standards/Squiz/Tests/CSS/ShorthandSizeUnitTest.php
Labels: Type: chores/QA

#542 Generic/CodeAnalysis/UnconditionalIfStatement: move parse error to its own file
  src/Standards/Generic/Tests/CodeAnalysis/UnconditionalIfStatementUnitTest.1.inc
  src/Standards/Generic/Tests/CodeAnalysis/UnconditionalIfStatementUnitTest.2.inc
  src/Standards/Generic/Tests/CodeAnalysis/UnconditionalIfStatementUnitTest.php
Labels: Type: chores/QA

#544 Squiz/ForLoopDeclaration: move js parse error to its own file
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.1.js
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.1.js.fixed
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.2.js
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.php
Labels: Type: chores/QA

#545 Squiz/ControlSignature: move parse error to its own file
  src/Standards/Squiz/Tests/ControlStructures/ControlSignatureUnitTest.1.inc
  src/Standards/Squiz/Tests/ControlStructures/ControlSignatureUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/ControlStructures/ControlSignatureUnitTest.2.inc
  src/Standards/Squiz/Tests/ControlStructures/ControlSignatureUnitTest.php
Labels: Type: chores/QA

#548 Squiz/ObjectInstantiation: remove keyword context test
  src/Standards/Squiz/Tests/Objects/ObjectInstantiationUnitTest.inc
Labels: Type: chores/QA

#547 Add test file for PSR12.Operators.OperatorSpacing
  src/Standards/PSR12/Tests/Operators/OperatorSpacingUnitTest.3.inc
Labels: Type: chores/QA

#549 PSR2/UseDeclaration: move parse error test case to its own file
  src/Standards/PSR2/Tests/Namespaces/UseDeclarationUnitTest.1.inc
  src/Standards/PSR2/Tests/Namespaces/UseDeclarationUnitTest.18.inc
Labels: Type: chores/QA

#550 PEAR/ValidDefaultValue: move syntax error to its own file
  src/Standards/PEAR/Tests/Functions/ValidDefaultValueUnitTest.1.inc
  src/Standards/PEAR/Tests/Functions/ValidDefaultValueUnitTest.2.inc
  src/Standards/PEAR/Tests/Functions/ValidDefaultValueUnitTest.php
Labels: Type: chores/QA

#538 Squiz/DisallowMultipleAssignments: fix sniff walking back too far when going in/out of PHP
  src/Standards/Squiz/Sniffs/PHP/DisallowMultipleAssignmentsSniff.php
  src/Standards/Squiz/Tests/PHP/DisallowMultipleAssignmentsUnitTest.inc
Labels: Type: bug, Standard: Squiz

#558 Generic/UnnecessaryStringConcat: improve code coverage
  src/Standards/Generic/Sniffs/Strings/UnnecessaryStringConcatSniff.php
  src/Standards/Generic/Tests/Strings/UnnecessaryStringConcatUnitTest.1.inc
  src/Standards/Generic/Tests/Strings/UnnecessaryStringConcatUnitTest.2.inc
  src/Standards/Generic/Tests/Strings/UnnecessaryStringConcatUnitTest.inc
  src/Standards/Generic/Tests/Strings/UnnecessaryStringConcatUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#554 Generic/UselessOverridingMethod: improve handling of PHP open/close tags between statements
  src/Standards/Generic/Sniffs/CodeAnalysis/UselessOverridingMethodSniff.php
  src/Standards/Generic/Tests/CodeAnalysis/UselessOverridingMethodUnitTest.1.inc
  src/Standards/Generic/Tests/CodeAnalysis/UselessOverridingMethodUnitTest.php
Labels: Type: bug, Standard: Generic

#555 Squiz/SelfMemberReference: handle namespace declaration ending on PHP close tag
  src/Standards/Squiz/Sniffs/Classes/SelfMemberReferenceSniff.php
  src/Standards/Squiz/Tests/Classes/SelfMemberReferenceUnitTest.inc
  src/Standards/Squiz/Tests/Classes/SelfMemberReferenceUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Classes/SelfMemberReferenceUnitTest.php
Labels: Type: bug, Standard: Squiz

#556 PSR2/ClassDeclaration: add tests and remove some redundant code
  src/Standards/PSR2/Sniffs/Classes/ClassDeclarationSniff.php
  src/Standards/PSR2/Tests/Classes/ClassDeclarationUnitTest.inc
  src/Standards/PSR2/Tests/Classes/ClassDeclarationUnitTest.inc.fixed
  src/Standards/PSR2/Tests/Classes/ClassDeclarationUnitTest.php
Labels: Type: chores/QA, Standard: PSR2

#563 Documentation: various minor improvements
  src/Reporter.php
  src/Standards/Generic/Sniffs/WhiteSpace/LanguageConstructSpacingSniff.php
  src/Standards/Squiz/Tests/Scope/MemberVarScopeUnitTest.php
  src/Standards/Zend/Tests/NamingConventions/ValidVariableNameUnitTest.php
  tests/Core/Util/Common/StripColorsTest.php
  tests/Core/Util/Common/SuggestTypeTest.php
Labels: Type: documentation, Standard: Generic

#565 CONTRIBUTING GUIDE: add section about finding issues to work on for code contributions
  .github/CONTRIBUTING.md
Labels: Type: documentation

#564 Changelog for the 3.10.2 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta

#572 Documentation: minor consistency fixes
  src/Standards/Generic/Docs/ControlStructures/DisallowYodaConditionsStandard.xml
  src/Standards/Generic/Docs/Files/InlineHTMLStandard.xml
  src/Standards/Generic/Docs/Formatting/MultipleStatementAlignmentStandard.xml
  src/Standards/Generic/Docs/Functions/OpeningFunctionBraceBsdAllmanStandard.xml
  src/Standards/Generic/Docs/Functions/OpeningFunctionBraceKernighanRitchieStandard.xml
  src/Standards/Generic/Docs/NamingConventions/AbstractClassNamePrefixStandard.xml
  src/Standards/Generic/Docs/NamingConventions/InterfaceNameSuffixStandard.xml
  src/Standards/Generic/Docs/NamingConventions/TraitNameSuffixStandard.xml
  src/Standards/Generic/Docs/NamingConventions/UpperCaseConstantNameStandard.xml
  src/Standards/Generic/Docs/PHP/CharacterBeforePHPOpeningTagStandard.xml
  src/Standards/Generic/Docs/PHP/ClosingPHPTagStandard.xml
  src/Standards/Generic/Docs/PHP/LowerCaseConstantStandard.xml
  src/Standards/Generic/Docs/PHP/RequireStrictTypesStandard.xml
  src/Standards/Generic/Docs/PHP/SAPIUsageStandard.xml
  src/Standards/Generic/Docs/PHP/UpperCaseConstantStandard.xml
  src/Standards/Generic/Docs/VersionControl/SubversionPropertiesStandard.xml
  src/Standards/Generic/Docs/WhiteSpace/ArbitraryParenthesesSpacingStandard.xml
  src/Standards/Generic/Docs/WhiteSpace/SpreadOperatorSpacingAfterStandard.xml
  src/Standards/PEAR/Docs/Commenting/FileCommentStandard.xml
  src/Standards/PEAR/Docs/Files/IncludingFileStandard.xml
  src/Standards/PEAR/Docs/Functions/FunctionCallSignatureStandard.xml
  src/Standards/PEAR/Docs/Functions/ValidDefaultValueStandard.xml
  src/Standards/PEAR/Docs/NamingConventions/ValidClassNameStandard.xml
  src/Standards/PEAR/Docs/NamingConventions/ValidFunctionNameStandard.xml
  src/Standards/PEAR/Docs/NamingConventions/ValidVariableNameStandard.xml
  src/Standards/PSR1/Docs/Files/SideEffectsStandard.xml
  src/Standards/PSR1/Docs/Methods/CamelCapsMethodNameStandard.xml
  src/Standards/PSR12/Docs/Functions/NullableTypeDeclarationStandard.xml
  src/Standards/PSR2/Docs/Methods/MethodDeclarationStandard.xml
  src/Standards/Squiz/Docs/Arrays/ArrayDeclarationStandard.xml
  src/Standards/Squiz/Docs/Classes/LowercaseClassKeywordsStandard.xml
  src/Standards/Squiz/Docs/ControlStructures/LowercaseDeclarationStandard.xml
  src/Standards/Squiz/Docs/Functions/FunctionDuplicateArgumentStandard.xml
  src/Standards/Squiz/Docs/Functions/LowercaseFunctionKeywordsStandard.xml
  src/Standards/Squiz/Docs/WhiteSpace/LanguageConstructSpacingStandard.xml
  src/Standards/Squiz/Docs/WhiteSpace/ScopeKeywordSpacingStandard.xml
  src/Standards/Zend/Docs/Files/ClosingTagStandard.xml
Labels: Type: chores/QA, Type: documentation

#576 Tests: stability tweaks for the non-sniff tests
  tests/ConfigDouble.php
  tests/Core/AbstractMethodUnitTest.php
  tests/Core/Filters/AbstractFilterTestCase.php
Labels: Type: chores/QA

#584 Tokenizer/PHP: add tests for heredoc/nowdoc tokenization
  tests/Core/Tokenizer/PHP/HeredocNowdocTest.inc
  tests/Core/Tokenizer/PHP/HeredocNowdocTest.php
  tests/Core/Tokenizer/PHP/HeredocParseErrorTest.inc
  tests/Core/Tokenizer/PHP/HeredocParseErrorTest.php
Labels: Type: chores/QA, Core Component: Tokenizer
