Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2024-03, with the labels that each got.

#370 Add links to all issues in the 3.3.2, 3.3.1, 3.3.0 and 2.9.2 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#363 Various sniffs: simplify skipping the rest of the file + update docs about skipping rest of file
  src/Sniffs/AbstractScopeSniff.php
  src/Sniffs/AbstractVariableSniff.php
  src/Sniffs/Sniff.php
  src/Standards/Generic/Sniffs/ControlStructures/InlineControlStructureSniff.php
  src/Standards/Generic/Sniffs/Debug/CSSLintSniff.php
  src/Standards/Generic/Sniffs/Debug/ClosureLinterSniff.php
  src/Standards/Generic/Sniffs/Debug/ESLintSniff.php
  src/Standards/Generic/Sniffs/Debug/JSHintSniff.php
  src/Standards/Generic/Sniffs/Files/EndFileNewlineSniff.php
  src/Standards/Generic/Sniffs/Files/EndFileNoNewlineSniff.php
  src/Standards/Generic/Sniffs/Files/ExecutableFileSniff.php
  src/Standards/Generic/Sniffs/Files/LineEndingsSniff.php
  src/Standards/Generic/Sniffs/Files/LineLengthSniff.php
  src/Standards/Generic/Sniffs/Files/LowercasedFilenameSniff.php
  src/Standards/Generic/Sniffs/PHP/SyntaxSniff.php
  src/Standards/Generic/Sniffs/VersionControl/GitMergeConflictSniff.php
  src/Standards/Generic/Sniffs/VersionControl/SubversionPropertiesSniff.php
  src/Standards/Generic/Sniffs/WhiteSpace/DisallowSpaceIndentSniff.php
  src/Standards/Generic/Sniffs/WhiteSpace/DisallowTabIndentSniff.php
  src/Standards/PEAR/Sniffs/Commenting/FileCommentSniff.php
  src/Standards/PSR1/Sniffs/Files/SideEffectsSniff.php
  src/Standards/PSR2/Sniffs/Files/EndFileNewlineSniff.php
  src/Standards/Squiz/Sniffs/Commenting/FileCommentSniff.php
  src/Standards/Squiz/Sniffs/Debug/JSLintSniff.php
  src/Standards/Squiz/Sniffs/Debug/JavaScriptLintSniff.php
  src/Standards/Squiz/Sniffs/Files/FileExtensionSniff.php
  src/Standards/Zend/Sniffs/Debug/CodeAnalyzerSniff.php
  src/Standards/Zend/Sniffs/Files/ClosingTagSniff.php
Labels: Type: chores/QA, Type: documentation

#353 [Documentation] Squiz: Scope Closing Brace
  src/Standards/Squiz/Docs/WhiteSpace/ScopeClosingBraceStandard.xml
Labels: Type: documentation, Standard: Squiz

#373 [Documentation] Squiz: Member Var Spacing
  src/Standards/Squiz/Docs/WhiteSpace/MemberVarSpacingStandard.xml
Labels: Type: documentation, Standard: Squiz

#366 Generic/UselessOverridingMethod: small improvements to the sniff code
  src/Standards/Generic/Sniffs/CodeAnalysis/UselessOverridingMethodSniff.php
  src/Standards/Generic/Tests/CodeAnalysis/UselessOverridingMethodUnitTest.1.inc
  src/Standards/Generic/Tests/CodeAnalysis/UselessOverridingMethodUnitTest.6.inc
  src/Standards/Generic/Tests/CodeAnalysis/UselessOverridingMethodUnitTest.php
Labels: Type: bug, Standard: Generic

#289 Improve context detection for `PSR12.Operators.OperatorSpacing` / `Squiz.WhiteSpace.OperatorSpacing` - avoids fixer conflict, bow out on parse error
  src/Standards/PSR12/Sniffs/Operators/OperatorSpacingSniff.php
  src/Standards/PSR12/Tests/Operators/OperatorSpacingUnitTest.1.inc
  src/Standards/PSR12/Tests/Operators/OperatorSpacingUnitTest.1.inc.fixed
  src/Standards/PSR12/Tests/Operators/OperatorSpacingUnitTest.2.inc
  src/Standards/PSR12/Tests/Operators/OperatorSpacingUnitTest.php
  src/Standards/Squiz/Sniffs/WhiteSpace/OperatorSpacingSniff.php
  src/Standards/Squiz/Tests/WhiteSpace/OperatorSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/OperatorSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/OperatorSpacingUnitTest.2.inc
  src/Standards/Squiz/Tests/WhiteSpace/OperatorSpacingUnitTest.php
  tests/Core/Filters/AbstractFilterTestCase.php
  tests/Core/Filters/GitModifiedTest.php
  tests/Core/Filters/GitStagedTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: PSR12, Standard: Squiz

#378 Add links to all issues in the 3.2.3, 3.2.1 and 3.2.0 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#382 Add links to all issues in the 3.1.1 and 3.1.0 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#384 Fixing the title of the Generic.Docs.NoSpaceAfterCastStandard docs
  src/Standards/Generic/Docs/Formatting/NoSpaceAfterCastStandard.xml
  src/Standards/Generic/Docs/Formatting/SpaceAfterCastStandard.xml
Labels: Type: documentation, Standard: Generic

#386 Add links to all issues in the 3.0.2, 3.0.1, 3.0.0 and 2.9.1 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#388 Add links to issues in the 3.0.0RC4, 3.0.0RC3, 3.0.0RC2, 3.0.0RC1 and 3.0.0a1 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#389 Add links to all issues in the 2.9.0, 2.8.1 and 2.8.0 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#396 Add links to all issues in the 2.7.1 and 2.7.0 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#397 Add links to all issues in the 2.6.2, 2.6.1 and 2.6.0 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#404 Tests: fix for PHP 8.4 deprecation of implicitly nullable types
  tests/TestSuite7.php
Labels: Type: chores/QA

#401 Add links to all issues in the 2.5.1 and 2.5.0 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#402 Add links to all issues in the 2.4.0 section of the changelog
  CHANGELOG.md
Labels: Type: documentation, Status: triage

#403 Add links to all issues in the 2.3.4, 2.3.3, 2.3.2, 2.3.1 and 2.3.0 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation, Status: triage

#410 Changelog: update link lists to prevent duplicate link definitions
  CHANGELOG.md
Labels: Type: documentation

#409 Add links to all issues in the 2.2.0, 2.1.0, and 2.0.0 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#411 Add links to all issues in the 1.5.6, 2.0.0RC4, 2.0.0RC3 and 2.0.0RC2 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#412 Add links to all issues in the 1.5.5, 2.0.0RC1, 1.5.4 and 2.0.0a2 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation, Status: triage

#413 Add links to all issues in the 1.5.3, 1.5.2, 1.5.1 and 1.5.0 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation, Status: triage

#417 CONTRIBUTING: add table of contents + note about cc list
  .github/CONTRIBUTING.md
Labels: Type: documentation

#422 Tests/OtherContextSensitiveKeywordsTest: fix unintentional parse error
  tests/Core/Tokenizer/OtherContextSensitiveKeywordsTest.inc
Labels: Type: chores/QA

#426 IsReferenceTest: fix invalid test case
  tests/Core/File/IsReferenceTest.inc
Labels: Type: chores/QA

#379 Follow-up #369 - Squiz.Arrays.ArrayDeclaration for static
  src/Standards/Squiz/Sniffs/Arrays/ArrayDeclarationSniff.php
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.1.inc
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.2.inc
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.2.inc.fixed
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.php
Labels: Standard: Squiz, Status: triage

#428 Changelog for the 3.9.1 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta
