Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2024-06, with the labels that each got.

#513 Generic/FunctionCallArgumentSpacing: bug fix - ignore commas in nested match structures + minor efficiency tweak
  src/Standards/Generic/Sniffs/Functions/FunctionCallArgumentSpacingSniff.php
  src/Standards/Generic/Tests/Functions/FunctionCallArgumentSpacingUnitTest.1.inc
  src/Standards/Generic/Tests/Functions/FunctionCallArgumentSpacingUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/Functions/FunctionCallArgumentSpacingUnitTest.php
Labels: Type: bug, Type: enhancement, Focus: Modern PHP, Focus: Performance, Standard: Generic

#519 GH Actions: update merge conflict check workflow
  .github/workflows/label-merge-conflicts.yml
Labels: Type: chores/QA

#446 test(phpcs): Check for unused variables in PHPCS itself
  src/Config.php
  src/Filters/Filter.php
  src/Runner.php
  src/Standards/Generic/Sniffs/Files/InlineHTMLSniff.php
  src/Standards/Generic/Sniffs/PHP/CharacterBeforePHPOpeningTagSniff.php
  src/Standards/Generic/Tests/Debug/JSHintUnitTest.php
  src/Standards/Squiz/Sniffs/Commenting/FunctionCommentSniff.php
  src/Standards/Squiz/Sniffs/Commenting/VariableCommentSniff.php
  src/Standards/Squiz/Sniffs/Functions/MultiLineFunctionDeclarationSniff.php
  src/Standards/Squiz/Sniffs/PHP/CommentedOutCodeSniff.php
  src/Tokenizers/JS.php
  tests/Core/File/GetMemberPropertiesTest.php
  tests/Core/Ruleset/ExplainTest.php
  tests/Core/Ruleset/RuleInclusionTest.php
  tests/Core/Ruleset/SetSniffPropertyTest.php
  tests/Core/Tokenizer/PHP/BackfillFnTokenTest.php
  tests/Core/Tokenizer/PHP/StableCommentWhitespaceTest.php
  tests/Core/Tokenizer/PHP/StableCommentWhitespaceWinTest.php
  tests/Core/Tokenizer/PHP/UndoNamespacedNameSingleTokenTest.php
  tests/Standards/AllSniffs.php
Labels: Type: chores/QA

#518 Issue templates: add extra checkbox + config file
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Type: chores/QA, Type: documentation

#522 Tests/Util: move test classes into subdirectories
  tests/Core/Util/Common/IsCamelCapsTest.php
  tests/Core/Util/Common/StripColorsTest.php
  tests/Core/Util/Common/SuggestTypeTest.php
  tests/Core/Util/Help/HelpTest.php
Labels: Type: chores/QA
