Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2024-12, with the labels that each got.

#737 Generators/Markdown: fix line break and indentation handling
  src/Generators/Markdown.php
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonLineLength.md
  tests/Core/Generators/Expectations/ExpectedOutputStandardBlankLines.md
  tests/Core/Generators/Expectations/ExpectedOutputStandardEncoding.md
  tests/Core/Generators/Expectations/ExpectedOutputStandardIndent.md
  tests/Core/Generators/Expectations/ExpectedOutputStandardLineWrapping.md
Labels: Type: bug, Core Component: Generators

#739 Generators HTML/Markdown: fix whitespace handling in code title
  src/Generators/HTML.php
  src/Generators/Markdown.php
  tests/Core/Generators/Expectations/ExpectedOutputCodeTitleWhitespace.html
  tests/Core/Generators/Expectations/ExpectedOutputCodeTitleWhitespace.md
Labels: Type: bug, Core Component: Generators

#711 Ruleset: add tests for handling of `php[cs|cbf]-only` attributes within a `<ruleset>`
  tests/Core/Ruleset/ProcessRulesetShouldProcessElementTest.php
  tests/Core/Ruleset/ProcessRulesetShouldProcessElementTest.xml
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#712 Ruleset: add tests for handling of `php[cs|cbf]-only` attributes within a `<rule>`
  tests/Core/Ruleset/ProcessRuleShouldProcessElementTest.php
  tests/Core/Ruleset/ProcessRuleShouldProcessElementTest.xml
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#715 Ruleset::processRuleset(): add tests for handling `<autoload>` directives
  tests/Core/Ruleset/Fixtures/ProcessRulesetAutoloadLoadAlways.1.php
  tests/Core/Ruleset/Fixtures/ProcessRulesetAutoloadLoadAlways.2.php
  tests/Core/Ruleset/Fixtures/ProcessRulesetAutoloadLoadAlways.3.php
  tests/Core/Ruleset/Fixtures/ProcessRulesetAutoloadLoadAlways.4.php
  tests/Core/Ruleset/Fixtures/ProcessRulesetAutoloadLoadPhpcbfOnly.php
  tests/Core/Ruleset/Fixtures/ProcessRulesetAutoloadLoadPhpcsOnly.php
  tests/Core/Ruleset/ProcessRulesetAutoloadFileNotFoundTest.xml
  tests/Core/Ruleset/ProcessRulesetAutoloadTest.php
  tests/Core/Ruleset/ProcessRulesetAutoloadTest.xml
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#684 Generic/CyclomaticComplexity: improve code coverage
  src/Standards/Generic/Sniffs/Metrics/CyclomaticComplexitySniff.php
  src/Standards/Generic/Tests/Metrics/CyclomaticComplexityUnitTest.1.inc
  src/Standards/Generic/Tests/Metrics/CyclomaticComplexityUnitTest.2.inc
  src/Standards/Generic/Tests/Metrics/CyclomaticComplexityUnitTest.3.inc
  src/Standards/Generic/Tests/Metrics/CyclomaticComplexityUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#752 Ruleset::expandSniffDirectory(): add test
  tests/Core/Ruleset/ExpandSniffDirectoryTest.php
  tests/Core/Ruleset/ExpandSniffDirectoryTest.xml
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/.hidden/HiddenDirShouldBeIgnoredSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/AbstractSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/DummySniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/.hidden/HiddenDirShouldBeIgnoredSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/AbstractSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/CategoryA/.HiddenFileSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/CategoryA/.hidden/DoNotFindMeSniff.txt
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/CategoryA/.hidden/HiddenDirShouldBeIgnoredSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/CategoryA/DoNotFindMeSniff.txt
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/CategoryA/FindMeSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/CategoryA/IncorrectFileExtensionSniff.inc
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/CategoryA/MissingSniffSuffix.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/CategoryA/Subdir/IncorrectLevelShouldStillBeFoundSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/CategoryB/AnotherAbstractSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/CategoryB/FindMeSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/CategoryB/IncorrectFileExtensionSniff.php3
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/IncorrectLevelShouldStillBeFoundSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Utils/NotInSniffsDirSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Utils/SubDir/NotInSniffsDirSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/ruleset.xml
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#753 Ruleset::setSniffProperty(): add test for edge case / unused sniff
  tests/Core/Ruleset/SetSniffPropertyTest.php
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#748 Squiz/ArrayDeclaration: fixes false positive when handling short lists inside `foreach`
  src/Standards/Squiz/Sniffs/Arrays/ArrayDeclarationSniff.php
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.1.inc
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.2.inc
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.2.inc.fixed
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.3.inc
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.4.inc
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.4.inc.fixed
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.php
Labels: Type: bug, Standard: Squiz

#764 Generic/NestingLevel: improve code coverage
  src/Standards/Generic/Sniffs/Metrics/NestingLevelSniff.php
  src/Standards/Generic/Tests/Metrics/NestingLevelUnitTest.1.inc
  src/Standards/Generic/Tests/Metrics/NestingLevelUnitTest.2.inc
  src/Standards/Generic/Tests/Metrics/NestingLevelUnitTest.3.inc
  src/Standards/Generic/Tests/Metrics/NestingLevelUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#751 GH Actions: change PHAR building to reusable workflow
  .github/workflows/build-phar.yml
  .github/workflows/reusable-build-phar.yml
  .github/workflows/test.yml
Labels: Type: chores/QA

#758 Publish release checklist and automate release verification
  .github/release-checklist.md
  .github/workflows/verify-release.yml
  .remarkrc
Labels: Type: chores/QA, Type: meta

#756 Ruleset::registerSniffs(): add tests
  tests/Core/Ruleset/RegisterSniffsTest.php
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#765 Config: add tests for the `--generator=` argument
  tests/Core/Config/GeneratorArgTest.php
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#768 GH Actions/verify-release: show output for release attestations
  .github/workflows/verify-release.yml
Labels: Type: chores/QA

#757 Ruleset::populateTokenListeners(): add tests
  tests/Core/Ruleset/ExplainTest.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/InvalidSniffs/RegisterNoArraySniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/ValidSniffs/RegisterEmptyArraySniff.php
  tests/Core/Ruleset/PopulateTokenListenersRegisterNoArrayTest.xml
  tests/Core/Ruleset/PopulateTokenListenersTest.php
  tests/Core/Ruleset/PopulateTokenListenersTest.xml
  tests/Core/Ruleset/ProcessRulesetAutoExpandSniffsDirectoryTest.xml
  tests/Core/Ruleset/ProcessRulesetTest.php
  tests/Core/Ruleset/ShowSniffDeprecationsTest.xml
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#772 Ruleset::__construct(): add tests
  tests/Core/Ruleset/ConstructorNoSniffsTest.xml
  tests/Core/Ruleset/ConstructorTest.php
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#769 Tokenizer/PHP: add extra tests for DNF type tokenization
  tests/Core/Tokenizers/PHP/DNFTypesTest.inc
  tests/Core/Tokenizers/PHP/DNFTypesTest.php
Labels: Type: chores/QA, Core Component: Tokenizer, Focus: Modern PHP

#595 Generic/InlineControlStructure: stop listening for T_SWITCH
  src/Standards/Generic/Sniffs/ControlStructures/InlineControlStructureSniff.php
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.1.inc
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.1.js
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.1.js.fixed
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.php
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapCaseKeywordConditionsTest.inc
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapCaseKeywordConditionsTest.php
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapIfKeywordConditionsTest.inc
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapIfKeywordConditionsTest.php
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapSwitchTokenScopeTest.inc
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapSwitchTokenScopeTest.php
Labels: Type: chores/QA, Standard: Generic
