Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2024-01, with the labels that each got.

#209 Squiz/VariableComment: allow union and intersection types to be detected
  src/Standards/Squiz/Sniffs/Commenting/VariableCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc.fixed
Labels: Focus: Comments/Docblocks, Standard: Squiz

#210 Tests/AbstractMethodUnitTest: new `expectRunTimeException()` helper method
  tests/Core/AbstractMethodUnitTest.php
  tests/Core/File/GetClassPropertiesTest.php
  tests/Core/File/GetMemberPropertiesTest.php
Labels: Type: chores/QA

#212 File::findExtendedClassName(): improve tests
  tests/Core/File/FindExtendedClassNameTest.inc
  tests/Core/File/FindExtendedClassNameTest.php
Labels: Type: chores/QA, Core Component: File

#213 File::findImplementedInterfaceNames() improve tests
  tests/Core/File/FindImplementedInterfaceNamesTest.inc
  tests/Core/File/FindImplementedInterfaceNamesTest.php
Labels: Type: chores/QA, Core Component: File

#214 Tests/FindStartOfStatementTest: add extra tests
  tests/Core/File/FindStartOfStatementTest.inc
  tests/Core/File/FindStartOfStatementTest.php
Labels: Type: chores/QA, Core Component: File

#215 Tests/GetClassPropertiesTest: minor improvements
  tests/Core/File/GetClassPropertiesTest.php
Labels: Type: chores/QA, Core Component: File

#216 File::[get|has]Conditions(): add tests
  src/Files/File.php
  tests/Core/File/GetConditionTest.inc
  tests/Core/File/GetConditionTest.php
Labels: Type: chores/QA, Core Component: File, Focus: Performance

#217 File::getDeclarationName(): add tests
  tests/Core/File/GetDeclarationNameJSTest.js
  tests/Core/File/GetDeclarationNameJSTest.php
  tests/Core/File/GetDeclarationNameTest.inc
  tests/Core/File/GetDeclarationNameTest.php
Labels: Type: chores/QA, Core Component: File

#219 GH Actions/merge conflict check: don't cancel on higher prio
  .github/workflows/label-merge-conflicts.yml
Labels: Type: chores/QA

#220 File::getTokensAsString(): add tests
  tests/Core/AbstractMethodUnitTest.php
  tests/Core/File/GetTokensAsStringTest.inc
  tests/Core/File/GetTokensAsStringTest.php
Labels: Type: chores/QA, Core Component: File

#175 Generic/PHP/Syntax: add XML documentation
  src/Standards/Generic/Docs/PHP/SyntaxStandard.xml
Labels: Type: documentation, Standard: Generic

#221 File::getMemberProperties(): improve tests
  tests/Core/File/GetMemberPropertiesTest.inc
  tests/Core/File/GetMemberPropertiesTest.php
Labels: Type: chores/QA, Core Component: File

#223 File::getMethodParameters(): improve tests
  tests/Core/File/GetMethodParametersParseError1Test.inc
  tests/Core/File/GetMethodParametersParseError1Test.php
  tests/Core/File/GetMethodParametersParseError2Test.inc
  tests/Core/File/GetMethodParametersParseError2Test.php
  tests/Core/File/GetMethodParametersTest.inc
  tests/Core/File/GetMethodParametersTest.php
Labels: Type: chores/QA, Core Component: File

#224 Tests: move `IsCamelCapsTest` to `Util` subdirectory
  tests/Core/Util/IsCamelCapsTest.php
Labels: Type: chores/QA

#170 [Documentation] PSR12 - Closing Brace
  src/Standards/PSR12/Docs/Classes/ClosingBraceStandard.xml
Labels: Type: documentation, Standard: PSR12

#177 Generic/LanguageConstructSpacing: add XML documentation
  src/Standards/Generic/Docs/WhiteSpace/LanguageConstructSpacingStandard.xml
Labels: Status: awaiting feedback, Type: documentation, Standard: Generic

#171 [Documentation] PSR12 - Opening Brace Space
  src/Standards/PSR12/Docs/Classes/OpeningBraceSpaceStandard.xml
Labels: Status: awaiting feedback, Type: documentation, Standard: PSR12

#229 QA: fix up license links in newly merged files
  src/Reports/Performance.php
  tests/Core/Ruleset/ExplainTest.php
Labels: Type: chores/QA, Core Component: Reports

#166 Generic/EmptyPHPStatement: add XML documentation
  src/Standards/Generic/Docs/CodeAnalysis/EmptyPHPStatementStandard.xml
Labels: Type: documentation, Standard: Generic

#233 [Documentation] PSR12 - Open Tag
  src/Standards/PSR12/Docs/Files/OpenTagStandard.xml
Labels: Type: documentation, Standard: PSR12

#234 PSR12 ruleset: minor documentation tweak
  src/Standards/PSR12/ruleset.xml
Labels: Type: chores/QA, Standard: PSR12

#226 Generic/ForLoopShouldBeWhileLoop: improve sniff code coverage + fix potential PHP 8.3 deprecation notice
  src/Standards/Generic/Sniffs/CodeAnalysis/ForLoopShouldBeWhileLoopSniff.php
  src/Standards/Generic/Tests/CodeAnalysis/ForLoopShouldBeWhileLoopUnitTest.1.inc
  src/Standards/Generic/Tests/CodeAnalysis/ForLoopShouldBeWhileLoopUnitTest.2.inc
  src/Standards/Generic/Tests/CodeAnalysis/ForLoopShouldBeWhileLoopUnitTest.3.inc
  src/Standards/Generic/Tests/CodeAnalysis/ForLoopShouldBeWhileLoopUnitTest.inc
  src/Standards/Generic/Tests/CodeAnalysis/ForLoopShouldBeWhileLoopUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#181 [Documentation] PSR12 - Boolean Operator Placement
  src/Standards/PSR12/Docs/ControlStructures/BooleanOperatorPlacementStandard.xml
Labels: Type: documentation, Standard: PSR12

#225 CS rules: tweak array rules for test files
  phpcs.xml.dist
Labels: Type: chores/QA

#211 PHP 8.2 | Squiz/VariableComment: allow for stand-alone null/true/false types and more
  src/Standards/Squiz/Sniffs/Commenting/VariableCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc.fixed
Labels: Type: bug, Focus: Comments/Docblocks, Focus: Modern PHP, Standard: Squiz

#245 GH Actions: warm PHPUnit cache on PHPUnit 9.3+
  .github/workflows/test.yml
  composer.json
Labels: Type: chores/QA

#246 Util/Common: add tests for the suggestType() method
  tests/Core/Util/SuggestTypeTest.php
Labels: Type: chores/QA, Core Component: Utils, Focus: Comments/Docblocks

#251 Changelog for the 3.8.1 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta

#253 GH Actions/test: always run the workflow for tags
  .github/workflows/test.yml
Labels: Type: chores/QA

#255 Tests: make dataproviders `static`
  tests/Core/Config/ReportWidthTest.php
  tests/Core/ErrorSuppressionTest.php
  tests/Core/File/FindExtendedClassNameTest.php
  tests/Core/File/FindImplementedInterfaceNamesTest.php
  tests/Core/File/GetClassPropertiesTest.php
  tests/Core/File/GetMemberPropertiesTest.php
  tests/Core/File/IsReferenceTest.php
  tests/Core/Ruleset/RuleInclusionTest.php
  tests/Core/Ruleset/SetSniffPropertyTest.php
  tests/Core/Tokenizer/AnonClassParenthesisOwnerTest.php
  tests/Core/Tokenizer/ArrayKeywordTest.php
  tests/Core/Tokenizer/AttributesTest.php
  tests/Core/Tokenizer/BackfillEnumTest.php
  tests/Core/Tokenizer/BackfillExplicitOctalNotationTest.php
  tests/Core/Tokenizer/BackfillFnTokenTest.php
  tests/Core/Tokenizer/BackfillMatchTokenTest.php
  tests/Core/Tokenizer/BackfillNumericSeparatorTest.php
  tests/Core/Tokenizer/BackfillReadonlyTest.php
  tests/Core/Tokenizer/BitwiseOrTest.php
  tests/Core/Tokenizer/ContextSensitiveKeywordsTest.php
  tests/Core/Tokenizer/DefaultKeywordTest.php
  tests/Core/Tokenizer/DoubleArrowTest.php
  tests/Core/Tokenizer/DoubleQuotedStringTest.php
  tests/Core/Tokenizer/EnumCaseTest.php
  tests/Core/Tokenizer/FinallyTest.php
  tests/Core/Tokenizer/GotoLabelTest.php
  tests/Core/Tokenizer/HeredocNowdocCloserTest.php
  tests/Core/Tokenizer/HeredocStringTest.php
  tests/Core/Tokenizer/NamedFunctionCallArgumentsTest.php
  tests/Core/Tokenizer/NullsafeObjectOperatorTest.php
  tests/Core/Tokenizer/ScopeSettingWithNamespaceOperatorTest.php
  tests/Core/Tokenizer/ShortArrayTest.php
  tests/Core/Tokenizer/StableCommentWhitespaceTest.php
  tests/Core/Tokenizer/StableCommentWhitespaceWinTest.php
  tests/Core/Tokenizer/TypeIntersectionTest.php
  tests/Core/Tokenizer/UndoNamespacedNameSingleTokenTest.php
  tests/Core/Util/SuggestTypeTest.php
Labels: Type: chores/QA

#237 [Documentation] PSR12 - Return Type Declaration
  src/Standards/PSR12/Docs/Functions/ReturnTypeDeclarationStandard.xml
Labels: Status: awaiting feedback, Type: documentation, Standard: PSR12

#256 skip tests requiring git repository
  tests/Core/Filters/GitModifiedTest.php
  tests/Core/Filters/GitStagedTest.php
Labels: Type: chores/QA, Core Component: Other

#241 Generic/UnnecessaryFinalModifier: improve code coverage
  src/Standards/Generic/Tests/CodeAnalysis/UnnecessaryFinalModifierUnitTest.1.inc
  src/Standards/Generic/Tests/CodeAnalysis/UnnecessaryFinalModifierUnitTest.2.inc
  src/Standards/Generic/Tests/CodeAnalysis/UnnecessaryFinalModifierUnitTest.php
Labels: Status: awaiting feedback, Type: chores/QA, Standard: Generic

#258 Filter/ExactMatch: rename a private property
  src/Filters/ExactMatch.php
Labels: Type: chores/QA, Core Component: Other

#232 [Documentation] PSR12 - Import Statement
  src/Standards/PSR12/Docs/Files/ImportStatementStandard.xml
Labels: Status: awaiting feedback, Type: documentation, Standard: PSR12

#238 [Documentation] PSR12 - Constant Visiblity
  src/Standards/PSR12/Docs/Properties/ConstantVisibilityStandard.xml
Labels: Status: awaiting feedback, Type: documentation, Standard: PSR12

#260 Tests/ExplainTest: expand the tests
  tests/Core/Ruleset/ExplainCustomRulesetTest.xml
  tests/Core/Ruleset/ExplainSingleSniffTest.xml
  tests/Core/Ruleset/ExplainTest.php
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#261 Tests/ErrorSuppressionTest: various improvements
  tests/Core/ErrorSuppressionTest.php
Labels: Type: chores/QA, Focus: Ignore Annotations/Excludes

#262 Tests/SetSniffPropertyTest: various improvements
  tests/Core/Ruleset/Fixtures/Sniffs/SetProperty/AllowedAsDeclaredSniff.php
  tests/Core/Ruleset/Fixtures/Sniffs/SetProperty/AllowedViaMagicMethodSniff.php
  tests/Core/Ruleset/Fixtures/Sniffs/SetProperty/AllowedViaStdClassSniff.php
  tests/Core/Ruleset/Fixtures/Sniffs/SetProperty/NotAllowedViaAttributeSniff.php
  tests/Core/Ruleset/SetPropertyAllowedAsDeclaredTest.xml
  tests/Core/Ruleset/SetPropertyAllowedViaMagicMethodTest.xml
  tests/Core/Ruleset/SetPropertyAllowedViaStdClassTest.xml
  tests/Core/Ruleset/SetPropertyNotAllowedViaAttributeTest.xml
  tests/Core/Ruleset/SetSniffPropertyTest.php
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#263 Tests/BackfillReadonlyTest: use named data sets and other tweaks
  tests/Core/Tokenizer/BackfillReadonlyTest.inc
  tests/Core/Tokenizer/BackfillReadonlyTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#264 Tests/AttributesTest: use named data sets + activate a test
  tests/Core/Tokenizer/AttributesTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#265 Tests/BackfillNumericSeparatorTest: simplify data sets + use named data sets
  tests/Core/Tokenizer/BackfillNumericSeparatorTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#266 Tests/HeredocNowdocCloserTest: clean up + use named data sets
  tests/Core/Tokenizer/HeredocNowdocCloserTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#267 Tests/NamedFunctionCallArgumentsTest: various improvements
  tests/Core/Tokenizer/NamedFunctionCallArgumentsTest.inc
  tests/Core/Tokenizer/NamedFunctionCallArgumentsTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#268 Tests/EnumCaseTest: use named data sets + activate three extra tests
  tests/Core/Tokenizer/EnumCaseTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#269 Tests/BitwiseOrTest: use named data sets and other tweaks
  tests/Core/Tokenizer/BitwiseOrTest.inc
  tests/Core/Tokenizer/BitwiseOrTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#270 Tests/TypeIntersectionTest: use named data sets and other tweaks
  tests/Core/Tokenizer/TypeIntersectionTest.inc
  tests/Core/Tokenizer/TypeIntersectionTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#271 Tests/various: normalize data provider arrays
  tests/Core/File/FindImplementedInterfaceNamesTest.php
  tests/Core/File/GetMethodParametersTest.php
  tests/Core/Filters/GitModifiedTest.php
  tests/Core/Filters/GitStagedTest.php
Labels: Type: chores/QA

#272 Tests/UndoNamespacedNameSingleTokenTest: use named data sets
  tests/Core/Tokenizer/UndoNamespacedNameSingleTokenTest.inc
  tests/Core/Tokenizer/UndoNamespacedNameSingleTokenTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#273 Tests/RuleInclusionTest: use named data within data sets
  tests/Core/Ruleset/RuleInclusionTest.php
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#274 Tests/Tokenizer/various: use named data sets
  tests/Core/Tokenizer/AnonClassParenthesisOwnerTest.php
  tests/Core/Tokenizer/ArrayKeywordTest.php
  tests/Core/Tokenizer/BackfillEnumTest.inc
  tests/Core/Tokenizer/BackfillEnumTest.php
  tests/Core/Tokenizer/BackfillExplicitOctalNotationTest.php
  tests/Core/Tokenizer/BackfillFnTokenTest.php
  tests/Core/Tokenizer/BackfillMatchTokenTest.php
  tests/Core/Tokenizer/ContextSensitiveKeywordsTest.php
  tests/Core/Tokenizer/DefaultKeywordTest.php
  tests/Core/Tokenizer/DoubleQuotedStringTest.php
  tests/Core/Tokenizer/FinallyTest.php
  tests/Core/Tokenizer/GotoLabelTest.php
  tests/Core/Tokenizer/HeredocStringTest.php
  tests/Core/Tokenizer/NullsafeObjectOperatorTest.php
  tests/Core/Tokenizer/ScopeSettingWithNamespaceOperatorTest.php
  tests/Core/Tokenizer/StableCommentWhitespaceTest.php
  tests/Core/Tokenizer/StableCommentWhitespaceWinTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#249 Generic/UnusedFunctionParameter: improve code coverage
  src/Standards/Generic/Sniffs/CodeAnalysis/UnusedFunctionParameterSniff.php
  src/Standards/Generic/Tests/CodeAnalysis/UnusedFunctionParameterUnitTest.1.inc
  src/Standards/Generic/Tests/CodeAnalysis/UnusedFunctionParameterUnitTest.2.inc
  src/Standards/Generic/Tests/CodeAnalysis/UnusedFunctionParameterUnitTest.3.inc
  src/Standards/Generic/Tests/CodeAnalysis/UnusedFunctionParameterUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#280 Add links to all issues in the 3.7.1 and 3.7.0 sections of the changelog
  CHANGELOG.md
Labels: Status: awaiting feedback, Type: documentation

#284 Fix some links in the 3.7.2 changelog
  CHANGELOG.md
Labels: Type: documentation

#242 Generic/DocComment: improve code coverage
  src/Standards/Generic/Tests/Commenting/DocCommentUnitTest.1.inc
  src/Standards/Generic/Tests/Commenting/DocCommentUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/Commenting/DocCommentUnitTest.1.js
  src/Standards/Generic/Tests/Commenting/DocCommentUnitTest.1.js.fixed
  src/Standards/Generic/Tests/Commenting/DocCommentUnitTest.2.inc
  src/Standards/Generic/Tests/Commenting/DocCommentUnitTest.2.js
  src/Standards/Generic/Tests/Commenting/DocCommentUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#285 Add links to all issues in the 3.6.2 and 3.6.1 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation, Status: triage

#228 Add `community-cc-list.md` file
  .github/community-cc-list.md
Labels: Type: meta

#127 New error code for `Squiz.Commenting.FunctionComment`: `MissingParamType`
  src/Standards/Squiz/Sniffs/Commenting/FunctionCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.php
Labels: Type: bug, Focus: Comments/Docblocks, Standard: Squiz

#196 Squiz/EmbeddedPhp: add support for short open tag and various bug fixes
  src/Standards/Squiz/Sniffs/PHP/EmbeddedPhpSniff.php
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.1.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.10.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.11.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.12.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.12.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.13.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.13.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.14.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.15.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.16.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.17.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.18.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.18.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.19.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.19.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.2.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.2.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.20.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.20.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.21.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.21.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.22.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.22.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.23.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.3.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.3.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.4.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.4.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.5.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.5.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.6.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.7.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.8.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.9.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.php
Labels: Type: bug, Type: chores/QA, Type: enhancement, Focus: Performance, Standard: Squiz

#276 Soft deprecate all sniffs which are to be removed in PHPCS 4.0
  src/Standards/Generic/Sniffs/Debug/CSSLintSniff.php
  src/Standards/Generic/Sniffs/Debug/ClosureLinterSniff.php
  src/Standards/Generic/Sniffs/Debug/ESLintSniff.php
  src/Standards/Generic/Sniffs/Debug/JSHintSniff.php
  src/Standards/MySource/Sniffs/CSS/BrowserSpecificStylesSniff.php
  src/Standards/MySource/Sniffs/Channels/DisallowSelfActionsSniff.php
  src/Standards/MySource/Sniffs/Channels/IncludeOwnSystemSniff.php
  src/Standards/MySource/Sniffs/Channels/IncludeSystemSniff.php
  src/Standards/MySource/Sniffs/Channels/UnusedSystemSniff.php
  src/Standards/MySource/Sniffs/Commenting/FunctionCommentSniff.php
  src/Standards/MySource/Sniffs/Debug/DebugCodeSniff.php
  src/Standards/MySource/Sniffs/Debug/FirebugConsoleSniff.php
  src/Standards/MySource/Sniffs/Objects/AssignThisSniff.php
  src/Standards/MySource/Sniffs/Objects/CreateWidgetTypeCallbackSniff.php
  src/Standards/MySource/Sniffs/Objects/DisallowNewWidgetSniff.php
  src/Standards/MySource/Sniffs/PHP/AjaxNullComparisonSniff.php
  src/Standards/MySource/Sniffs/PHP/EvalObjectFactorySniff.php
  src/Standards/MySource/Sniffs/PHP/GetRequestDataSniff.php
  src/Standards/MySource/Sniffs/PHP/ReturnFunctionValueSniff.php
  src/Standards/MySource/Sniffs/Strings/JoinStringsSniff.php
  src/Standards/Squiz/Sniffs/CSS/ClassDefinitionClosingBraceSpaceSniff.php
  src/Standards/Squiz/Sniffs/CSS/ClassDefinitionNameSpacingSniff.php
  src/Standards/Squiz/Sniffs/CSS/ClassDefinitionOpeningBraceSpaceSniff.php
  src/Standards/Squiz/Sniffs/CSS/ColonSpacingSniff.php
  src/Standards/Squiz/Sniffs/CSS/ColourDefinitionSniff.php
  src/Standards/Squiz/Sniffs/CSS/DisallowMultipleStyleDefinitionsSniff.php
  src/Standards/Squiz/Sniffs/CSS/DuplicateClassDefinitionSniff.php
  src/Standards/Squiz/Sniffs/CSS/DuplicateStyleDefinitionSniff.php
  src/Standards/Squiz/Sniffs/CSS/EmptyClassDefinitionSniff.php
  src/Standards/Squiz/Sniffs/CSS/EmptyStyleDefinitionSniff.php
  src/Standards/Squiz/Sniffs/CSS/ForbiddenStylesSniff.php
  src/Standards/Squiz/Sniffs/CSS/IndentationSniff.php
  src/Standards/Squiz/Sniffs/CSS/LowercaseStyleDefinitionSniff.php
  src/Standards/Squiz/Sniffs/CSS/MissingColonSniff.php
  src/Standards/Squiz/Sniffs/CSS/NamedColoursSniff.php
  src/Standards/Squiz/Sniffs/CSS/OpacitySniff.php
  src/Standards/Squiz/Sniffs/CSS/SemicolonSpacingSniff.php
  src/Standards/Squiz/Sniffs/CSS/ShorthandSizeSniff.php
  src/Standards/Squiz/Sniffs/Classes/DuplicatePropertySniff.php
  src/Standards/Squiz/Sniffs/Debug/JSLintSniff.php
  src/Standards/Squiz/Sniffs/Debug/JavaScriptLintSniff.php
  src/Standards/Squiz/Sniffs/Objects/DisallowObjectStringIndexSniff.php
  src/Standards/Squiz/Sniffs/Objects/ObjectMemberCommaSniff.php
  src/Standards/Squiz/Sniffs/WhiteSpace/LanguageConstructSpacingSniff.php
  src/Standards/Squiz/Sniffs/WhiteSpace/PropertyLabelSpacingSniff.php
Labels: Type: documentation, Type: meta, Standard: Generic, Standard: MySource, Standard: Squiz

#277 Zend.Debug.CodeAnalyzer: soft deprecate the sniff
  src/Standards/Zend/Sniffs/Debug/CodeAnalyzerSniff.php
Labels: Type: documentation, Standard: Zend

#286 Add links to all issues in the 3.6.0 section of the changelog
  CHANGELOG.md
Labels: Type: documentation

#292 Generic/IncrementDecrementSpacing: fix post-decrement error message
  src/Standards/Generic/Sniffs/WhiteSpace/IncrementDecrementSpacingSniff.php
  src/Standards/Generic/Tests/WhiteSpace/IncrementDecrementSpacingUnitTest.inc
  src/Standards/Generic/Tests/WhiteSpace/IncrementDecrementSpacingUnitTest.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/IncrementDecrementSpacingUnitTest.php
Labels: Type: bug, Standard: Generic

#235 Generic/ForLoopWithTestFunctionCall: fix potential PHP 8.3+ deprecation notice
  src/Standards/Generic/Sniffs/CodeAnalysis/ForLoopWithTestFunctionCallSniff.php
  src/Standards/Generic/Tests/CodeAnalysis/ForLoopWithTestFunctionCallUnitTest.1.inc
  src/Standards/Generic/Tests/CodeAnalysis/ForLoopWithTestFunctionCallUnitTest.2.inc
  src/Standards/Generic/Tests/CodeAnalysis/ForLoopWithTestFunctionCallUnitTest.3.inc
  src/Standards/Generic/Tests/CodeAnalysis/ForLoopWithTestFunctionCallUnitTest.inc
  src/Standards/Generic/Tests/CodeAnalysis/ForLoopWithTestFunctionCallUnitTest.php
Labels: Type: bug, Standard: Generic

#302 Tests/Generic: make some tests a little more descriptive
  src/Standards/Generic/Tests/Files/InlineHTMLUnitTest.6.inc
  src/Standards/Generic/Tests/Files/InlineHTMLUnitTest.7.inc
  src/Standards/Generic/Tests/PHP/CharacterBeforePHPOpeningTagUnitTest.3.inc
Labels: Type: chores/QA, Standard: Generic

#301 Add links to all issues in the 3.5.7 and 3.5.6 sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#281 ✨ Native handling of sniff deprecations
  phpunit.xml.dist
  src/Ruleset.php
  src/Runner.php
  src/Sniffs/DeprecatedSniff.php
  tests/Core/Ruleset/ExplainTest.php
  tests/Core/Ruleset/Fixtures/Sniffs/Deprecated/WithLongReplacementSniff.php
  tests/Core/Ruleset/Fixtures/Sniffs/Deprecated/WithReplacementContainingLinuxNewlinesSniff.php
  tests/Core/Ruleset/Fixtures/Sniffs/Deprecated/WithReplacementContainingNewlinesSniff.php
  tests/Core/Ruleset/Fixtures/Sniffs/Deprecated/WithReplacementSniff.php
  tests/Core/Ruleset/Fixtures/Sniffs/Deprecated/WithoutReplacementSniff.php
  tests/Core/Ruleset/Fixtures/Sniffs/DeprecatedInvalid/EmptyDeprecationVersionSniff.php
  tests/Core/Ruleset/Fixtures/Sniffs/DeprecatedInvalid/EmptyRemovalVersionSniff.php
  tests/Core/Ruleset/Fixtures/Sniffs/DeprecatedInvalid/InvalidDeprecationMessageSniff.php
  tests/Core/Ruleset/Fixtures/Sniffs/DeprecatedInvalid/InvalidDeprecationVersionSniff.php
  tests/Core/Ruleset/Fixtures/Sniffs/DeprecatedInvalid/InvalidRemovalVersionSniff.php
  tests/Core/Ruleset/Fixtures/ruleset.xml
  tests/Core/Ruleset/ShowSniffDeprecationsEmptyDeprecationVersionTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsEmptyRemovalVersionTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsInvalidDeprecationMessageTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsInvalidDeprecationVersionTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsInvalidRemovalVersionTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsOrderTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsReportWidthTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsTest.php
  tests/Core/Ruleset/ShowSniffDeprecationsTest.xml
Labels: Type: enhancement, Core Component: Config & Ruleset & CLI options

#203 Filters/ExactMatch: deprecate the `getBlacklist()` and `getWhitelist()` methods
  src/Filters/ExactMatch.php
  src/Filters/GitModified.php
  src/Filters/GitStaged.php
Labels: Type: chores/QA, Type: meta, Core Component: Other

#296 Generic/ArbitraryParenthesesSpacing: improve handling of switch-case scope closers
  src/Standards/Generic/Sniffs/WhiteSpace/ArbitraryParenthesesSpacingSniff.php
  src/Standards/Generic/Tests/WhiteSpace/ArbitraryParenthesesSpacingUnitTest.1.inc
  src/Standards/Generic/Tests/WhiteSpace/ArbitraryParenthesesSpacingUnitTest.1.inc.fixed
Labels: Type: bug, Standard: Generic

#287 Generic/IncrementDecrementSpacing: add XML documentation
  src/Standards/Generic/Docs/WhiteSpace/IncrementDecrementSpacingStandard.xml
Labels: Type: documentation, Standard: Generic

#304 CONTRIBUTING: iterate on the guidelines
  .github/CONTRIBUTING.md
Labels: Type: documentation

#182 [Documentation] PSR12 - Control Structure Spacing
  src/Standards/PSR12/Docs/ControlStructures/ControlStructureSpacingStandard.xml
Labels: Type: documentation, Standard: PSR12

#278 Generic/ByteOrderMark: improve code coverage
  src/Standards/Generic/Tests/Files/ByteOrderMarkUnitTest.1.inc
  src/Standards/Generic/Tests/Files/ByteOrderMarkUnitTest.2.inc
  src/Standards/Generic/Tests/Files/ByteOrderMarkUnitTest.3.inc
  src/Standards/Generic/Tests/Files/ByteOrderMarkUnitTest.4.inc
  src/Standards/Generic/Tests/Files/ByteOrderMarkUnitTest.5.inc
  src/Standards/Generic/Tests/Files/ByteOrderMarkUnitTest.inc
  src/Standards/Generic/Tests/Files/ByteOrderMarkUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#305 GH Actions: re-attempt upgrade actions/[upload|download]-artifact from 3 to 4
  .github/workflows/test.yml
Labels: Type: chores/QA

#310 Tests/Tokenizer: make failure messages more descriptive
  tests/Core/Tokenizer/BackfillEnumTest.php
  tests/Core/Tokenizer/BackfillNumericSeparatorTest.php
  tests/Core/Tokenizer/BackfillReadonlyTest.php
  tests/Core/Tokenizer/BitwiseOrTest.php
  tests/Core/Tokenizer/ContextSensitiveKeywordsTest.php
  tests/Core/Tokenizer/EnumCaseTest.php
  tests/Core/Tokenizer/FinallyTest.php
  tests/Core/Tokenizer/GotoLabelTest.php
  tests/Core/Tokenizer/ShortArrayTest.php
  tests/Core/Tokenizer/StableCommentWhitespaceTest.php
  tests/Core/Tokenizer/StableCommentWhitespaceWinTest.php
  tests/Core/Tokenizer/TypeIntersectionTest.php
  tests/Core/Tokenizer/UndoNamespacedNameSingleTokenTest.php
Labels: Type: chores/QA

#313 AbstractMethodUnitTest: move getTargetToken() logic to static method
  tests/Core/AbstractMethodUnitTest.php
Labels: Type: chores/QA

#314 Tests: fix recording code coverage for Tokenizer tests
  tests/Core/Tokenizer/AbstractTokenizerTestCase.php
  tests/Core/Tokenizer/AnonClassParenthesisOwnerTest.php
  tests/Core/Tokenizer/ArrayKeywordTest.php
  tests/Core/Tokenizer/AttributesTest.php
  tests/Core/Tokenizer/BackfillEnumTest.php
  tests/Core/Tokenizer/BackfillExplicitOctalNotationTest.php
  tests/Core/Tokenizer/BackfillFnTokenTest.php
  tests/Core/Tokenizer/BackfillMatchTokenTest.php
  tests/Core/Tokenizer/BackfillNumericSeparatorTest.php
  tests/Core/Tokenizer/BackfillReadonlyTest.php
  tests/Core/Tokenizer/BitwiseOrTest.php
  tests/Core/Tokenizer/ContextSensitiveKeywordsTest.php
  tests/Core/Tokenizer/DefaultKeywordTest.php
  tests/Core/Tokenizer/DoubleArrowTest.php
  tests/Core/Tokenizer/DoubleQuotedStringTest.php
  tests/Core/Tokenizer/EnumCaseTest.php
  tests/Core/Tokenizer/FinallyTest.php
  tests/Core/Tokenizer/GotoLabelTest.php
  tests/Core/Tokenizer/HeredocNowdocCloserTest.php
  tests/Core/Tokenizer/HeredocStringTest.php
  tests/Core/Tokenizer/NamedFunctionCallArgumentsTest.php
  tests/Core/Tokenizer/NullsafeObjectOperatorTest.php
  tests/Core/Tokenizer/ScopeSettingWithNamespaceOperatorTest.php
  tests/Core/Tokenizer/ShortArrayTest.php
  tests/Core/Tokenizer/StableCommentWhitespaceTest.php
  tests/Core/Tokenizer/StableCommentWhitespaceWinTest.php
  tests/Core/Tokenizer/TypeIntersectionTest.php
  tests/Core/Tokenizer/UndoNamespacedNameSingleTokenTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#315 Tokenizer/PHP::resolveSimpleToken(): add dedicated tests
  tests/Core/Tokenizer/AbstractTokenizerTestCase.php
  tests/Core/Tokenizer/ResolveSimpleTokenTest.inc
  tests/Core/Tokenizer/ResolveSimpleTokenTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#316 Tests/Tokenizer: split `ContextSensitiveKeywordsTest`
  tests/Core/Tokenizer/ContextSensitiveKeywordsTest.inc
  tests/Core/Tokenizer/ContextSensitiveKeywordsTest.php
  tests/Core/Tokenizer/OtherContextSensitiveKeywordsTest.inc
  tests/Core/Tokenizer/OtherContextSensitiveKeywordsTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#307 PSR2/ClassDeclaration: bug fix - space before class keyword is not checked correctly
  src/Standards/PSR2/Sniffs/Classes/ClassDeclarationSniff.php
  src/Standards/PSR2/Tests/Classes/ClassDeclarationUnitTest.inc
  src/Standards/PSR2/Tests/Classes/ClassDeclarationUnitTest.inc.fixed
  src/Standards/PSR2/Tests/Classes/ClassDeclarationUnitTest.php
Labels: Type: bug, Standard: PSR2

#311 Generic/LowerCaseType: bug fix in intersection type ignore code
  src/Standards/Generic/Sniffs/PHP/LowerCaseTypeSniff.php
Labels: Type: bug, Focus: Modern PHP, Standard: Generic

#320 File::getMethodProperties(): add extra test with nullable static return type
  tests/Core/File/GetMethodPropertiesTest.inc
  tests/Core/File/GetMethodPropertiesTest.php
Labels: Type: chores/QA, Core Component: File
