Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2024-04, with the labels that each got.

#418 Add links to all issues in the remaining sections of the changelog
  CHANGELOG.md
Labels: Type: documentation

#420 PEAR/Functions/FunctionDeclaration: add extra defensive coding
  src/Standards/PEAR/Sniffs/Functions/FunctionDeclarationSniff.php
  src/Standards/PEAR/Tests/Functions/FunctionDeclarationUnitTest.1.inc
  src/Standards/PEAR/Tests/Functions/FunctionDeclarationUnitTest.1.inc.fixed
  src/Standards/PEAR/Tests/Functions/FunctionDeclarationUnitTest.2.inc
  src/Standards/PEAR/Tests/Functions/FunctionDeclarationUnitTest.php
Labels: Type: bug, Standard: PEAR

#423 PEAR/ScopeClosingBrace: prevent fixer conflict with itself
  src/Standards/PEAR/Sniffs/WhiteSpace/ScopeClosingBraceSniff.php
  src/Standards/PEAR/Tests/WhiteSpace/ScopeClosingBraceUnitTest.inc
  src/Standards/PEAR/Tests/WhiteSpace/ScopeClosingBraceUnitTest.inc.fixed
  src/Standards/PEAR/Tests/WhiteSpace/ScopeClosingBraceUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: PEAR

#424 PSR2/ClassDeclaration: support namespace relative names / prevent fixer conflict
  src/Standards/PSR2/Sniffs/Classes/ClassDeclarationSniff.php
  src/Standards/PSR2/Tests/Classes/ClassDeclarationUnitTest.inc
  src/Standards/PSR2/Tests/Classes/ClassDeclarationUnitTest.inc.fixed
Labels: Type: bug, Focus: Fixer Conflicts, Standard: PSR2

#421 File::getMethodProperties(): skip over closure use statements
  src/Files/File.php
  tests/Core/File/GetMethodPropertiesTest.inc
  tests/Core/File/GetMethodPropertiesTest.php
Labels: Type: enhancement, Core Component: File, Focus: Performance

#436 Tests - Generic/ESLint: fix test
  src/Standards/Generic/Tests/Debug/ESLintUnitTest.php
Labels: Type: chores/QA

#430 Squiz/ForLoopDeclaration: bug fix - prevent sniff erroring out
  src/Standards/Squiz/Sniffs/ControlStructures/ForLoopDeclarationSniff.php
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.1.inc
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.2.inc
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.3.inc
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.php
Labels: Type: bug, Type: chores/QA, Standard: Squiz

#431 PSR2/ClassDeclaration: bug fix - prevent fixer conflict
  src/Standards/PSR2/Sniffs/Classes/ClassDeclarationSniff.php
  src/Standards/PSR2/Tests/Classes/ClassDeclarationUnitTest.inc
  src/Standards/PSR2/Tests/Classes/ClassDeclarationUnitTest.inc.fixed
  src/Standards/PSR2/Tests/Classes/ClassDeclarationUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: PSR2

#438 CS: use `implode()` not `join()`
  src/Standards/Generic/Sniffs/CodeAnalysis/JumbledIncrementerSniff.php
  src/Standards/Squiz/Sniffs/Debug/JavaScriptLintSniff.php
  src/Standards/Zend/Sniffs/Debug/CodeAnalyzerSniff.php
Labels: Type: chores/QA, Standard: Generic, Standard: Squiz, Standard: Zend

#381 Squiz/ClosingDeclarationComment: fix a non-problematic bug plus some other small improvements
  src/Standards/Squiz/Sniffs/Commenting/ClosingDeclarationCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.1.inc
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.2.inc
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.3.inc
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.4.inc
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.4.inc.fixed
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.5.inc
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.5.inc.fixed
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.php
Labels: Status: awaiting feedback, Type: bug, Focus: Comments/Docblocks, Standard: Squiz

#385 Generic/JumbledIncrementer: fix non-problematic bug and improve test coverage
  src/Standards/Generic/Sniffs/CodeAnalysis/JumbledIncrementerSniff.php
  src/Standards/Generic/Tests/CodeAnalysis/JumbledIncrementerUnitTest.1.inc
  src/Standards/Generic/Tests/CodeAnalysis/JumbledIncrementerUnitTest.2.inc
  src/Standards/Generic/Tests/CodeAnalysis/JumbledIncrementerUnitTest.3.inc
  src/Standards/Generic/Tests/CodeAnalysis/JumbledIncrementerUnitTest.4.inc
  src/Standards/Generic/Tests/CodeAnalysis/JumbledIncrementerUnitTest.inc
  src/Standards/Generic/Tests/CodeAnalysis/JumbledIncrementerUnitTest.php
Labels: Type: bug, Standard: Generic

#443 Generic/JumbledIncrementer: fix inconsistency
  src/Standards/Generic/Sniffs/CodeAnalysis/JumbledIncrementerSniff.php
Labels: Type: chores/QA, Standard: Generic

#449 Docs: clean up markdown files
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/community-cc-list.md
  .github/pull_request_template.md
  CHANGELOG.md
  README.md
Labels: Type: chores/QA, Type: documentation

#450 GH Actions: add markdown lint + QA jobs
  .gitattributes
  .github/workflows/validate.yml
  .gitignore
  .markdownlint-cli2.yaml
  .remarkignore
  .remarkrc
Labels: Type: chores/QA

#454 OtherContextSensitiveKeywordsTest: add silly number of extra tests
  tests/Core/Tokenizer/OtherContextSensitiveKeywordsTest.inc
  tests/Core/Tokenizer/OtherContextSensitiveKeywordsTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#456 Composer: avoid writing a lock file
  composer.json
Labels: Type: chores/QA

#394 Generic/CallTimePassByReference: support anonymous classes and improve code coverage
  src/Standards/Generic/Sniffs/Functions/CallTimePassByReferenceSniff.php
  src/Standards/Generic/Tests/Functions/CallTimePassByReferenceUnitTest.1.inc
  src/Standards/Generic/Tests/Functions/CallTimePassByReferenceUnitTest.2.inc
  src/Standards/Generic/Tests/Functions/CallTimePassByReferenceUnitTest.3.inc
  src/Standards/Generic/Tests/Functions/CallTimePassByReferenceUnitTest.php
Labels: Type: bug, Standard: Generic

#458 Generic/DisallowYodaConditions: `??` should not trigger the sniff
  src/Standards/Generic/Sniffs/ControlStructures/DisallowYodaConditionsSniff.php
  src/Standards/Generic/Tests/ControlStructures/DisallowYodaConditionsUnitTest.inc
Labels: Type: bug, Standard: Generic, Status: triage

#453 Tokenizer/PHP: arrow function tokenization broken when true/false used in return type
  src/Tokenizers/PHP.php
  tests/Core/Tokenizer/BackfillFnTokenTest.inc
  tests/Core/Tokenizer/BackfillFnTokenTest.php
Labels: Type: bug, Type: chores/QA, Core Component: Tokenizer, Focus: Modern PHP

#460 Tokenizer/PHP: add tests for arrow functions with intersection types
  tests/Core/Tokenizer/BackfillFnTokenTest.inc
  tests/Core/Tokenizer/BackfillFnTokenTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#459 Changelog for the 3.9.2 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta

#442 Squiz/ClosingDeclarationComment: add trait support
  src/Standards/Squiz/Sniffs/Commenting/ClosingDeclarationCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.1.inc
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.php
Labels: Type: enhancement, Focus: Comments/Docblocks, Standard: Squiz

#445 New Common::stripColors() method
  src/Reporter.php
  src/Ruleset.php
  src/Util/Common.php
  tests/Core/Util/StripColorsTest.php
Labels: Type: chores/QA, Type: enhancement, Core Component: Config & Ruleset & CLI options, Core Component: Utils

#463 GH Actions: work around intermittent apt-get errors
  .github/workflows/validate.yml
Labels: Type: chores/QA

#447 Config: revamp the help screen(s)
  src/Config.php
  src/Util/Help.php
  tests/Core/Util/HelpTest.php
Labels: Type: documentation, Type: enhancement, Core Component: Config & Ruleset & CLI options, Core Component: Utils, Status: waiting for opinions

#461 PHP 8.2 | Tokenizer/PHP: add support for DNF types
  src/Tokenizers/PHP.php
  src/Util/Tokens.php
  tests/Core/Tokenizer/ArrayKeywordTest.inc
  tests/Core/Tokenizer/ArrayKeywordTest.php
  tests/Core/Tokenizer/BackfillFnTokenTest.inc
  tests/Core/Tokenizer/BackfillFnTokenTest.php
  tests/Core/Tokenizer/BitwiseOrTest.inc
  tests/Core/Tokenizer/BitwiseOrTest.php
  tests/Core/Tokenizer/ContextSensitiveKeywordsTest.inc
  tests/Core/Tokenizer/ContextSensitiveKeywordsTest.php
  tests/Core/Tokenizer/DNFTypesTest.inc
  tests/Core/Tokenizer/DNFTypesTest.php
  tests/Core/Tokenizer/OtherContextSensitiveKeywordsTest.inc
  tests/Core/Tokenizer/OtherContextSensitiveKeywordsTest.php
  tests/Core/Tokenizer/TypeIntersectionTest.inc
  tests/Core/Tokenizer/TypeIntersectionTest.php
  tests/Core/Tokenizer/TypedConstantsTest.inc
  tests/Core/Tokenizer/TypedConstantsTest.php
Labels: Type: enhancement, Core Component: Tokenizer, Core Component: Utils, Focus: Modern PHP, Status: waiting for opinions

#470 IsReferenceTest: add extra tests with intersection/DNF types
  tests/Core/File/IsReferenceTest.inc
  tests/Core/File/IsReferenceTest.php
Labels: Type: chores/QA, Core Component: File

#464 docs: Correct semi-colon for semicolon (without dash)
  CHANGELOG.md
  src/Files/File.php
  src/Standards/Generic/Docs/CodeAnalysis/EmptyPHPStatementStandard.xml
  src/Standards/Generic/Sniffs/CodeAnalysis/EmptyPHPStatementSniff.php
  src/Standards/Generic/Tests/CodeAnalysis/EmptyPHPStatementUnitTest.inc
  src/Standards/Generic/Tests/CodeAnalysis/EmptyPHPStatementUnitTest.inc.fixed
  src/Standards/PSR12/ruleset.xml
  src/Standards/PSR2/Sniffs/Namespaces/UseDeclarationSniff.php
  src/Standards/Squiz/Sniffs/CSS/SemicolonSpacingSniff.php
  src/Standards/Squiz/Sniffs/Commenting/LongConditionClosingCommentSniff.php
  src/Standards/Squiz/Sniffs/Strings/EchoedStringsSniff.php
  src/Standards/Squiz/Sniffs/WhiteSpace/SemicolonSpacingSniff.php
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.1.inc
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.js
  src/Standards/Squiz/Tests/ControlStructures/ForLoopDeclarationUnitTest.js.fixed
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/SemicolonSpacingUnitTest.inc
  src/Standards/Squiz/Tests/WhiteSpace/SemicolonSpacingUnitTest.inc.fixed
Labels: Status: awaiting feedback, Type: documentation
