Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2024-10, with the labels that each got.

#624 GH Actions/PHPStan: use reusable workflow
  .github/workflows/phpstan.yml
  .github/workflows/validate.yml
Labels: Type: chores/QA

#625 Runner::processFile()/error handling: add more defensive coding
  src/Runner.php
  tests/Core/Util/Common/GetSniffCodeTest.php
Labels: Type: bug, Core Component: Other

#626 Tests/File::findStartOfStatement(): fix dataproviders
  tests/Core/File/FindStartOfStatementTest.php
Labels: Type: chores/QA

#628 GH Actions: always quote variables
  .github/workflows/happy-new-year.yml
  .github/workflows/test.yml
Labels: Type: chores/QA

#629 Partially revert PR #621
  .remarkrc
  README.md
Labels: Type: chores/QA

#631 GH Actions/remove labels: update lists of labels to auto-remove
  .github/workflows/label-remove-outdated.yml
Labels: Type: chores/QA

#632 Tokenizer/PHP: fix handling of "DNF look a likes" with switch/case and alternative control structure syntax
  src/Tokenizers/PHP.php
  tests/Core/Tokenizer/PHP/DNFTypesTest.inc
  tests/Core/Tokenizer/PHP/DNFTypesTest.php
Labels: Type: bug, Core Component: Tokenizer, Focus: Modern PHP

#634 Squiz/Heredoc: add XML doc
  src/Standards/Squiz/Docs/PHP/HeredocStandard.xml
Labels: Type: documentation, Standard: Squiz

#637 Generic/HereNowdocIdentifierSpacing: add metrics
  src/Standards/Generic/Sniffs/WhiteSpace/HereNowdocIdentifierSpacingSniff.php
Labels: Type: enhancement, Standard: Generic

#639 Generic/SpreadOperatorSpacingAfter: improve code coverage
  src/Standards/Generic/Tests/WhiteSpace/SpreadOperatorSpacingAfterUnitTest.1.inc
  src/Standards/Generic/Tests/WhiteSpace/SpreadOperatorSpacingAfterUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/SpreadOperatorSpacingAfterUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#644 Tokenizer::replaceTabsInToken(): add tests
  src/Tokenizers/Tokenizer.php
  tests/Core/Tokenizers/Tokenizer/CreatePositionMapTabWidth0Test.php
  tests/Core/Tokenizers/Tokenizer/ReplaceTabsInTokenMiscTest.php
  tests/Core/Tokenizers/Tokenizer/ReplaceTabsInTokenTabWidth1Test.php
  tests/Core/Tokenizers/Tokenizer/ReplaceTabsInTokenTabWidth2Test.php
  tests/Core/Tokenizers/Tokenizer/ReplaceTabsInTokenTabWidth4Test.php
  tests/Core/Tokenizers/Tokenizer/ReplaceTabsInTokenTabWidth5Test.php
  tests/Core/Tokenizers/Tokenizer/ReplaceTabsInTokenTest.inc
  tests/Core/Tokenizers/Tokenizer/ReplaceTabsInTokenTestCase.php
Labels: Type: chores/QA, Core Component: Tokenizer

#645 Tokenizer/PHP: add tests for tokenization of yield and yield from + minor bug fix
  src/Tokenizers/PHP.php
  tests/Core/Tokenizers/PHP/YieldTest.inc
  tests/Core/Tokenizers/PHP/YieldTest.php
Labels: Type: bug, Type: chores/QA, Core Component: Tokenizer

#646 Tokenizers/YieldTest: improve tests
  tests/Core/Tokenizers/PHP/YieldTest.php
Labels: Type: chores/QA

#638 Generic/DisallowShortOpenTag: improve code coverage
  src/Standards/Generic/Tests/PHP/DisallowShortOpenTagUnitTest.3.inc
  src/Standards/Generic/Tests/PHP/DisallowShortOpenTagUnitTest.4.inc
  src/Standards/Generic/Tests/PHP/DisallowShortOpenTagUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#641 Generic/AbstractClassNamePrefix: improve code coverage
  src/Standards/Generic/Sniffs/NamingConventions/AbstractClassNamePrefixSniff.php
  src/Standards/Generic/Tests/NamingConventions/AbstractClassNamePrefixUnitTest.1.inc
  src/Standards/Generic/Tests/NamingConventions/AbstractClassNamePrefixUnitTest.2.inc
  src/Standards/Generic/Tests/NamingConventions/AbstractClassNamePrefixUnitTest.inc
  src/Standards/Generic/Tests/NamingConventions/AbstractClassNamePrefixUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#635 Generic/RequireExplicitBooleanOperatorPrecedence: remove unreachable condition
  src/Standards/Generic/Sniffs/CodeAnalysis/RequireExplicitBooleanOperatorPrecedenceSniff.php
Labels: Type: chores/QA, Standard: Generic

#642 Generic/CamelCapsFunctionName: improve code coverage
  src/Standards/Generic/Sniffs/NamingConventions/CamelCapsFunctionNameSniff.php
  src/Standards/Generic/Tests/NamingConventions/CamelCapsFunctionNameUnitTest.1.inc
  src/Standards/Generic/Tests/NamingConventions/CamelCapsFunctionNameUnitTest.2.inc
  src/Standards/Generic/Tests/NamingConventions/CamelCapsFunctionNameUnitTest.3.inc
  src/Standards/Generic/Tests/NamingConventions/CamelCapsFunctionNameUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#633 :sparkles: New `Generic.Strings.UnnecessaryHeredoc` sniff
  src/Standards/Generic/Docs/Strings/UnnecessaryHeredocStandard.xml
  src/Standards/Generic/Sniffs/Strings/UnnecessaryHeredocSniff.php
  src/Standards/Generic/Tests/Strings/UnnecessaryHeredocUnitTest.1.inc
  src/Standards/Generic/Tests/Strings/UnnecessaryHeredocUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/Strings/UnnecessaryHeredocUnitTest.2.inc
  src/Standards/Generic/Tests/Strings/UnnecessaryHeredocUnitTest.2.inc.fixed
  src/Standards/Generic/Tests/Strings/UnnecessaryHeredocUnitTest.3.inc
  src/Standards/Generic/Tests/Strings/UnnecessaryHeredocUnitTest.php
Labels: Type: documentation, Type: enhancement, Standard: Generic

#627 Squiz/PostStatementComment: use a different error code for annotations
  src/Standards/Squiz/Sniffs/Commenting/PostStatementCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/PostStatementCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/PostStatementCommentUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Commenting/PostStatementCommentUnitTest.php
Labels: Type: enhancement, Focus: Comments/Docblocks, Standard: Squiz

#651 PHPCS ruleset: allow for trailing annotations
  phpcs.xml.dist
  src/Standards/Generic/Sniffs/ControlStructures/DisallowYodaConditionsSniff.php
  src/Standards/Generic/Sniffs/Strings/UnnecessaryHeredocSniff.php
  src/Util/Help.php
Labels: Type: chores/QA

#649 Generic/ConstructorName: fix minor bug
  src/Standards/Generic/Sniffs/NamingConventions/ConstructorNameSniff.php
Labels: Type: bug, Focus: Performance, Standard: Generic

#650 Generic/InterfaceNameSuffix: improve code coverage
  src/Standards/Generic/Sniffs/NamingConventions/InterfaceNameSuffixSniff.php
  src/Standards/Generic/Tests/NamingConventions/InterfaceNameSuffixUnitTest.1.inc
  src/Standards/Generic/Tests/NamingConventions/InterfaceNameSuffixUnitTest.2.inc
  src/Standards/Generic/Tests/NamingConventions/InterfaceNameSuffixUnitTest.inc
  src/Standards/Generic/Tests/NamingConventions/InterfaceNameSuffixUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#432 Generic/ArrayIndent: add XML documentation
  src/Standards/Generic/Docs/Arrays/ArrayIndentStandard.xml
Labels: Type: documentation, Standard: Generic

#655 Util\Tokens: add tests
  src/Util/Tokens.php
  tests/Core/Util/Tokens/GetHighestWeightedTokenTest.php
  tests/Core/Util/Tokens/TokenNameTest.php
Labels: Type: chores/QA, Core Component: Utils

#656 Util\Timing: add tests
  src/Util/Timing.php
  tests/Core/Util/Timing/GetHumanReadableDurationTest.php
  tests/Core/Util/Timing/TimingTest.php
Labels: Type: chores/QA, Core Component: Utils
