Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2024-05, with the labels that each got.

#471 PHP 8.2 | File::getMethodParameters(): add support for DNF types
  src/Files/File.php
  tests/Core/File/GetMethodParametersTest.inc
  tests/Core/File/GetMethodParametersTest.php
Labels: Type: enhancement, Core Component: File, Focus: Modern PHP

#472 PHP 8.2 | File::getMethodProperties(): add support for DNF types
  src/Files/File.php
  tests/Core/File/GetMethodPropertiesTest.inc
  tests/Core/File/GetMethodPropertiesTest.php
Labels: Type: enhancement, Core Component: File, Focus: Modern PHP

#473 PHP 8.2 | File::getMemberProperties(): add support for DNF types
  src/Files/File.php
  tests/Core/File/GetMemberPropertiesTest.inc
  tests/Core/File/GetMemberPropertiesTest.php
Labels: Type: enhancement, Core Component: File, Focus: Modern PHP

#466 Generic/CallTimePassByReference: add support for self, parent and static
  src/Standards/Generic/Sniffs/Functions/CallTimePassByReferenceSniff.php
  src/Standards/Generic/Tests/Functions/CallTimePassByReferenceUnitTest.1.inc
  src/Standards/Generic/Tests/Functions/CallTimePassByReferenceUnitTest.php
Labels: Type: enhancement, Standard: Generic

#479 Autoloader: fix missing return value
  autoload.php
Labels: Type: chores/QA

#478 Generic/LowerCaseType: add support for examining DNF types
  src/Standards/Generic/Sniffs/PHP/LowerCaseTypeSniff.php
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.inc
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.inc.fixed
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.php
Labels: Type: enhancement, Focus: Modern PHP, Standard: Generic

#480 Various minor doc fixes
  autoload.php
  src/Fixer.php
  src/Standards/Generic/Sniffs/CodeAnalysis/JumbledIncrementerSniff.php
  src/Standards/Generic/Sniffs/Debug/ClosureLinterSniff.php
  src/Standards/Generic/Sniffs/Debug/ESLintSniff.php
  src/Standards/Generic/Sniffs/Debug/JSHintSniff.php
  src/Standards/Squiz/Sniffs/Classes/SelfMemberReferenceSniff.php
  src/Standards/Squiz/Sniffs/Debug/JSLintSniff.php
  src/Tokenizers/CSS.php
  src/Tokenizers/JS.php
  src/Tokenizers/PHP.php
  src/Tokenizers/Tokenizer.php
  tests/Core/Tokenizer/BackfillExplicitOctalNotationTest.php
  tests/Core/Tokenizer/TypedConstantsTest.php
  tests/Core/Util/HelpTest.php
  tests/Core/Util/SuggestTypeTest.php
  tests/TestSuite7.php
Labels: Type: documentation, Core Component: Fixer, Core Component: Tokenizer, Standard: Generic, Standard: Squiz

#476 fix: Add missing '.fixed' file for src/Standards/PEAR/Tests/WhiteSpace/ScopeIndentUnitTest
  src/Standards/PEAR/Tests/WhiteSpace/ScopeIndentUnitTest.inc.fixed
Labels: Status: awaiting feedback, Type: bug, Status: triage

#465 Generic/DisallowYodaConditions: improve code coverage
  src/Standards/Generic/Sniffs/ControlStructures/DisallowYodaConditionsSniff.php
  src/Standards/Generic/Tests/ControlStructures/DisallowYodaConditionsUnitTest.inc
  src/Standards/Generic/Tests/ControlStructures/DisallowYodaConditionsUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#488 Generic/SpaceAfterCast: improve code coverage
  src/Standards/Generic/Tests/Formatting/SpaceAfterCastUnitTest.1.inc
  src/Standards/Generic/Tests/Formatting/SpaceAfterCastUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/Formatting/SpaceAfterCastUnitTest.2.inc
  src/Standards/Generic/Tests/Formatting/SpaceAfterCastUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#474 Increase test coverage for `--sniffs` and `--exclude` options
  tests/Core/Config/SniffsExcludeArgsTest.php
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#487 Generic/ArrayIndent: improve code coverage and implement a few small improvements to the sniff code
  src/Standards/Generic/Sniffs/Arrays/ArrayIndentSniff.php
  src/Standards/Generic/Tests/Arrays/ArrayIndentUnitTest.inc
  src/Standards/Generic/Tests/Arrays/ArrayIndentUnitTest.inc.fixed
Labels: Type: chores/QA, Standard: Generic

#455 Generic/DisallowLongArraySyntax: improve code coverage
  src/Standards/Generic/Sniffs/Arrays/DisallowLongArraySyntaxSniff.php
  src/Standards/Generic/Tests/Arrays/DisallowLongArraySyntaxUnitTest.1.inc
  src/Standards/Generic/Tests/Arrays/DisallowLongArraySyntaxUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/Arrays/DisallowLongArraySyntaxUnitTest.3.inc
  src/Standards/Generic/Tests/Arrays/DisallowLongArraySyntaxUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#489 Generic/SpaceAfterNot: improve code coverage
  src/Standards/Generic/Tests/Formatting/SpaceAfterNotUnitTest.1.inc
  src/Standards/Generic/Tests/Formatting/SpaceAfterNotUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/Formatting/SpaceAfterNotUnitTest.2.inc
  src/Standards/Generic/Tests/Formatting/SpaceAfterNotUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#408 [Documentation] Squiz.WhiteSpace.FunctionClosingBraceSpace
  src/Standards/Squiz/Docs/WhiteSpace/FunctionClosingBraceSpaceStandard.xml
Labels: Type: documentation, Standard: Squiz

#499 Generic/InlineControlStructure: fix error when handling `else if`
  src/Standards/Generic/Sniffs/ControlStructures/InlineControlStructureSniff.php
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.1.inc
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.js
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.js.fixed
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.php
Labels: Type: bug, Standard: Generic

#494 Tokenizers/Comment: add tests + fix two edge case bugs
  src/Tokenizers/Comment.php
  src/Tokenizers/PHP.php
  tests/Core/Tokenizer/Comment/CommentTestCase.php
  tests/Core/Tokenizer/Comment/LiveCoding1Test.inc
  tests/Core/Tokenizer/Comment/LiveCoding1Test.php
  tests/Core/Tokenizer/Comment/LiveCoding2Test.inc
  tests/Core/Tokenizer/Comment/LiveCoding2Test.php
  tests/Core/Tokenizer/Comment/LiveCoding3Test.inc
  tests/Core/Tokenizer/Comment/LiveCoding3Test.php
  tests/Core/Tokenizer/Comment/LiveCoding4Test.inc
  tests/Core/Tokenizer/Comment/LiveCoding4Test.php
  tests/Core/Tokenizer/Comment/MultiLineDocBlockTest.inc
  tests/Core/Tokenizer/Comment/MultiLineDocBlockTest.php
  tests/Core/Tokenizer/Comment/PhpcsAnnotationsInDocBlockTest.inc
  tests/Core/Tokenizer/Comment/PhpcsAnnotationsInDocBlockTest.php
  tests/Core/Tokenizer/Comment/SingleLineDocBlockTest.inc
  tests/Core/Tokenizer/Comment/SingleLineDocBlockTest.php
Labels: Type: bug, Type: chores/QA, Core Component: Tokenizer

#501 Changelog for the 3.10.0 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta

#506 Tests/DNFTypesTest: fix a few unintentional errors
  tests/Core/Tokenizer/PHP/DNFTypesTest.inc
  tests/Core/Tokenizer/Tokenizer/CreateParenthesisNestingMapDNFTypesTest.inc
Labels: Type: chores/QA

#507 Tokenizer/PHP: fix handling of "DNF look-a-likes" in named parameters
  src/Tokenizers/PHP.php
  tests/Core/Tokenizer/PHP/DNFTypesTest.inc
  tests/Core/Tokenizer/PHP/DNFTypesTest.php
Labels: Type: bug, Core Component: Tokenizer, Focus: Modern PHP

#502 File::findStartOfStatement(): 3 bug fixes related to `match` expressions
  src/Files/File.php
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.1.inc
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.2.inc
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.2.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.php
  tests/Core/File/FindStartOfStatementTest.inc
  tests/Core/File/FindStartOfStatementTest.php
Labels: Type: bug, Core Component: File, Focus: Modern PHP, Standard: Generic, Standard: PEAR

#508 Tokenizer/PHP: add extra hardening to the (DNF) type handling + efficiency improvement
  src/Tokenizers/PHP.php
  tests/Core/Tokenizer/PHP/DNFTypesParseError1Test.inc
  tests/Core/Tokenizer/PHP/DNFTypesParseError1Test.php
  tests/Core/Tokenizer/PHP/DNFTypesParseError2Test.inc
  tests/Core/Tokenizer/PHP/DNFTypesParseError2Test.php
Labels: Type: chores/QA, Core Component: Tokenizer, Focus: Modern PHP, Focus: Performance

#509 File::find[Start|End]OfStatement(): add QA tests
  tests/Core/File/FindEndOfStatementTest.php
  tests/Core/File/FindStartOfStatementTest.inc
  tests/Core/File/FindStartOfStatementTest.php
Labels: Type: chores/QA, Core Component: File

#510 Changelog for the 3.10.1 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta

#497 Generic/FunctionCallArgumentSpacing: improve code coverage
  src/Standards/Generic/Tests/Functions/FunctionCallArgumentSpacingUnitTest.1.inc
  src/Standards/Generic/Tests/Functions/FunctionCallArgumentSpacingUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/Functions/FunctionCallArgumentSpacingUnitTest.2.inc
  src/Standards/Generic/Tests/Functions/FunctionCallArgumentSpacingUnitTest.php
Labels: Type: chores/QA
