Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2025-04, with the labels that each got.

#906 Fixer: improve debug information
  src/Fixer.php
Labels: Type: bug, Core Component: Fixer

#907 PHP 8.4 | Tokenizer/PHP: fix union/intersection/DNF type tokenization with `final` properties
  src/Tokenizers/PHP.php
  tests/Core/Tokenizers/PHP/BitwiseOrTest.inc
  tests/Core/Tokenizers/PHP/BitwiseOrTest.php
  tests/Core/Tokenizers/PHP/DNFTypesTest.inc
  tests/Core/Tokenizers/PHP/DNFTypesTest.php
  tests/Core/Tokenizers/PHP/TypeIntersectionTest.inc
  tests/Core/Tokenizers/PHP/TypeIntersectionTest.php
Labels: Type: enhancement, Core Component: Tokenizer, Focus: Modern PHP

#908 PHP 8.1 | Tokenizer/PHP: fix nullable type tokenization for readonly properties
  src/Tokenizers/PHP.php
  tests/Core/Tokenizers/PHP/NullableVsInlineThenTest.inc
  tests/Core/Tokenizers/PHP/NullableVsInlineThenTest.php
Labels: Type: bug, Core Component: Tokenizer, Focus: Modern PHP

#922 Generic/UselessOverridingMethod: improve XML documentation
  src/Standards/Generic/Docs/CodeAnalysis/UselessOverridingMethodStandard.xml
Labels: Type: documentation, Standard: Generic

#916 Tokenizer/PHP: goto is a switch case/default terminating statement
  src/Files/File.php
  src/Standards/PSR2/Sniffs/ControlStructures/SwitchDeclarationSniff.php
  src/Standards/PSR2/Tests/ControlStructures/SwitchDeclarationUnitTest.inc
  src/Standards/PSR2/Tests/ControlStructures/SwitchDeclarationUnitTest.inc.fixed
  src/Standards/Squiz/Sniffs/ControlStructures/SwitchDeclarationSniff.php
  src/Standards/Squiz/Tests/ControlStructures/SwitchDeclarationUnitTest.inc
  src/Standards/Squiz/Tests/ControlStructures/SwitchDeclarationUnitTest.inc.fixed
  src/Standards/Squiz/Tests/ControlStructures/SwitchDeclarationUnitTest.php
  src/Tokenizers/PHP.php
  tests/Core/File/FindStartOfStatementTest.inc
  tests/Core/File/FindStartOfStatementTest.php
Labels: Type: bug, Core Component: File, Core Component: Tokenizer, Standard: PSR2, Standard: Squiz

#919 Generic/HereNowdocIdentifierSpacing: minor tweak
  src/Standards/Generic/Sniffs/WhiteSpace/HereNowdocIdentifierSpacingSniff.php
Labels: Type: enhancement, Standard: Generic

#923 Generic/FunctionCallArgumentSpacing: improve XML documentation
  src/Standards/Generic/Docs/Functions/FunctionCallArgumentSpacingStandard.xml
Labels: Type: documentation, Standard: Generic

#925 Changelog for the 3.12.1 release
  CHANGELOG.md
  src/Standards/Generic/Sniffs/Functions/CallTimePassByReferenceSniff.php
Labels: Type: documentation, Type: meta, Standard: Generic

#928 BackfillFnTokenTest: rename two test cases
  tests/Core/Tokenizers/PHP/BackfillFnTokenTest.inc
  tests/Core/Tokenizers/PHP/BackfillFnTokenTest.php
Labels: Type: chores/QA

#930 PSR12/ImportStatement: test tweak
  src/Standards/PSR12/Tests/Files/ImportStatementUnitTest.inc
  src/Standards/PSR12/Tests/Files/ImportStatementUnitTest.php
Labels: Type: chores/QA, Standard: PSR12

#931 PSR12/CompoundNamespaceDepth: test tweak
  src/Standards/PSR12/Tests/Namespaces/CompoundNamespaceDepthUnitTest.inc
Labels: Type: chores/QA, Standard: PSR12

#932 Generic/[Lower|Upper]CaseConstant: minor test clean up
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.1.inc
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/PHP/UpperCaseConstantUnitTest.inc
  src/Standards/Generic/Tests/PHP/UpperCaseConstantUnitTest.inc.fixed
Labels: Type: chores/QA

#933 AttributesTest: simplify test code
  tests/Core/Tokenizers/PHP/AttributesTest.php
Labels: Type: chores/QA

#935 ProcessRulesetBrokenRulesetTest: more tweaks for different libxml output
  tests/Core/Ruleset/ProcessRulesetBrokenRulesetTest.php
Labels: Type: chores/QA, Core Component: Ruleset

#939 Tests/BackfillFnTokenTest: minor tweaks
  tests/Core/Tokenizers/PHP/BackfillFnTokenTest.inc
Labels: Type: chores/QA

#941 Squiz/OperatorBracket: stability tweak
  src/Standards/Squiz/Sniffs/Formatting/OperatorBracketSniff.php
Labels: Type: chores/QA, Standard: Squiz

#904 Tests/Tokenizer: use markers for the `testSwitchDefault()` test
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapDefaultKeywordConditionsTest.inc
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapDefaultKeywordConditionsTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#943 RecurseScopeMapDefaultKeywordConditionsTest: fix parameter name
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapDefaultKeywordConditionsTest.php
Labels: Type: chores/QA

#927 Generic/OpeningFunctionBraceKernighanRitchie: improve XML documentation
  src/Standards/Generic/Docs/Functions/OpeningFunctionBraceKernighanRitchieStandard.xml
Labels: Type: documentation, Standard: Generic

#929 Generic/ForbiddenFunctions: improve comment tolerance
  src/Standards/Generic/Sniffs/PHP/ForbiddenFunctionsSniff.php
  src/Standards/Generic/Tests/PHP/ForbiddenFunctionsUnitTest.inc
  src/Standards/Generic/Tests/PHP/ForbiddenFunctionsUnitTest.php
Labels: Type: bug, Standard: Generic

#934 PHP 8.2 | Generic/[Lower|Upper]CaseConstant: bug fix - ignore DNF property types
  src/Standards/Generic/Sniffs/PHP/LowerCaseConstantSniff.php
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.1.inc
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/PHP/UpperCaseConstantUnitTest.inc
  src/Standards/Generic/Tests/PHP/UpperCaseConstantUnitTest.inc.fixed
Labels: Type: bug, Focus: Modern PHP, Standard: Generic

#936 Squiz/FunctionCommentThrowTag: bug fix - jump over attributes
  src/Standards/Squiz/Sniffs/Commenting/FunctionCommentThrowTagSniff.php
  src/Standards/Squiz/Tests/Commenting/FunctionCommentThrowTagUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/FunctionCommentThrowTagUnitTest.php
Labels: Type: bug, Focus: Comments/Docblocks, Focus: Modern PHP, Standard: Squiz

#937 PHP 7.4 | Tokenizer/PHP: handle PHP tag at end of file consistently
  .github/workflows/test.yml
  src/Tokenizers/PHP.php
  tests/Core/Tokenizers/PHP/PHPOpenTagEOF1Test.inc
  tests/Core/Tokenizers/PHP/PHPOpenTagEOF1Test.php
  tests/Core/Tokenizers/PHP/PHPOpenTagEOF2Test.inc
  tests/Core/Tokenizers/PHP/PHPOpenTagEOF2Test.php
  tests/Core/Tokenizers/PHP/PHPOpenTagEOF3Test.inc
  tests/Core/Tokenizers/PHP/PHPOpenTagEOF3Test.php
Labels: Type: bug, Type: enhancement, Core Component: Tokenizer, Focus: Modern PHP

#940 PHP 8.2 | Squiz/VariableComment: bug fix - allow for DNF typed properties
  src/Standards/Squiz/Sniffs/Commenting/VariableCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc.fixed
Labels: Type: bug, Focus: Comments/Docblocks, Focus: Modern PHP, Standard: Squiz

#954 Issue template: minor tweak
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Type: chores/QA

#944 Squiz/FunctionComment: support DNF types
  src/Standards/Squiz/Sniffs/Commenting/FunctionCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.inc.fixed
Labels: Type: bug, Focus: Comments/Docblocks, Standard: Squiz

#959 Generic/LanguageConstructSpacing: fix syntax errors in the XML doc code examples
  src/Standards/Generic/Docs/WhiteSpace/LanguageConstructSpacingStandard.xml
Labels: Type: documentation, Standard: Generic

#946 Squiz/FunctionSpacing: fix regression - only look at first docblock
  src/Standards/Squiz/Sniffs/WhiteSpace/FunctionSpacingSniff.php
  src/Standards/Squiz/Tests/WhiteSpace/FunctionSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/FunctionSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/FunctionSpacingUnitTest.php
Labels: Type: bug, Standard: Squiz

#947 Squiz/FunctionCommentThrowTag: improve comment tolerance
  src/Standards/Squiz/Sniffs/Commenting/FunctionCommentThrowTagSniff.php
  src/Standards/Squiz/Tests/Commenting/FunctionCommentThrowTagUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/FunctionCommentThrowTagUnitTest.php
Labels: Type: bug, Focus: Comments/Docblocks, Standard: Squiz

#948 PHP 8.4 | Generic/[Lower|Upper]CaseConstant: add support for final properties
  src/Standards/Generic/Sniffs/PHP/LowerCaseConstantSniff.php
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.1.inc
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/PHP/UpperCaseConstantUnitTest.inc
  src/Standards/Generic/Tests/PHP/UpperCaseConstantUnitTest.inc.fixed
Labels: Type: enhancement, Focus: Modern PHP, Standard: Generic

#949 PHP 8.4 | Squiz/VariableComment: add support for final properties
  src/Standards/Squiz/Sniffs/Commenting/VariableCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc.fixed
Labels: Type: enhancement, Focus: Comments/Docblocks, Focus: Modern PHP, Standard: Squiz

#951 Squiz/DocCommentAlignment: add support for final classes and final properties
  src/Standards/Squiz/Sniffs/Commenting/DocCommentAlignmentSniff.php
  src/Standards/Squiz/Tests/Commenting/DocCommentAlignmentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/DocCommentAlignmentUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Commenting/DocCommentAlignmentUnitTest.php
Labels: Type: enhancement, Focus: Comments/Docblocks, Focus: Modern PHP, Standard: Squiz

#952 PHP 8.4 | Various sniffs: add tests with final properties
  src/Standards/Generic/Tests/CodeAnalysis/UnnecessaryFinalModifierUnitTest.1.inc
  src/Standards/Generic/Tests/CodeAnalysis/UnnecessaryFinalModifierUnitTest.php
  src/Standards/Squiz/Tests/Classes/LowercaseClassKeywordsUnitTest.inc
  src/Standards/Squiz/Tests/Classes/LowercaseClassKeywordsUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Classes/LowercaseClassKeywordsUnitTest.php
  src/Standards/Squiz/Tests/Commenting/BlockCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/BlockCommentUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Scope/MemberVarScopeUnitTest.inc
  src/Standards/Squiz/Tests/Scope/MemberVarScopeUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.php
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.php
Labels: Type: chores/QA, Focus: Modern PHP

#955 Report/Code: fix fatal potential fatal error when combined with Diff report
  src/Reports/Code.php
Labels: Type: bug, Core Component: Reports

#956 Generic/ScopeIndent: bug fix for debug mode
  src/Standards/Generic/Sniffs/WhiteSpace/ScopeIndentSniff.php
Labels: Type: bug, Standard: Generic

#957 Generic/ScopeIndent: start debug info on new line
  src/Standards/Generic/Sniffs/WhiteSpace/ScopeIndentSniff.php
Labels: Type: chores/QA, Standard: Generic

#958 CONTRIBUTING: add some more info about writing tests
  .github/CONTRIBUTING.md
Labels: Type: documentation

#960 Runner::printProgress(): minor refactor
  src/Runner.php
  tests/Core/Runner/PrintProgressDotsTest.php
  tests/Core/Runner/PrintProgressTest.php
Labels: Type: chores/QA, Core Component: Other

#953 Generic/OpeningFunctionBraceBsdAllman: improve XML documentation
  src/Standards/Generic/Docs/Functions/OpeningFunctionBraceBsdAllmanStandard.xml
Labels: Type: documentation, Standard: Generic

#961 Docs: various minor fixes
  CHANGELOG.md
  src/Sniffs/AbstractScopeSniff.php
  src/Tokenizers/Comment.php
  src/Tokenizers/PHP.php
  src/Tokenizers/Tokenizer.php
  tests/ConfigDouble.php
  tests/Core/File/GetMethodPropertiesTest.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SetProperty/PropertyTypeHandlingSniff.php
  tests/Core/Ruleset/ProcessRulesetShouldProcessElementTest.php
  tests/Core/Tokenizers/PHP/AttributesTest.inc
  tests/Core/Util/Timing/TimingTest.php
Labels: Type: chores/QA, Type: documentation, Core Component: Tokenizer

#830 PEAR/FunctionComment: bug fix - handling of blank lines in pre-amble
  src/Standards/PEAR/Sniffs/Commenting/FunctionCommentSniff.php
  src/Standards/PEAR/Tests/Commenting/FunctionCommentUnitTest.inc
  src/Standards/PEAR/Tests/Commenting/FunctionCommentUnitTest.inc.fixed
  src/Standards/PEAR/Tests/Commenting/FunctionCommentUnitTest.php
Labels: Type: bug, Focus: Comments/Docblocks, Focus: Fixer Conflicts, Focus: Modern PHP, Standard: PEAR

#962 Squiz/MemberVarSpacing: add extra tests
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.php
Labels: Type: chores/QA, Standard: Squiz

#963 Changelog for the 3.12.2 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta

#965 Tests: fix a typo in some test fixtures
  tests/Core/Ruleset/ExpandRulesetReferenceInternalIgnoreTest.xml
  tests/Core/Ruleset/PopulateTokenListenersRegisterNoArrayTest.xml
  tests/Core/Ruleset/ProcessRulesetAutoloadFileNotFoundTest.xml
  tests/Core/Ruleset/ProcessRulesetAutoloadTest.xml
  tests/Core/Ruleset/ProcessRulesetInvalidNoSniffsDirTest.xml
  tests/Core/Ruleset/RegisterSniffsRejectsInvalidSniffNoImplementsNoProcessTest.xml
  tests/Core/Ruleset/RegisterSniffsRejectsInvalidSniffNoImplementsNoRegisterOrProcessTest.xml
  tests/Core/Ruleset/RegisterSniffsRejectsInvalidSniffNoImplementsNoRegisterTest.xml
Labels: Type: chores/QA

#967 PrintProgressDotsTest: fix up param names in data sets
  tests/Core/Runner/PrintProgressDotsTest.php
Labels: Type: chores/QA

#888 Hard deprecate all sniffs which will be removed in PHPCS 4.0
  src/Standards/Generic/Sniffs/Debug/CSSLintSniff.php
  src/Standards/Generic/Sniffs/Debug/ClosureLinterSniff.php
  src/Standards/Generic/Sniffs/Debug/ESLintSniff.php
  src/Standards/Generic/Sniffs/Debug/JSHintSniff.php
  src/Standards/Generic/Sniffs/Formatting/NoSpaceAfterCastSniff.php
  src/Standards/Generic/Sniffs/Functions/CallTimePassByReferenceSniff.php
  src/Standards/MySource/Sniffs/CSS/BrowserSpecificStylesSniff.php
  src/Standards/MySource/Sniffs/Channels/DisallowSelfActionsSniff.php
  src/Standards/MySource/Sniffs/Channels/IncludeOwnSystemSniff.php
  src/Standards/MySource/Sniffs/Channels/IncludeSystemSniff.php
  src/Standards/MySource/Sniffs/Channels/UnusedSystemSniff.php
  src/Standards/MySource/Sniffs/Commenting/FunctionCommentSniff.php
  src/Standards/MySource/Sniffs/Debug/DebugCodeSniff.php
  src/Standards/MySource/Sniffs/Debug/FirebugConsoleSniff.php
  src/Standards/MySource/Sniffs/Objects/AssignThisSniff.php
  src/Standards/MySource/Sniffs/Objects/CreateWidgetTypeCallbackSniff.php
  src/Standards/MySource/Sniffs/Objects/DisallowNewWidgetSniff.php
  src/Standards/MySource/Sniffs/PHP/AjaxNullComparisonSniff.php
  src/Standards/MySource/Sniffs/PHP/EvalObjectFactorySniff.php
  src/Standards/MySource/Sniffs/PHP/GetRequestDataSniff.php
  src/Standards/MySource/Sniffs/PHP/ReturnFunctionValueSniff.php
  src/Standards/MySource/Sniffs/Strings/JoinStringsSniff.php
  src/Standards/Squiz/Sniffs/CSS/ClassDefinitionClosingBraceSpaceSniff.php
  src/Standards/Squiz/Sniffs/CSS/ClassDefinitionNameSpacingSniff.php
  src/Standards/Squiz/Sniffs/CSS/ClassDefinitionOpeningBraceSpaceSniff.php
  src/Standards/Squiz/Sniffs/CSS/ColonSpacingSniff.php
  src/Standards/Squiz/Sniffs/CSS/ColourDefinitionSniff.php
  src/Standards/Squiz/Sniffs/CSS/DisallowMultipleStyleDefinitionsSniff.php
  src/Standards/Squiz/Sniffs/CSS/DuplicateClassDefinitionSniff.php
  src/Standards/Squiz/Sniffs/CSS/DuplicateStyleDefinitionSniff.php
  src/Standards/Squiz/Sniffs/CSS/EmptyClassDefinitionSniff.php
  src/Standards/Squiz/Sniffs/CSS/EmptyStyleDefinitionSniff.php
  src/Standards/Squiz/Sniffs/CSS/ForbiddenStylesSniff.php
  src/Standards/Squiz/Sniffs/CSS/IndentationSniff.php
  src/Standards/Squiz/Sniffs/CSS/LowercaseStyleDefinitionSniff.php
  src/Standards/Squiz/Sniffs/CSS/MissingColonSniff.php
  src/Standards/Squiz/Sniffs/CSS/NamedColoursSniff.php
  src/Standards/Squiz/Sniffs/CSS/OpacitySniff.php
  src/Standards/Squiz/Sniffs/CSS/SemicolonSpacingSniff.php
  src/Standards/Squiz/Sniffs/CSS/ShorthandSizeSniff.php
  src/Standards/Squiz/Sniffs/Classes/DuplicatePropertySniff.php
  src/Standards/Squiz/Sniffs/Debug/JSLintSniff.php
  src/Standards/Squiz/Sniffs/Debug/JavaScriptLintSniff.php
  src/Standards/Squiz/Sniffs/Objects/DisallowObjectStringIndexSniff.php
  src/Standards/Squiz/Sniffs/Objects/ObjectMemberCommaSniff.php
  src/Standards/Squiz/Sniffs/WhiteSpace/LanguageConstructSpacingSniff.php
  src/Standards/Squiz/Sniffs/WhiteSpace/PropertyLabelSpacingSniff.php
  src/Standards/Zend/Sniffs/Debug/CodeAnalyzerSniff.php
Labels: Type: meta

#889 Generators: show deprecation notice for deprecated methods
  src/Generators/HTML.php
  src/Generators/Markdown.php
  src/Generators/Text.php
  tests/Core/Generators/Fixtures/HTMLDouble.php
  tests/Core/Generators/Fixtures/MarkdownDouble.php
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
Labels: Type: meta, Core Component: Generators

#890 Ruleset: hard deprecate use of the old property array format
  src/Ruleset.php
  tests/Core/Ruleset/PropertyTypeHandlingTest.php
Labels: Type: meta, Core Component: Ruleset

#892 Ruleset: hard deprecate support for sniffs not following the naming conventions
  src/Ruleset.php
  tests/Core/Ruleset/ExpandSniffDirectoryTest.php
  tests/Core/Ruleset/Fixtures/BrokenNamingConventions/Sniffs/Category/Sniff.php
  tests/Core/Ruleset/Fixtures/BrokenNamingConventions/Sniffs/Category/SubDir/TooDeeplyNestedSniff.php
  tests/Core/Ruleset/Fixtures/BrokenNamingConventions/Sniffs/MissingCategoryDirSniff.php
  tests/Core/Ruleset/Fixtures/BrokenNamingConventions/Sniffs/NoNamespaceSniff.php
  tests/Core/Ruleset/Fixtures/BrokenNamingConventions/Sniffs/PartialNamespaceSniff.php
  tests/Core/Ruleset/Fixtures/BrokenNamingConventions/Sniffs/Sniffs/CategoryCalledSniffsSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/CategoryA/Subdir/IncorrectLevelShouldStillBeFoundSniff.php
  tests/Core/Ruleset/Fixtures/DirectoryExpansion/.hiddenAbove/src/MyStandard/Sniffs/IncorrectLevelShouldStillBeFoundSniff.php
  tests/Core/Ruleset/PopulateTokenListenersNamingConventionsTest.php
  tests/Core/Ruleset/PopulateTokenListenersNamingConventionsTest.xml
Labels: Type: meta, Core Component: Ruleset

#893 Ruleset: hard deprecate support for standards called "Internal"
  src/Ruleset.php
  tests/Core/Ruleset/ExpandRulesetReferenceInternalTest.php
Labels: Type: meta, Core Component: Ruleset

#894 Ruleset: hard deprecate $supportedTokenizers set to CSS/JS only
  src/Ruleset.php
  tests/Core/Filters/Filter/AcceptTest.xml
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SupportedTokenizers/ImplementsDeprecatedInterfaceSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SupportedTokenizers/ListensForCSSAndJSSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SupportedTokenizers/ListensForCSSAndUnrecognizedSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SupportedTokenizers/ListensForCSSSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SupportedTokenizers/ListensForEmptySniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SupportedTokenizers/ListensForJSSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SupportedTokenizers/ListensForPHPAndCSSAndJSSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SupportedTokenizers/ListensForUnrecognizedTokenizersSniff.php
  tests/Core/Ruleset/PopulateTokenListenersSupportedTokenizersTest.php
  tests/Core/Ruleset/PopulateTokenListenersSupportedTokenizersTest.xml
  tests/Core/Ruleset/PopulateTokenListenersTest.php
  tests/Core/Ruleset/PopulateTokenListenersTest.xml
  tests/Core/Ruleset/ProcessRulesetAutoExpandSniffsDirectoryTest.xml
  tests/Core/Ruleset/SetPropertyDoesNotThrowErrorOnInvalidPropertyWhenSetForStandardTest.xml
  tests/Core/Ruleset/ShowSniffDeprecationsTest.xml
Labels: Type: meta, Core Component: Ruleset

#950 PHP 8.4 | PSR2/PropertyDeclaration: add support for final properties
  src/Standards/PSR2/Sniffs/Classes/PropertyDeclarationSniff.php
  src/Standards/PSR2/Tests/Classes/PropertyDeclarationUnitTest.inc
  src/Standards/PSR2/Tests/Classes/PropertyDeclarationUnitTest.inc.fixed
  src/Standards/PSR2/Tests/Classes/PropertyDeclarationUnitTest.php
Labels: Type: enhancement, Focus: Modern PHP, Standard: PSR2

#970 GH Actions: run on new 4.x branch
  .github/workflows/build-phar.yml
  .github/workflows/label-merge-conflicts.yml
  .github/workflows/quicktest.yml
  .github/workflows/test.yml
Labels: Type: chores/QA

#971 Refactor the requirements check
  .github/workflows/test-requirements-check.yml
  bin/phpcbf
  bin/phpcs
  phpcs.xml.dist
  phpstan.neon.dist
  requirements.php
  scripts/BuildRequirementsCheckMatrix.php
  scripts/build-phar.php
  scripts/get-requirements-check-matrix.php
  src/Runner.php
Labels: Type: enhancement, Core Component: Other

#974 AbstractPatternSniff::__construct(): remove the $ignoreComments property
  src/Sniffs/AbstractPatternSniff.php
Labels: Type: breaking change, Core Component: Other

#975 Tokenizer: remove support for the deprecated @codingStandard annotation syntax
  src/Files/File.php
  src/Files/LocalFile.php
  src/Standards/Generic/Tests/NamingConventions/CamelCapsFunctionNameUnitTest.1.inc
  src/Standards/PEAR/Tests/NamingConventions/ValidFunctionNameUnitTest.inc
  src/Standards/Squiz/Tests/NamingConventions/ValidFunctionNameUnitTest.inc
  src/Tokenizers/Tokenizer.php
  tests/Core/ErrorSuppressionTest.php
Labels: Type: breaking change, Core Component: File, Core Component: Tokenizer

#977 Tokens: removed unused tokens
  src/Util/Tokens.php
Labels: Type: breaking change, Core Component: Utils

#978 Ruleset::setSniffProperty(): remove BC-layer for direct calls passing incorrect $settings array format
  src/Ruleset.php
  tests/Core/Ruleset/SetSniffPropertyTest.php
Labels: Type: breaking change, Type: chores/QA, Core Component: Ruleset

#979 Squiz/LanguageConstructSpacing: removed deprecated sniff
  src/Standards/Squiz/Docs/WhiteSpace/LanguageConstructSpacingStandard.xml
  src/Standards/Squiz/Sniffs/WhiteSpace/LanguageConstructSpacingSniff.php
  src/Standards/Squiz/Tests/WhiteSpace/LanguageConstructSpacingUnitTest.inc
  src/Standards/Squiz/Tests/WhiteSpace/LanguageConstructSpacingUnitTest.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/LanguageConstructSpacingUnitTest.php
  src/Standards/Squiz/ruleset.xml
Labels: Type: breaking change, Type: documentation, Standard: Squiz

#980 Generic/NoSpaceAfterCast: removed deprecated sniff
  src/Standards/Generic/Docs/Formatting/NoSpaceAfterCastStandard.xml
  src/Standards/Generic/Sniffs/Formatting/NoSpaceAfterCastSniff.php
  src/Standards/Generic/Tests/Formatting/NoSpaceAfterCastUnitTest.inc
  src/Standards/Generic/Tests/Formatting/NoSpaceAfterCastUnitTest.inc.fixed
  src/Standards/Generic/Tests/Formatting/NoSpaceAfterCastUnitTest.php
Labels: Type: breaking change, Type: documentation, Standard: Generic

#58 4.0 | Zend.Debug.CodeAnalyzer: remove sniff
  src/Standards/Squiz/ruleset.xml
  src/Standards/Zend/Docs/Debug/CodeAnalyzerStandard.xml
  src/Standards/Zend/Sniffs/Debug/CodeAnalyzerSniff.php
  src/Standards/Zend/Tests/Debug/CodeAnalyzerUnitTest.inc
  src/Standards/Zend/Tests/Debug/CodeAnalyzerUnitTest.php
Labels: Type: breaking change, Standard: Zend

#982 Generic.Functions.CallTimePassByReference: remove sniff
  src/Standards/Generic/Docs/Functions/CallTimePassByReferenceStandard.xml
  src/Standards/Generic/Sniffs/Functions/CallTimePassByReferenceSniff.php
  src/Standards/Generic/Tests/Functions/CallTimePassByReferenceUnitTest.1.inc
  src/Standards/Generic/Tests/Functions/CallTimePassByReferenceUnitTest.2.inc
  src/Standards/Generic/Tests/Functions/CallTimePassByReferenceUnitTest.3.inc
  src/Standards/Generic/Tests/Functions/CallTimePassByReferenceUnitTest.php
Labels: Type: breaking change, Type: documentation, Standard: Generic

#985 Generators: remove deprecated methods
  src/Generators/HTML.php
  src/Generators/Markdown.php
  src/Generators/Text.php
  tests/Core/Generators/Fixtures/HTMLDouble.php
  tests/Core/Generators/Fixtures/MarkdownDouble.php
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
Labels: Type: breaking change, Core Component: Generators

#986 Ruleset: remove support for sniffs nor implementing `Sniff` interface
  src/Ruleset.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/InvalidSniffError/NoImplementsNoProcessSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/InvalidSniffError/NoImplementsNoRegisterOrProcessSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/InvalidSniffError/NoImplementsNoRegisterSniff.php
  tests/Core/Ruleset/ProcessRulesetAutoExpandSniffsDirectoryTest.xml
  tests/Core/Ruleset/RegisterSniffsMissingInterfaceTest.php
  tests/Core/Ruleset/RegisterSniffsRejectsInvalidSniffNoImplementsNoProcessTest.xml
  tests/Core/Ruleset/RegisterSniffsRejectsInvalidSniffNoImplementsNoRegisterOrProcessTest.xml
  tests/Core/Ruleset/RegisterSniffsRejectsInvalidSniffNoImplementsNoRegisterTest.xml
  tests/Core/Ruleset/RegisterSniffsRejectsInvalidSniffTest.php
  tests/Core/Ruleset/ShowSniffDeprecationsTest.xml
Labels: Type: breaking change, Core Component: Ruleset

#987 Ruleset: remove support for sniffs not following the naming conventions
  src/Ruleset.php
  src/Runner.php
  src/Util/Common.php
  tests/Core/Ruleset/PopulateTokenListenersNamingConventionsTest.php
  tests/Core/Util/Common/GetSniffCodeTest.php
Labels: Type: breaking change, Core Component: Ruleset, Core Component: Utils

#988 Ruleset: remove support for standards called "Internal"
  src/Ruleset.php
  tests/Core/Ruleset/ExpandRulesetReferenceInternalStandardTest.xml
  tests/Core/Ruleset/ExpandRulesetReferenceInternalTest.php
Labels: Type: breaking change, Core Component: Ruleset

#989 Remove public error properties of sniffs that don't need them
  src/Standards/Generic/Sniffs/Formatting/MultipleStatementAlignmentSniff.php
  src/Standards/Generic/Sniffs/Strings/UnnecessaryStringConcatSniff.php
  src/Standards/Generic/Tests/Strings/UnnecessaryStringConcatUnitTest.1.inc
  src/Standards/Generic/Tests/Strings/UnnecessaryStringConcatUnitTest.php
  src/Standards/Squiz/ruleset.xml
Labels: Type: breaking change, Standard: Generic

#991 File::getMemberProperties(): removed parse error warning
  src/Files/File.php
  src/Standards/Generic/Sniffs/PHP/LowerCaseTypeSniff.php
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.1.inc
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.2.inc
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.php
  src/Standards/PEAR/Sniffs/NamingConventions/ValidVariableNameSniff.php
  src/Standards/PEAR/Tests/NamingConventions/ValidVariableNameUnitTest.1.inc
  src/Standards/PEAR/Tests/NamingConventions/ValidVariableNameUnitTest.2.inc
  src/Standards/PEAR/Tests/NamingConventions/ValidVariableNameUnitTest.php
  src/Standards/PSR2/Sniffs/Classes/PropertyDeclarationSniff.php
  src/Standards/PSR2/Tests/Classes/PropertyDeclarationUnitTest.1.inc
  src/Standards/PSR2/Tests/Classes/PropertyDeclarationUnitTest.1.inc.fixed
  src/Standards/PSR2/Tests/Classes/PropertyDeclarationUnitTest.2.inc
  src/Standards/PSR2/Tests/Classes/PropertyDeclarationUnitTest.php
  src/Standards/Squiz/Sniffs/NamingConventions/ValidVariableNameSniff.php
  src/Standards/Squiz/Sniffs/Scope/MemberVarScopeSniff.php
  src/Standards/Squiz/Tests/NamingConventions/ValidVariableNameUnitTest.1.inc
  src/Standards/Squiz/Tests/NamingConventions/ValidVariableNameUnitTest.2.inc
  src/Standards/Squiz/Tests/NamingConventions/ValidVariableNameUnitTest.php
  src/Standards/Squiz/Tests/Scope/MemberVarScopeUnitTest.1.inc
  src/Standards/Squiz/Tests/Scope/MemberVarScopeUnitTest.2.inc
  src/Standards/Squiz/Tests/Scope/MemberVarScopeUnitTest.php
  src/Standards/Zend/Sniffs/NamingConventions/ValidVariableNameSniff.php
  src/Standards/Zend/Tests/NamingConventions/ValidVariableNameUnitTest.1.inc
  src/Standards/Zend/Tests/NamingConventions/ValidVariableNameUnitTest.2.inc
  src/Standards/Zend/Tests/NamingConventions/ValidVariableNameUnitTest.php
  tests/Core/File/GetMemberPropertiesTest.php
Labels: Type: enhancement, Core Component: File, Focus: Modern PHP, Standard: Generic, Standard: PEAR, Standard: PSR2, Standard: Squiz, Standard: Zend

#992 Runner: removed use of deprecated auto_detect_line_endings ini setting
  src/Runner.php
Labels: Type: breaking change, Core Component: Other

#993 .gitattributes: tests are no longer included in zip packages
  .gitattributes
Labels: Type: breaking change, Type: chores/QA

#994 Tests: drop support for PHPUnit < 8
  composer.json
  tests/AllTests.php
  tests/Core/AbstractMethodUnitTest.php
  tests/Core/Autoloader/DetermineLoadedClassTest.php
  tests/Core/Config/AbstractRealConfigTestCase.php
  tests/Core/Config/GeneratorArgTest.php
  tests/Core/Config/ReportWidthTest.php
  tests/Core/Config/SniffsExcludeArgsTest.php
  tests/Core/File/GetConditionTest.php
  tests/Core/Filters/AbstractFilterTestCase.php
  tests/Core/Filters/Filter/AcceptTest.php
  tests/Core/Fixer/GenerateDiffTest.php
  tests/Core/Generators/GeneratorTest.php
  tests/Core/Ruleset/AbstractRulesetTestCase.php
  tests/Core/Ruleset/ExpandRulesetReferenceHomePathTest.php
  tests/Core/Ruleset/GetIgnorePatternsTest.php
  tests/Core/Ruleset/GetIncludePatternsTest.php
  tests/Core/Ruleset/PopulateTokenListenersTest.php
  tests/Core/Ruleset/ProcessRuleShouldProcessElementTest.php
  tests/Core/Ruleset/ProcessRulesetShouldProcessElementTest.php
  tests/Core/Ruleset/ProcessRulesetTest.php
  tests/Core/Ruleset/RegisterSniffsRemovedTokenizersTest.php
  tests/Core/Ruleset/RegisterSniffsTest.php
  tests/Core/Ruleset/RuleInclusionAbsoluteLinuxTest.php
  tests/Core/Ruleset/RuleInclusionAbsoluteWindowsTest.php
  tests/Core/Ruleset/RuleInclusionTest.php
  tests/Core/Runner/PrintProgressTest.php
  tests/Core/Sniffs/AbstractArraySniffTest.php
  tests/Core/Tokenizers/AbstractTokenizerTestCase.php
  tests/Core/Tokenizers/PHP/GotoLabelTest.php
  tests/Core/Tokenizers/PHP/OtherContextSensitiveKeywordsTest.php
  tests/Core/Tokenizers/PHP/ResolveSimpleTokenTest.php
  tests/Core/Tokenizers/Tokenizer/ReplaceTabsInTokenMiscTest.php
  tests/Core/Tokenizers/Tokenizer/ReplaceTabsInTokenTestCase.php
  tests/Core/Util/Common/GetSniffCodeTest.php
  tests/Core/Util/Common/PrepareForOutputTest.php
  tests/Core/Util/Help/HelpTest.php
  tests/Core/Util/MessageCollector/MessageCollectorTest.php
  tests/Core/Util/Timing/TimingTest.php
  tests/Standards/AbstractSniffUnitTest.php
  tests/TestSuite.php
  tests/TestSuite7.php
  tests/bootstrap.php
Labels: Type: breaking change, Type: chores/QA

#995 Tests: refactor the test framework
  .github/workflows/quicktest.yml
  .github/workflows/test.yml
  composer.json
  phpunit.xml.dist
  tests/AllTests.php
  tests/Core/AllTests.php
  tests/FileList.php
  tests/Standards/AbstractSniffUnitTest.php
  tests/Standards/AllSniffs.php
  tests/TestSuite.php
  tests/bootstrap.php
Labels: Type: breaking change, Type: chores/QA

#996 Ruleset: remove test specific code
  .gitignore
  src/Ruleset.php
  tests/Core/Generators/GeneratorTest.php
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
  tests/Core/Generators/TextTest.php
  tests/Core/Ruleset/RegisterSniffsTest.php
  tests/Core/Ruleset/ShowSniffDeprecationsTest.php
  tests/Standards/AbstractSniffUnitTest.php
Labels: Type: chores/QA, Core Component: Ruleset

#998 AbstractSniffTestCase: mark sniff tests without test case files as incomplete
  tests/Standards/AbstractSniffTestCase.php
Labels: Type: chores/QA, Type: enhancement

#999 AbstractSniffTestCase: flag missing `.fixed` files
  tests/Standards/AbstractSniffTestCase.php
Labels: Type: chores/QA, Type: enhancement

#1000 Change default standard from PEAR to PSR12
  CodeSniffer.conf.dist
  README.md
  src/Config.php
Labels: Type: breaking change, Type: enhancement, Core Component: Config & CLI options

#1001 Config::setSettings(): void method should not return
  src/Config.php
Labels: Type: chores/QA, Core Component: Config & CLI options

#1002 Config::setConfigData() is no longer static
  src/Config.php
  src/Ruleset.php
  tests/ConfigDouble.php
  tests/Core/Config/AbstractRealConfigTestCase.php
  tests/Core/Config/IssueSquiz2675Test.php
Labels: Type: breaking change, Type: enhancement, Core Component: Ruleset, Core Component: Config & CLI options

#1003 Ruleset: configs in higher level ruleset(s) overrule configs set in included ruleset(s)
  src/Ruleset.php
  tests/Core/Ruleset/Fixtures/ProcessRulesetConfigDirectivesTest/ProcessRulesetConfigDirectivesATest.xml
  tests/Core/Ruleset/Fixtures/ProcessRulesetConfigDirectivesTest/ProcessRulesetConfigDirectivesBTest.xml
  tests/Core/Ruleset/Fixtures/ProcessRulesetConfigDirectivesTest/ProcessRulesetConfigDirectivesIncludeATest.xml
  tests/Core/Ruleset/Fixtures/ProcessRulesetConfigDirectivesTest/ProcessRulesetConfigDirectivesIncludeBTest.xml
  tests/Core/Ruleset/Fixtures/ProcessRulesetConfigDirectivesTest/ProcessRulesetConfigDirectivesSubIncludeATest.xml
  tests/Core/Ruleset/Fixtures/ProcessRulesetConfigDirectivesTest/ProcessRulesetConfigDirectivesSubIncludeBTest.xml
  tests/Core/Ruleset/ProcessRulesetConfigDirectivesTest.php
Labels: Type: breaking change, Type: enhancement, Core Component: Ruleset

#1004 Ruleset: document ini overruling behaviour via tests
  tests/Core/Ruleset/Fixtures/ProcessRulesetIniDirectivesTest/ProcessRulesetIniDirectivesIncludeATest.xml
  tests/Core/Ruleset/Fixtures/ProcessRulesetIniDirectivesTest/ProcessRulesetIniDirectivesIncludeBTest.xml
  tests/Core/Ruleset/Fixtures/ProcessRulesetIniDirectivesTest/ProcessRulesetIniDirectivesSubIncludeATest.xml
  tests/Core/Ruleset/Fixtures/ProcessRulesetIniDirectivesTest/ProcessRulesetIniDirectivesTest.xml
  tests/Core/Ruleset/ProcessRulesetIniDirectivesTest.php
Labels: Type: chores/QA, Core Component: Ruleset

#1005 Ruleset: (CLI) `<arg>` settings in higher level ruleset(s) overrule args set in included ruleset(s)
  src/Config.php
  src/Ruleset.php
  tests/Core/Ruleset/Fixtures/ProcessRulesetCliArgsTest/.phpcs.xml
  tests/Core/Ruleset/Fixtures/ProcessRulesetCliArgsTest/config/phpcs/include-overrules.xml
  tests/Core/Ruleset/Fixtures/ProcessRulesetCliArgsTest/phpcs.xml.dist
  tests/Core/Ruleset/Fixtures/ProcessRulesetCliArgsTest/vendor/OrgName/ExtStandard/bootstrap.php
  tests/Core/Ruleset/Fixtures/ProcessRulesetCliArgsTest/vendor/OrgName/ExtStandard/ruleset.xml
  tests/Core/Ruleset/ProcessRulesetCliArgsTest.php
Labels: Type: breaking change, Type: enhancement, Core Component: Ruleset, Core Component: Config & CLI options

#1006 Ruleset: improve type handling of user-set properties
  src/Ruleset.php
  src/Standards/Generic/Sniffs/PHP/ForbiddenFunctionsSniff.php
  tests/Core/Ruleset/Fixtures/PropertyTypeHandlingInline.inc
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SetProperty/PropertyTypeHandlingSniff.php
  tests/Core/Ruleset/PropertyTypeHandlingTest.php
  tests/Core/Ruleset/PropertyTypeHandlingTest.xml
Labels: Type: breaking change, Type: enhancement, Core Component: Ruleset, Standard: Generic

#1009 Squiz/Heredoc: make sniff more modular
  src/Standards/Squiz/Sniffs/PHP/HeredocSniff.php
Labels: Type: breaking change, Type: enhancement, Standard: Squiz

#98 4.0 | File::addMessage(): do not ignore Internal errors when scanning selectively
  src/Files/File.php
  src/Standards/Generic/Tests/Files/ByteOrderMarkUnitTest.php
  src/Standards/Generic/Tests/PHP/DisallowAlternativePHPTagsUnitTest.php
  src/Standards/Generic/Tests/PHP/DisallowShortOpenTagUnitTest.php
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.php
  tests/Core/ErrorSuppressionTest.php
  tests/Core/File/AddMessageSelectiveInternalHandlingTest.php
  tests/Core/File/AddMessageSelectiveInternalHandlingTest.xml
Labels: Type: breaking change, Type: bug, Core Component: File

#1007 File::getDeclarationName(): stop accepting tokens for non-named structures
  src/Files/File.php
  src/Standards/Generic/Sniffs/CodeAnalysis/UnusedFunctionParameterSniff.php
  src/Standards/Generic/Sniffs/NamingConventions/AbstractClassNamePrefixSniff.php
  src/Standards/Generic/Sniffs/NamingConventions/CamelCapsFunctionNameSniff.php
  src/Standards/Generic/Sniffs/NamingConventions/ConstructorNameSniff.php
  src/Standards/Generic/Sniffs/NamingConventions/InterfaceNameSuffixSniff.php
  src/Standards/Generic/Sniffs/NamingConventions/TraitNameSuffixSniff.php
  src/Standards/Generic/Tests/CodeAnalysis/UselessOverridingMethodUnitTest.7.inc
  src/Standards/Generic/Tests/NamingConventions/ConstructorNameUnitTest.3.inc
  src/Standards/Generic/Tests/NamingConventions/ConstructorNameUnitTest.4.inc
  src/Standards/Generic/Tests/NamingConventions/ConstructorNameUnitTest.5.inc
  src/Standards/PEAR/Sniffs/Functions/FunctionDeclarationSniff.php
  src/Standards/PEAR/Sniffs/NamingConventions/ValidFunctionNameSniff.php
  src/Standards/PEAR/Tests/Commenting/ClassCommentUnitTest.1.inc
  src/Standards/PEAR/Tests/Commenting/ClassCommentUnitTest.2.inc
  src/Standards/PEAR/Tests/Commenting/ClassCommentUnitTest.php
  src/Standards/PEAR/Tests/Commenting/FunctionCommentUnitTest.1.inc
  src/Standards/PEAR/Tests/Commenting/FunctionCommentUnitTest.1.inc.fixed
  src/Standards/PEAR/Tests/Commenting/FunctionCommentUnitTest.2.inc
  src/Standards/PEAR/Tests/Commenting/FunctionCommentUnitTest.3.inc
  src/Standards/PEAR/Tests/Commenting/FunctionCommentUnitTest.php
  src/Standards/PEAR/Tests/NamingConventions/ValidFunctionNameUnitTest.1.inc
  src/Standards/PEAR/Tests/NamingConventions/ValidFunctionNameUnitTest.2.inc
  src/Standards/PEAR/Tests/NamingConventions/ValidFunctionNameUnitTest.3.inc
  src/Standards/PEAR/Tests/NamingConventions/ValidFunctionNameUnitTest.php
  src/Standards/PSR1/Sniffs/Methods/CamelCapsMethodNameSniff.php
  src/Standards/PSR1/Tests/Methods/CamelCapsMethodNameUnitTest.1.inc
  src/Standards/PSR1/Tests/Methods/CamelCapsMethodNameUnitTest.2.inc
  src/Standards/PSR1/Tests/Methods/CamelCapsMethodNameUnitTest.php
  src/Standards/PSR2/Sniffs/Methods/MethodDeclarationSniff.php
  src/Standards/PSR2/Tests/Methods/MethodDeclarationUnitTest.1.inc
  src/Standards/PSR2/Tests/Methods/MethodDeclarationUnitTest.1.inc.fixed
  src/Standards/PSR2/Tests/Methods/MethodDeclarationUnitTest.2.inc
  src/Standards/PSR2/Tests/Methods/MethodDeclarationUnitTest.php
  src/Standards/Squiz/Sniffs/Classes/ClassFileNameSniff.php
  src/Standards/Squiz/Sniffs/Commenting/ClosingDeclarationCommentSniff.php
  src/Standards/Squiz/Sniffs/Functions/GlobalFunctionSniff.php
  src/Standards/Squiz/Sniffs/NamingConventions/ValidFunctionNameSniff.php
  src/Standards/Squiz/Sniffs/Scope/MethodScopeSniff.php
  src/Standards/Squiz/Tests/Commenting/ClassCommentUnitTest.1.inc
  src/Standards/Squiz/Tests/Commenting/ClassCommentUnitTest.2.inc
  src/Standards/Squiz/Tests/Commenting/ClassCommentUnitTest.php
  src/Standards/Squiz/Tests/Commenting/ClosingDeclarationCommentUnitTest.6.inc
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.1.inc
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.2.inc
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.php
  src/Standards/Squiz/Tests/Functions/GlobalFunctionUnitTest.1.inc
  src/Standards/Squiz/Tests/Functions/GlobalFunctionUnitTest.2.inc
  src/Standards/Squiz/Tests/Functions/GlobalFunctionUnitTest.php
  src/Standards/Squiz/Tests/NamingConventions/ValidFunctionNameUnitTest.1.inc
  src/Standards/Squiz/Tests/NamingConventions/ValidFunctionNameUnitTest.2.inc
  src/Standards/Squiz/Tests/NamingConventions/ValidFunctionNameUnitTest.php
  src/Standards/Squiz/Tests/Scope/MethodScopeUnitTest.1.inc
  src/Standards/Squiz/Tests/Scope/MethodScopeUnitTest.2.inc
  src/Standards/Squiz/Tests/Scope/MethodScopeUnitTest.php
  tests/Core/File/GetDeclarationNameParseError1Test.php
  tests/Core/File/GetDeclarationNameParseError2Test.php
  tests/Core/File/GetDeclarationNameTest.php
Labels: Type: breaking change, Core Component: File, Focus: Comments/Docblocks, Standard: Generic, Standard: PEAR, Standard: PSR1, Standard: PSR2, Standard: Squiz

#1010 (Nearly) All status, debug, and progress output is now sent to STDERR instead of STDOUT
  .github/CONTRIBUTING.md
  requirements.php
  src/Files/File.php
  src/Files/LocalFile.php
  src/Fixer.php
  src/Reports/Cbf.php
  src/Reports/Code.php
  src/Reports/Diff.php
  src/Ruleset.php
  src/Runner.php
  src/Sniffs/AbstractPatternSniff.php
  src/Standards/Generic/Sniffs/WhiteSpace/ScopeIndentSniff.php
  src/Standards/Squiz/Sniffs/PHP/CommentedOutCodeSniff.php
  src/Tokenizers/Comment.php
  src/Tokenizers/PHP.php
  src/Tokenizers/Tokenizer.php
  src/Util/Cache.php
  src/Util/MessageCollector.php
  src/Util/Timing.php
  src/Util/Writers/StatusWriter.php
  tests/Core/AbstractWriterTestCase.php
  tests/Core/Ruleset/DisplayCachedMessagesTest.php
  tests/Core/Ruleset/ShowSniffDeprecationsTest.php
  tests/Core/Runner/PrintProgressDotsTest.php
  tests/Core/Runner/PrintProgressTest.php
  tests/Core/StatusWriterTestHelper.php
  tests/Core/Util/MessageCollector/MessageCollectorTest.php
  tests/Core/Util/Timing/TimingTest.php
  tests/Core/Util/Writers/StatusWriterTest.php
Labels: Type: enhancement, Type: meta, Core Component: Utils

#1011 Always display timing after run, except when in quiet mode
  src/Reports/Cbf.php
  src/Reports/Code.php
  src/Reports/Full.php
  src/Reports/Info.php
  src/Reports/Source.php
  src/Reports/Summary.php
  src/Reports/VersionControl.php
  src/Runner.php
Labels: Type: enhancement, Core Component: Other, Core Component: Reports

#1012 Tokenizer::createTokenMap(): stabilize code for parenthesis owners
  src/Tokenizers/Tokenizer.php
  tests/Core/Tokenizers/Tokenizer/CreateTokenMapParenthesesTest.inc
  tests/Core/Tokenizers/Tokenizer/CreateTokenMapParenthesesTest.php
Labels: Type: bug, Core Component: Tokenizer

#1014 Tokenizer: isset/unset/empty/eval/exit/die now contain parenthesis information
  src/Util/Tokens.php
  tests/Core/Tokenizers/Tokenizer/CreateTokenMapParenthesesTest.inc
  tests/Core/Tokenizers/Tokenizer/CreateTokenMapParenthesesTest.php
Labels: Type: enhancement, Core Component: Tokenizer, Core Component: Utils

#1015 Tokenizer/PHP: change tokenization of long PHP open tags
  src/Sniffs/AbstractPatternSniff.php
  src/Standards/Generic/Sniffs/CodeAnalysis/EmptyPHPStatementSniff.php
  src/Standards/Generic/Tests/CodeAnalysis/EmptyPHPStatementUnitTest.2.inc
  src/Standards/Generic/Tests/CodeAnalysis/EmptyPHPStatementUnitTest.2.inc.fixed
  src/Standards/Generic/Tests/CodeAnalysis/EmptyPHPStatementUnitTest.php
  src/Standards/PSR12/Sniffs/Files/OpenTagSniff.php
  src/Standards/PSR12/Tests/Files/OpenTagUnitTest.2.inc.fixed
  src/Standards/Squiz/Sniffs/PHP/CommentedOutCodeSniff.php
  src/Standards/Squiz/Sniffs/PHP/EmbeddedPhpSniff.php
  src/Tokenizers/PHP.php
  tests/Core/File/FindStartOfStatementTest.php
  tests/Core/Tokenizers/PHP/PHPOpenTagEOF1Test.php
  tests/Core/Tokenizers/PHP/PHPOpenTagTest.inc
  tests/Core/Tokenizers/PHP/PHPOpenTagTest.php
  tests/Core/Tokenizers/Tokenizer/ReplaceTabsInTokenMiscTest.php
Labels: Type: breaking change, Type: enhancement, Core Component: Tokenizer

#1016 Tokenizer/PHP: `T_GOTO_LABEL` no longer contains colon
  src/Standards/Squiz/Sniffs/PHP/DisallowMultipleAssignmentsSniff.php
  src/Tokenizers/PHP.php
  src/Util/Tokens.php
  tests/Core/Tokenizers/PHP/GotoLabelTest.inc
  tests/Core/Tokenizers/PHP/GotoLabelTest.php
Labels: Type: breaking change, Type: bug, Core Component: Tokenizer

#1019 Tokenizer/Comment: add docblock open + close ptr to all docblock tokens
  src/Tokenizers/Comment.php
  src/Tokenizers/PHP.php
  tests/Core/Tokenizers/Comment/CommentTestCase.php
Labels: Type: enhancement, Core Component: Tokenizer, Focus: Comments/Docblocks

#45 4.0 | Tokenizer/PHP: defer to predefined regex
  src/Tokenizers/PHP.php
Labels: Type: chores/QA, Core Component: Tokenizer

#1029 Tokens: fix last use of property vs constant
  src/Util/Tokens.php
Labels: Type: chores/QA, Core Component: Utils

#1022 Filter: files without extension are no longer ignored if the path is passed in directly
  phpcs.xml.dist
  src/Filters/Filter.php
  tests/Core/Filters/Filter/ShouldProcessFileWithoutExtensionTest.php
Labels: Type: enhancement, Core Component: Ruleset, Core Component: Other

#1023 Runner: error message if no files were checked during a run
  src/Runner.php
  tests/Core/Runner/Fixtures/AllFilesExcludedSetA/placeholder.inc
  tests/Core/Runner/Fixtures/AllFilesExcludedSetA/placeholder.js
  tests/Core/Runner/Fixtures/AllFilesExcludedSetA/placeholder.phpt
  tests/Core/Runner/Fixtures/AllFilesExcludedSetB/placeholderA.php
  tests/Core/Runner/Fixtures/AllFilesExcludedSetB/placeholderB.php
  tests/Core/Runner/Fixtures/AllFilesExcludedSetB/placeholderC.php
  tests/Core/Runner/Fixtures/AllFilesExcludedSetB/placeholderD.php
  tests/Core/Runner/RunAllFilesExcludedErrorTest.php
Labels: Type: breaking change, Type: enhancement, Core Component: Other

#1024 Config: show user friendly error message when ini change failed
  .github/workflows/test.yml
  src/Config.php
  tests/Core/Config/IniSetTest.php
  tests/Core/Ruleset/IniSetFailIniOnlyTest.xml
  tests/Core/Ruleset/IniSetFailIniPerDirTest.xml
  tests/Core/Ruleset/IniSetFailIniSystemTest.xml
  tests/Core/Ruleset/IniSetSuccessTest.xml
  tests/Core/Ruleset/ProcessRulesetIniSetTest.php
Labels: Type: enhancement, Core Component: Config & CLI options

#1026 :sparkles: New Generic.WhiteSpace.GotoTargetSpacing sniff
  src/Standards/Generic/Docs/WhiteSpace/GotoTargetSpacingStandard.xml
  src/Standards/Generic/Sniffs/WhiteSpace/GotoTargetSpacingSniff.php
  src/Standards/Generic/Tests/WhiteSpace/GotoTargetSpacingUnitTest.inc
  src/Standards/Generic/Tests/WhiteSpace/GotoTargetSpacingUnitTest.inc.fixed
  src/Standards/Generic/Tests/WhiteSpace/GotoTargetSpacingUnitTest.php
Labels: Type: enhancement, Standard: Generic

#1032 Modernize: use `$levels` parameter for `dirname()`
  src/Ruleset.php
  src/Util/Standards.php
  tests/Core/Filters/AbstractFilterTestCase.php
  tests/Core/Ruleset/ConstructorTest.php
  tests/Core/Ruleset/RegisterSniffsTest.php
  tests/Core/Ruleset/RuleInclusionAbsoluteLinuxTest.php
  tests/Core/Ruleset/RuleInclusionAbsoluteWindowsTest.php
  tests/Core/Ruleset/RuleInclusionTest.php
  tests/Core/Standards/StandardRulesetsQATest.php
Labels: Type: chores/QA, Core Component: Ruleset, Core Component: Utils

#1033 Modernize: use list in foreach
  src/Util/MessageCollector.php
Labels: Type: chores/QA, Core Component: Utils

#1034 Modernize: static closures should be static
  autoload.php
  src/Reports/Summary.php
  src/Util/Cache.php
Labels: Type: chores/QA, Core Component: Reports, Core Component: Utils

#1036 Generic/ScopeIndent: remove check for test constant from src code
  src/Standards/Generic/Sniffs/WhiteSpace/ScopeIndentSniff.php
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.php
  src/Standards/PEAR/Tests/WhiteSpace/ScopeIndentUnitTest.php
Labels: Type: chores/QA, Standard: Generic, Standard: PEAR

#1037 Docs: various minor fixes
  src/Tokenizers/PHP.php
  src/Tokenizers/Tokenizer.php
  src/Util/Tokens.php
  tests/Core/AbstractMethodUnitTest.php
Labels: Type: documentation, Core Component: Utils

#1038 Tokens: fix docblocks
  src/Util/Tokens.php
Labels: Type: documentation, Core Component: Utils

#1041 BitwiseOrTest: fix up some test descriptions
  tests/Core/Tokenizers/PHP/BitwiseOrTest.php
Labels: Type: chores/QA

#1046 PSR1/SideEffects: fix syntax error in XML documentation code example
  src/Standards/PSR1/Docs/Files/SideEffectsStandard.xml
Labels: Type: documentation, Standard: PSR1

#1047 PSR2/NamespaceDeclaration: improve XML documentation
  src/Standards/PSR2/Docs/Namespaces/NamespaceDeclarationStandard.xml
Labels: Type: documentation, Standard: PSR2

#1040 Generic/UnnecessaryHeredoc: 2 bug fixes involving escape sequences
  src/Standards/Generic/Sniffs/Strings/UnnecessaryHeredocSniff.php
  src/Standards/Generic/Tests/Strings/UnnecessaryHeredocUnitTest.1.inc
  src/Standards/Generic/Tests/Strings/UnnecessaryHeredocUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/Strings/UnnecessaryHeredocUnitTest.2.inc
  src/Standards/Generic/Tests/Strings/UnnecessaryHeredocUnitTest.2.inc.fixed
Labels: Type: bug, Standard: Generic

#1053 Runner: use StatusWriter::writeNewline()
  src/Runner.php
Labels: Type: chores/QA

#1061 Generic/ScopeIndent: fix passed param type
  src/Standards/Generic/Tests/WhiteSpace/ScopeIndentUnitTest.php
  src/Standards/PEAR/Tests/WhiteSpace/ScopeIndentUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#1063 GH Actions: fix cs annotations not showing
  .github/workflows/test.yml
  .github/workflows/validate.yml
Labels: Type: chores/QA

#1048 Fixer::fixFile(): bug fix for incorrect return value
  src/Fixer.php
  tests/Core/Fixer/FixFileReturnValueAllGoodTest.xml
  tests/Core/Fixer/FixFileReturnValueConflictTest.xml
  tests/Core/Fixer/FixFileReturnValueNotEnoughLoopsTest.xml
  tests/Core/Fixer/FixFileReturnValueTest.php
  tests/Core/Fixer/Fixtures/TestStandard/Sniffs/FixFileReturnValue/AllGoodSniff.php
  tests/Core/Fixer/Fixtures/TestStandard/Sniffs/FixFileReturnValue/ConflictSniff.php
  tests/Core/Fixer/Fixtures/TestStandard/Sniffs/FixFileReturnValue/NotEnoughLoopsSniff.php
  tests/Core/Fixer/Fixtures/TestStandard/ruleset.xml
  tests/Core/Fixer/Fixtures/test.inc
Labels: Type: bug, Core Component: Fixer

#1039 Squiz/VariableComment: make errorcode for "TagNotAllowed" warning modular
  phpcs.xml.dist
  src/Standards/Squiz/Sniffs/Commenting/VariableCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.php
Labels: Type: breaking change, Type: enhancement, Focus: Comments/Docblocks, Standard: Squiz

#1042 Handle `\true`/`\false`/`\null` in the new namespaced names tokenization
  src/Standards/Generic/Sniffs/CodeAnalysis/UnconditionalIfStatementSniff.php
  src/Standards/Generic/Sniffs/ControlStructures/DisallowYodaConditionsSniff.php
  src/Standards/Generic/Sniffs/PHP/LowerCaseConstantSniff.php
  src/Standards/Generic/Tests/CodeAnalysis/UnconditionalIfStatementUnitTest.1.inc
  src/Standards/Generic/Tests/CodeAnalysis/UnconditionalIfStatementUnitTest.php
  src/Standards/Generic/Tests/ControlStructures/DisallowYodaConditionsUnitTest.inc
  src/Standards/Generic/Tests/ControlStructures/DisallowYodaConditionsUnitTest.php
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.1.inc
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.php
  src/Standards/Generic/Tests/PHP/UpperCaseConstantUnitTest.inc
  src/Standards/Generic/Tests/PHP/UpperCaseConstantUnitTest.inc.fixed
  src/Standards/Generic/Tests/PHP/UpperCaseConstantUnitTest.php
  src/Standards/PSR12/Tests/Functions/NullableTypeDeclarationUnitTest.inc
  src/Standards/PSR12/Tests/Functions/NullableTypeDeclarationUnitTest.inc.fixed
  src/Standards/PSR12/Tests/Functions/NullableTypeDeclarationUnitTest.php
  src/Standards/Squiz/Sniffs/Operators/ComparisonOperatorUsageSniff.php
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Operators/ComparisonOperatorUsageUnitTest.inc
  tests/Core/Tokenizers/PHP/BackfillFnTokenTest.inc
  tests/Core/Tokenizers/PHP/BackfillFnTokenTest.php
  tests/Core/Tokenizers/PHP/BitwiseOrTest.inc
  tests/Core/Tokenizers/PHP/BitwiseOrTest.php
  tests/Core/Tokenizers/PHP/DNFTypesTest.inc
  tests/Core/Tokenizers/PHP/DNFTypesTest.php
  tests/Core/Tokenizers/PHP/NamespacedNameSingleTokenTest.inc
  tests/Core/Tokenizers/PHP/NamespacedNameSingleTokenTest.php
  tests/Core/Tokenizers/PHP/TypeIntersectionTest.inc
  tests/Core/Tokenizers/PHP/TypeIntersectionTest.php
Labels: Type: bug, Type: enhancement, Core Component: Tokenizer, Standard: Generic, Standard: PSR12, Standard: Squiz

#1043 Modernize: use class constants for constant arrays (public API)
  src/Sniffs/AbstractVariableSniff.php
  src/Standards/Generic/Sniffs/Files/ByteOrderMarkSniff.php
  src/Standards/Generic/Sniffs/Files/InlineHTMLSniff.php
  src/Standards/Generic/Sniffs/NamingConventions/CamelCapsFunctionNameSniff.php
  src/Standards/Generic/Sniffs/PHP/CharacterBeforePHPOpeningTagSniff.php
  src/Standards/Generic/Sniffs/VersionControl/SubversionPropertiesSniff.php
  src/Standards/PEAR/Sniffs/Commenting/FileCommentSniff.php
  src/Standards/PEAR/Sniffs/NamingConventions/ValidFunctionNameSniff.php
  src/Standards/PSR1/Sniffs/Methods/CamelCapsMethodNameSniff.php
  src/Standards/Squiz/Sniffs/Commenting/FunctionCommentSniff.php
  src/Standards/Squiz/Sniffs/NamingConventions/ValidVariableNameSniff.php
  src/Standards/Squiz/Sniffs/PHP/DisallowSizeFunctionsInLoopsSniff.php
  src/Standards/Zend/Sniffs/NamingConventions/ValidVariableNameSniff.php
  src/Tokenizers/PHP.php
  src/Util/Common.php
  tests/Core/Util/Common/SuggestTypeTest.php
Labels: Type: chores/QA, Core Component: Tokenizer, Core Component: Utils, Standard: Generic, Standard: PEAR, Standard: Squiz

#1051 Modernize: add constant visibility
  phpcs.xml.dist
  src/Config.php
  src/Generators/HTML.php
  src/Util/Help.php
  src/Util/MessageCollector.php
  src/Util/Timing.php
  tests/Core/Ruleset/AbstractRulesetTestCase.php
  tests/Core/Ruleset/PropertyTypeHandlingTest.php
Labels: Type: breaking change, Type: chores/QA, Core Component: Utils, Core Component: Generators, Core Component: Config & CLI options

#1052 Fixer: remove output buffering
  src/Files/File.php
  src/Fixer.php
  src/Reports/Cbf.php
  src/Reports/Diff.php
Labels: Type: chores/QA, Core Component: File, Core Component: Fixer, Core Component: Reports

#1054 Standards: introduce `prepareInstalledStandardsForDisplay()` method
  src/Config.php
  src/Runner.php
  src/Util/Standards.php
Labels: Type: chores/QA, Core Component: Utils, Core Component: Config & CLI options

#1056 Config: remove some more output buffering
  src/Config.php
Labels: Type: chores/QA, Core Component: Config & CLI options

#1062 Runner: use StatusWriter for caught errors
  src/Runner.php
  tests/Core/Runner/RunAllFilesExcludedErrorTest.php
Labels: Type: chores/QA, Type: enhancement, Core Component: Other

#1064 Reporter: remove redundant property
  src/Reporter.php
Labels: Type: chores/QA, Core Component: Reports

#1066 StandardRulesetsQATest: fix the test
  tests/Core/Standards/StandardRulesetsQATest.php
Labels: Type: chores/QA

#1065 CS: various array formatting fixes
  tests/Core/Tokenizers/PHP/ArrayKeywordTest.php
  tests/Core/Tokenizers/PHP/AttributesTest.php
  tests/Core/Tokenizers/PHP/BackfillFnTokenTest.php
  tests/Core/Tokenizers/PHP/DNFTypesTest.php
  tests/Core/Tokenizers/Tokenizer/CreateParenthesisNestingMapDNFTypesTest.php
  tests/Core/Tokenizers/Tokenizer/CreateTokenMapArrayParenthesesTest.php
Labels: Type: chores/QA
