Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2025-05, with the labels that each got.

#1049 PSR2/SwitchDeclaration: improve XML documentation
  src/Standards/PSR2/Docs/ControlStructures/SwitchDeclarationStandard.xml
Labels: Type: documentation, Standard: PSR2

#1071 Remark/dead URL check: skip stack overflow link
  .remarkrc
Labels: Type: chores/QA

#1068 Config: remove more test specific conditions
  src/Config.php
Labels: Type: chores/QA, Core Component: Config & CLI options

#1069 ProcessRulesetCliArgsTest: add tests for `cache` arg
  tests/Core/Ruleset/Fixtures/ProcessRulesetCliArgsTest/.phpcs.xml
  tests/Core/Ruleset/Fixtures/ProcessRulesetCliArgsTest/config/phpcs/.cache.phpcs
  tests/Core/Ruleset/Fixtures/ProcessRulesetCliArgsTest/phpcs.xml.dist
  tests/Core/Ruleset/ProcessRulesetCliArgsTest.php
Labels: Type: chores/QA, Core Component: Ruleset

#47 4.0 | PEAR/PSR2/FunctionCallSignature: support anonymous classes
  src/Standards/PEAR/Sniffs/Functions/FunctionCallSignatureSniff.php
  src/Standards/PEAR/Tests/Functions/FunctionCallSignatureUnitTest.inc
  src/Standards/PEAR/Tests/Functions/FunctionCallSignatureUnitTest.inc.fixed
  src/Standards/PEAR/Tests/Functions/FunctionCallSignatureUnitTest.php
  src/Standards/PSR2/Tests/Methods/FunctionCallSignatureUnitTest.inc
  src/Standards/PSR2/Tests/Methods/FunctionCallSignatureUnitTest.inc.fixed
  src/Standards/PSR2/Tests/Methods/FunctionCallSignatureUnitTest.php
  src/Standards/Squiz/Tests/Operators/ComparisonOperatorUsageUnitTest.inc
  src/Standards/Squiz/Tests/Operators/ComparisonOperatorUsageUnitTest.php
  src/Util/Tokens.php
Labels: Type: enhancement, Core Component: Utils, Standard: PEAR, Standard: PSR2, Standard: Squiz

#1075 build-phar script: minor readability tweak
  scripts/build-phar.php
Labels: Type: chores/QA

#1076 Tests should pass in CBF mode
  .github/workflows/test.yml
  tests/Core/Config/GeneratorArgTest.php
  tests/Core/Config/SniffsExcludeArgsTest.php
  tests/Core/Ruleset/DisplayCachedMessagesTest.php
Labels: Type: chores/QA

#1077 Config: bug fix - "reports" could get set incorrectly when in CBF mode
  src/Config.php
  tests/Core/Config/ReportArgsTest.php
Labels: Type: bug, Core Component: Config & CLI options

#1078 Help: improve information about requesting reports
  src/Util/Help.php
Labels: Type: documentation, Core Component: Utils

#1072 4.0 | Generators/Generator: improve error messages
  src/Exceptions/GeneratorException.php
  src/Generators/Generator.php
  src/Generators/HTML.php
  src/Generators/Markdown.php
  tests/Core/Generators/GeneratorTest.php
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
Labels: Type: enhancement, Core Component: Generators

#871 PHP 8.4 | Add tokenization of asymmetric visibility
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.1.inc
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/PHP/LowerCaseConstantUnitTest.php
  src/Standards/PSR12/Sniffs/Properties/ConstantVisibilitySniff.php
  src/Standards/PSR12/Tests/Properties/ConstantVisibilityUnitTest.1.inc
  src/Standards/PSR12/Tests/Properties/ConstantVisibilityUnitTest.2.inc
  src/Standards/PSR12/Tests/Properties/ConstantVisibilityUnitTest.php
  src/Standards/PSR2/Tests/Classes/PropertyDeclarationUnitTest.inc
  src/Standards/PSR2/Tests/Classes/PropertyDeclarationUnitTest.inc.fixed
  src/Standards/PSR2/Tests/Classes/PropertyDeclarationUnitTest.php
  src/Tokenizers/PHP.php
  src/Util/Tokens.php
  tests/Core/Tokenizers/PHP/BackfillAsymmetricVisibilityTest.inc
  tests/Core/Tokenizers/PHP/BackfillAsymmetricVisibilityTest.php
  tests/Core/Tokenizers/PHP/BitwiseOrTest.inc
  tests/Core/Tokenizers/PHP/BitwiseOrTest.php
  tests/Core/Tokenizers/PHP/ContextSensitiveKeywordsTest.inc
  tests/Core/Tokenizers/PHP/ContextSensitiveKeywordsTest.php
  tests/Core/Tokenizers/PHP/DNFTypesTest.inc
  tests/Core/Tokenizers/PHP/DNFTypesTest.php
  tests/Core/Tokenizers/PHP/NullableVsInlineThenTest.inc
  tests/Core/Tokenizers/PHP/NullableVsInlineThenTest.php
  tests/Core/Tokenizers/PHP/TypeIntersectionTest.inc
  tests/Core/Tokenizers/PHP/TypeIntersectionTest.php
  tests/Core/Util/Tokens/TokenNameTest.php
Labels: Type: enhancement, Core Component: Tokenizer, Core Component: Utils, Focus: Modern PHP

#1085 GH Actions/test: fix coverage runs
  .github/workflows/test.yml
Labels: Type: chores/QA

#1079 Change the exit codes
  .github/workflows/test-requirements-check.yml
  .gitignore
  requirements.php
  src/Config.php
  src/Exceptions/DeepExitException.php
  src/Files/DummyFile.php
  src/Files/File.php
  src/Files/FileList.php
  src/Files/LocalFile.php
  src/Fixer.php
  src/Reporter.php
  src/Reports/Cbf.php
  src/Reports/Gitblame.php
  src/Reports/Hgblame.php
  src/Reports/Svnblame.php
  src/Runner.php
  src/Util/ExitCode.php
  src/Util/Help.php
  tests/Core/Reporter/MagicMethodsTest.php
  tests/Core/Util/ExitCode/ExitCodeTest.php
  tests/Core/Util/ExitCode/ExitCodeTest.xml
  tests/Core/Util/ExitCode/Fixtures/ExitCodeTest/mix-errors-warnings.inc
  tests/Core/Util/ExitCode/Fixtures/ExitCodeTest/only-errors.inc
  tests/Core/Util/ExitCode/Fixtures/ExitCodeTest/only-fixable-errors.inc
  tests/Core/Util/ExitCode/Fixtures/ExitCodeTest/only-fixable-warnings.inc
  tests/Core/Util/ExitCode/Fixtures/ExitCodeTest/only-warnings.inc
  tests/Core/Util/ExitCode/Fixtures/TestStandard/Sniffs/ExitCodes/ErrorSniff.php
  tests/Core/Util/ExitCode/Fixtures/TestStandard/Sniffs/ExitCodes/FailToFixSniff.php
  tests/Core/Util/ExitCode/Fixtures/TestStandard/Sniffs/ExitCodes/FixableErrorSniff.php
  tests/Core/Util/ExitCode/Fixtures/TestStandard/Sniffs/ExitCodes/FixableWarningSniff.php
  tests/Core/Util/ExitCode/Fixtures/TestStandard/Sniffs/ExitCodes/NoIssuesSniff.php
  tests/Core/Util/ExitCode/Fixtures/TestStandard/Sniffs/ExitCodes/WarningSniff.php
  tests/Core/Util/ExitCode/Fixtures/TestStandard/ruleset.xml
Labels: Type: breaking change, Type: enhancement, Core Component: File, Core Component: Other, Core Component: Reports, Core Component: Utils, Core Component: Config & CLI options

#1088 Changelog for the 3.13.0 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta

#1089 Changelog for the 4.0.0beta1 release
  CHANGELOG.md
  src/Config.php
Labels: Type: documentation, Type: meta

#1096 TimingTest: remove flaky assertions
  tests/Core/Util/Timing/TimingTest.php
Labels: Type: chores/QA

#1095 GH Actions: actually run tests against Windows
  .github/workflows/test.yml
Labels: Type: chores/QA

#1097 GH Actions: auto-trigger update of schema website
  .github/workflows/verify-release.yml
Labels: Type: chores/QA, Type: enhancement

#1098 Squiz/FunctionOpeningBraceSpace: update XML doc
  src/Standards/Squiz/Docs/WhiteSpace/FunctionOpeningBraceSpaceStandard.xml
Labels: Type: documentation, Standard: Squiz

#856 [Doc] Cover all errors of PEAR ClassDeclaration
  src/Standards/PEAR/Docs/Classes/ClassDeclarationStandard.xml
Labels: Type: documentation, Standard: PEAR

#1106 Declare dependency on bcmath extension
  tests/Core/Ruleset/ProcessRulesetShouldProcessElementTest.php
Labels: Type: chores/QA

#1105 Skip tests when 'git' command is not available
  tests/Core/Filters/GitModifiedTest.php
  tests/Core/Filters/GitStagedTest.php
Labels: Type: bug, Type: chores/QA, Core Component: Other
