Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2025-03, with the labels that each got.

#852 GH Actions: use the xmllint-validate action runner and enhance checks
  .github/workflows/validate.yml
Labels: Type: chores/QA

#853 GeneratorTest: make a particular test more stable
  tests/Core/Generators/GeneratorTest.php
Labels: Type: chores/QA, Core Component: Generators

#842 [Docs] Add XML doc for Squiz.Classes.ValidClassName sniff
  src/Standards/Squiz/Docs/Classes/ValidClassNameStandard.xml
Labels: Type: documentation, Standard: Squiz

#854 Generators/HTML: improve code table semantics
  src/Generators/HTML.php
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonBlankLines.html
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonBlockLength.html
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonEncoding.html
  tests/Core/Generators/Expectations/ExpectedOutputCodeComparisonLineLength.html
  tests/Core/Generators/Expectations/ExpectedOutputCodeTitleLineWrapping.html
  tests/Core/Generators/Expectations/ExpectedOutputCodeTitleWhitespace.html
  tests/Core/Generators/Expectations/ExpectedOutputDocumentationTitleCase.html
  tests/Core/Generators/Expectations/ExpectedOutputDocumentationTitleLength.html
  tests/Core/Generators/Expectations/ExpectedOutputDocumentationTitlePCREFallback.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeComparisonMismatchedCodeElms.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeComparisonMissingCodeElm.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeComparisonNoCode.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeComparisonNoContent.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeComparisonOneEmptyCodeElm.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeComparisonTwoEmptyCodeElms.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeTitleEmpty.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeTitleMissing.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidDocumentationTitleEmpty.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidDocumentationTitleMissing.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidStandardNoContent.html
  tests/Core/Generators/Expectations/ExpectedOutputOneDoc.html
  tests/Core/Generators/Expectations/ExpectedOutputStandardBlankLines.html
  tests/Core/Generators/Expectations/ExpectedOutputStandardEncoding.html
  tests/Core/Generators/Expectations/ExpectedOutputStandardIndent.html
  tests/Core/Generators/Expectations/ExpectedOutputStandardLineWrapping.html
  tests/Core/Generators/Expectations/ExpectedOutputStructureDocs.html
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedOneElmAtWrongLevel.html
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedSuperfluousCodeElement.html
Labels: Type: enhancement, Core Component: Generators

#849 GH Actions/tests: run tests against multiple libxml versions
  .github/workflows/test.yml
Labels: Type: chores/QA

#860 GH Action/Labeller: fix up outdated labels
  .github/labeler.yml
Labels: Type: chores/QA

#845 Squiz/ClassFileName: various improvements
  src/Standards/Squiz/Sniffs/Classes/ClassFileNameSniff.php
  src/Standards/Squiz/Tests/Classes/ClassFileName Spaces In FilenameUnitTest.inc
  src/Standards/Squiz/Tests/Classes/ClassFileName-Dashes-In-FilenameUnitTest.inc
  src/Standards/Squiz/Tests/Classes/ClassFileNameLiveCodingFailUnitTest.inc
  src/Standards/Squiz/Tests/Classes/ClassFileNameLiveCodingPassUnitTest.inc
  src/Standards/Squiz/Tests/Classes/ClassFileNameParseError1UnitTest.inc
  src/Standards/Squiz/Tests/Classes/ClassFileNameUnitTest.inc
  src/Standards/Squiz/Tests/Classes/ClassFileNameUnitTest.php
Labels: Type: bug, Type: chores/QA, Standard: Squiz

#850 Tests/Tokenizer: fix bug in the `default` keyword tests
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapDefaultKeywordConditionsTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#864 Ruleset/PropertyTypeHandlingTest: add tests with extended arrays
  tests/Core/Ruleset/Fixtures/PropertyTypeHandlingInline.inc
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SetProperty/PropertyTypeHandlingSniff.php
  tests/Core/Ruleset/PropertyTypeHandlingTest.php
  tests/Core/Ruleset/PropertyTypeHandlingTest.xml
Labels: Type: chores/QA, Core Component: Ruleset

#866 QA: XML doc fixes x 2
  src/Standards/PEAR/Docs/Files/LineLengthStandard.xml
  src/Standards/Squiz/Docs/WhiteSpace/FunctionOpeningBraceSpaceStandard.xml
Labels: Type: chores/QA, Type: documentation, Standard: PEAR

#867 Squiz/FunctionClosingBraceSpace: add some more tests
  src/Standards/Squiz/Tests/WhiteSpace/FunctionClosingBraceSpaceUnitTest.inc
  src/Standards/Squiz/Tests/WhiteSpace/FunctionClosingBraceSpaceUnitTest.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/FunctionClosingBraceSpaceUnitTest.php
Labels: Type: chores/QA, Standard: Squiz

#868 Add StandardRulesetsQATest
  tests/Core/Standards/StandardRulesetsQATest.php
Labels: Type: chores/QA

#869 GH Actions: add the 4.0 branch to various selection criteria
  .github/workflows/build-phar.yml
  .github/workflows/quicktest.yml
  .github/workflows/test.yml
Labels: Type: chores/QA

#865 Ruleset: bug fix - correctly handle empty array property setting
  src/Ruleset.php
  tests/Core/Ruleset/Fixtures/PropertyTypeHandlingInline.inc
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SetProperty/PropertyTypeHandlingSniff.php
  tests/Core/Ruleset/PropertyTypeHandlingTest.php
  tests/Core/Ruleset/PropertyTypeHandlingTest.xml
Labels: Type: bug, Core Component: Ruleset

#857 Ruleset: improve error handling
  src/Ruleset.php
  src/Util/MessageCollector.php
  tests/Core/Ruleset/ConstructorTest.php
  tests/Core/Ruleset/DisplayCachedMessagesTest.php
  tests/Core/Ruleset/ExpandRulesetReferenceHomePathTest.php
  tests/Core/Ruleset/ExpandRulesetReferenceTest.php
  tests/Core/Ruleset/PopulateTokenListenersRegisterNoArrayTest.xml
  tests/Core/Ruleset/PopulateTokenListenersTest.php
  tests/Core/Ruleset/ProcessRuleInvalidTypeTest.php
  tests/Core/Ruleset/SetSniffPropertyTest.php
  tests/Core/Util/MessageCollector/MessageCollectorTest.php
Labels: Type: enhancement, Core Component: Ruleset, Core Component: Utils

#875 Tests: use more specific assertions
  tests/Core/Tokenizers/PHP/AnonClassParenthesisOwnerTest.php
  tests/Core/Tokenizers/PHP/BackfillFnTokenTest.php
Labels: Type: chores/QA

#876 Tests: always use type strict assertions
  tests/Core/Autoloader/DetermineLoadedClassTest.php
  tests/Core/Filters/Filter/AcceptTest.php
  tests/Core/Filters/GitModifiedTest.php
  tests/Core/Filters/GitStagedTest.php
  tests/Core/Ruleset/RegisterSniffsTest.php
  tests/Core/Tokenizers/PHP/NamedFunctionCallArgumentsTest.php
Labels: Type: chores/QA

#872 Config: add tests for setting `--extensions`
  src/Config.php
  tests/Core/Config/ExtensionsArgTest.php
Labels: Type: chores/QA, Core Component: Config & CLI options

#877 GH Actions/coverage: join some steps
  .github/workflows/test.yml
Labels: Type: chores/QA

#870 Tests/Tokenizer: fix `conditions` checking range in `T_DEFAULT` test
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapDefaultKeywordConditionsTest.php
Labels: Type: chores/QA, Core Component: Tokenizer, Status: triage

#825 Squiz/ClassDeclaration: allow for function attributes
  src/Standards/Squiz/Sniffs/Classes/ClassDeclarationSniff.php
  src/Standards/Squiz/Tests/Classes/ClassDeclarationUnitTest.inc
  src/Standards/Squiz/Tests/Classes/ClassDeclarationUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Classes/ClassDeclarationUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Focus: Modern PHP, Standard: Squiz

#878 MessageCollectorTest: data providers should be static
  tests/Core/Util/MessageCollector/MessageCollectorTest.php
Labels: Type: chores/QA

#879 EscapeshellcmdTest: fix up data provider
  tests/Core/Util/Common/EscapeshellcmdTest.php
Labels: Type: chores/QA

#881 Tests: introduce AbstractRunnerTestCase base class and start using it
  tests/Core/Generators/GeneratorTest.php
  tests/Core/Ruleset/ExplainTest.php
  tests/Core/Runner/AbstractRunnerTestCase.php
  tests/Core/Runner/RunPHPCSExplainTest.php
  tests/Core/Runner/RunPHPCSGeneratorTest.php
Labels: Type: chores/QA

#840 Squiz/MemberVarSpacing: bug fix - handling of blank lines in pre-amble
  src/Standards/Squiz/Sniffs/WhiteSpace/MemberVarSpacingSniff.php
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Focus: Modern PHP, Standard: Squiz

#882 Ruleset: add tests to document trimming behaviour
  tests/Core/Ruleset/Fixtures/PropertyTypeHandlingInline.inc
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/SetProperty/PropertyTypeHandlingSniff.php
  tests/Core/Ruleset/PropertyTypeHandlingTest.php
  tests/Core/Ruleset/PropertyTypeHandlingTest.xml
Labels: Type: chores/QA, Core Component: Ruleset

#884 Remove some redundant code
  src/Files/File.php
  src/Standards/Generic/Tests/PHP/BacktickOperatorUnitTest.inc
  src/Standards/Generic/Tests/PHP/BacktickOperatorUnitTest.php
Labels: Type: chores/QA, Core Component: File

#873 Ruleset: handle invalid sniffs more graciously
  src/Ruleset.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/InvalidSniffError/NoImplementsNoProcessSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/InvalidSniffError/NoImplementsNoRegisterOrProcessSniff.php
  tests/Core/Ruleset/Fixtures/TestStandard/Sniffs/InvalidSniffError/NoImplementsNoRegisterSniff.php
  tests/Core/Ruleset/ProcessRulesetAutoExpandSniffsDirectoryTest.xml
  tests/Core/Ruleset/RegisterSniffsRejectsInvalidSniffNoImplementsNoProcessTest.xml
  tests/Core/Ruleset/RegisterSniffsRejectsInvalidSniffNoImplementsNoRegisterOrProcessTest.xml
  tests/Core/Ruleset/RegisterSniffsRejectsInvalidSniffNoImplementsNoRegisterTest.xml
  tests/Core/Ruleset/RegisterSniffsRejectsInvalidSniffTest.php
  tests/Core/Ruleset/ShowSniffDeprecationsTest.xml
Labels: Type: enhancement, Core Component: Ruleset

#886 Docs: various minor tweaks
  src/Config.php
  src/Util/MessageCollector.php
  tests/Core/Standards/StandardRulesetsQATest.php
  tests/Core/Tokenizers/Tokenizer/CreateParenthesisNestingMapDNFTypesTest.php
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapCaseKeywordConditionsTest.php
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapDefaultKeywordConditionsTest.php
  tests/Core/Util/MessageCollector/MessageCollectorTest.php
  tests/Core/Util/Tokens/GetHighestWeightedTokenTest.php
Labels: Type: documentation, Core Component: Config & CLI options

#885 Changelog for the 3.12.0 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta

#896 Remark/dead URL check: skip flaky PEAR links
  .remarkrc
Labels: Type: chores/QA

#895 Generic/DeprecatedFunctions: add test which will work for PHP 8.0+
  src/Standards/Generic/Tests/PHP/DeprecatedFunctionsUnitTest.inc
  src/Standards/Generic/Tests/PHP/DeprecatedFunctionsUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#897 GH Actions: auto-remove label on review request
  .github/workflows/label-remove-outdated.yml
Labels: Type: chores/QA

#898 GH Actions: auto-remove label tweaks
  .github/workflows/label-remove-outdated.yml
Labels: Type: chores/QA

#899 PropertyTypeHandlingTest: split data provider
  tests/Core/Ruleset/Fixtures/PropertyTypeHandlingInline.inc
  tests/Core/Ruleset/PropertyTypeHandlingTest.php
Labels: Type: chores/QA, Core Component: Ruleset

#813 Tests/Tokenizer: expand `default` keyword tests
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapDefaultKeywordConditionsTest.inc
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapDefaultKeywordConditionsTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#901 Docs: various minor fixes
  autoload.php
  src/Files/File.php
  src/Standards/Generic/Sniffs/Classes/DuplicateClassNameSniff.php
  src/Standards/Generic/Sniffs/WhiteSpace/LanguageConstructSpacingSniff.php
  src/Standards/Generic/Tests/Commenting/DocCommentUnitTest.php
  src/Standards/Generic/Tests/Files/OneTraitPerFileUnitTest.php
  src/Standards/Squiz/Sniffs/Classes/ClassFileNameSniff.php
  src/Standards/Squiz/Sniffs/Commenting/LongConditionClosingCommentSniff.php
  src/Standards/Squiz/Sniffs/Operators/ComparisonOperatorUsageSniff.php
  tests/Core/AbstractMethodUnitTest.php
  tests/Core/Config/ExtensionsArgTest.php
  tests/Core/Config/GeneratorArgTest.php
  tests/Core/File/FindImplementedInterfaceNamesTest.php
  tests/Core/Filters/AbstractFilterTestCase.php
  tests/Core/Filters/GitStagedTest.php
  tests/Core/Ruleset/DisplayCachedMessagesTest.php
  tests/Core/Ruleset/ProcessRulesetTest.php
  tests/Core/Sniffs/AbstractArraySniffTest.php
  tests/Core/Tokenizers/AbstractTokenizerTestCase.php
  tests/Core/Tokenizers/PHP/BackfillMatchTokenTest.php
  tests/Core/Tokenizers/PHP/ContextSensitiveKeywordsTest.php
  tests/Core/Tokenizers/PHP/DNFTypesParseError1Test.php
  tests/Core/Tokenizers/PHP/DNFTypesParseError2Test.php
  tests/Core/Tokenizers/PHP/DNFTypesTest.php
  tests/Core/Tokenizers/PHP/OtherContextSensitiveKeywordsTest.php
  tests/Core/Tokenizers/PHP/TypedConstantsTest.php
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapSwitchTokenScopeTest.php
  tests/Core/Util/Common/GetSniffCodeTest.php
Labels: Type: documentation, Core Component: File, Focus: Comments/Docblocks, Standard: Generic, Standard: Squiz

#900 CS/QA: various minor fixes
  src/Ruleset.php
  src/Standards/Generic/Sniffs/Functions/OpeningFunctionBraceBsdAllmanSniff.php
  src/Standards/PSR12/Sniffs/ControlStructures/ControlStructureSpacingSniff.php
  src/Standards/PSR12/Sniffs/Files/DeclareStatementSniff.php
  src/Standards/PSR2/Sniffs/ControlStructures/SwitchDeclarationSniff.php
  src/Util/Standards.php
  tests/Core/File/GetConditionTest.php
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapWithNamespaceOperatorTest.php
Labels: Type: chores/QA, Core Component: Ruleset, Core Component: Utils, Standard: Generic, Standard: PSR2, Standard: PSR12

#848 [Docs] Add XML doc for Squiz.Commenting.BlockComment sniff
  src/Standards/Squiz/Docs/Commenting/BlockCommentStandard.xml
Labels: Type: documentation, Standard: Squiz

#902 Tests/Tokenizer: make it easier to debug recurseScopeMap() `default` keyword tests
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapDefaultKeywordConditionsTest.php
Labels: Type: chores/QA, Core Component: Tokenizer

#909 Tests: introduce new `AbstractRealConfigTestCase`
  tests/Core/Config/AbstractRealConfigTestCase.php
  tests/Core/Config/ReportWidthTest.php
  tests/Core/Runner/AbstractRunnerTestCase.php
Labels: Type: chores/QA, Core Component: Config & CLI options

#911 GH Actions: only ignore upper bound for PHP platform reqs
  .github/workflows/test.yml
Labels: Type: chores/QA

#912 PSR12/FileHeader: add extra test
  src/Standards/PSR12/Tests/Files/FileHeaderUnitTest.19.inc
Labels: Type: chores/QA, Standard: PSR12

#913 Generic/LanguageConstructSpacing: add extra test
  src/Standards/Generic/Tests/WhiteSpace/LanguageConstructSpacingUnitTest.1.inc
  src/Standards/Generic/Tests/WhiteSpace/LanguageConstructSpacingUnitTest.1.inc.fixed
Labels: Type: chores/QA, Standard: Generic

#914 File::getMethodParameters(): add extra test
  tests/Core/File/GetMethodParametersTest.inc
  tests/Core/File/GetMethodParametersTest.php
Labels: Type: chores/QA, Core Component: File
