Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2025-07, with the labels that each got.

#1150 Files/FileList: adding the same file twice should not increment `FileList::$numFiles`
  src/Files/FileList.php
  tests/Core/Files/FileList/AbstractFileListTestCase.php
  tests/Core/Files/FileList/AddFileTest.php
  tests/Core/Files/FileList/ConstructTest.php
  tests/Core/Files/FileList/FilterDouble.php
  tests/Core/Files/FileList/Fixtures/file1.php
  tests/Core/Files/FileList/Fixtures/file2.php
Labels: Type: bug, Core Component: File

#1163 GH Actions/verify release: auto-trigger Wiki update on new release
  .github/workflows/verify-release.yml
Labels: Type: chores/QA

#1164 Pull request template: add reminder to update wiki documentation
  .github/pull_request_template.md
Labels: Type: chores/QA

#1160 PHP 8.4 | Tokenizer/PHP: allow for anon class dereferencing
  src/Tokenizers/PHP.php
  tests/Core/Tokenizers/PHP/ShortArrayTest.inc
  tests/Core/Tokenizers/PHP/ShortArrayTest.php
Labels: Type: enhancement, Core Component: Tokenizer, Focus: Modern PHP

#1161 PSR2/SwitchDeclaration: make "wrong opener" fixable if opener is a semi-colon
  src/Standards/PSR2/Sniffs/ControlStructures/SwitchDeclarationSniff.php
  src/Standards/PSR2/Tests/ControlStructures/SwitchDeclarationUnitTest.inc
  src/Standards/PSR2/Tests/ControlStructures/SwitchDeclarationUnitTest.inc.fixed
  src/Standards/PSR2/Tests/ControlStructures/SwitchDeclarationUnitTest.php
Labels: Type: enhancement, Standard: PSR2
