Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2025-06, with the labels that each got.

#1110 README: fix version badge
  README.md
Labels: Type: documentation

#1114 Tests: move File tests
  tests/Core/Files/File/FindEndOfStatementTest.inc
  tests/Core/Files/File/FindEndOfStatementTest.php
  tests/Core/Files/File/FindExtendedClassNameTest.inc
  tests/Core/Files/File/FindExtendedClassNameTest.php
  tests/Core/Files/File/FindImplementedInterfaceNamesTest.inc
  tests/Core/Files/File/FindImplementedInterfaceNamesTest.php
  tests/Core/Files/File/FindStartOfStatementTest.inc
  tests/Core/Files/File/FindStartOfStatementTest.php
  tests/Core/Files/File/GetClassPropertiesTest.inc
  tests/Core/Files/File/GetClassPropertiesTest.php
  tests/Core/Files/File/GetConditionTest.inc
  tests/Core/Files/File/GetConditionTest.php
  tests/Core/Files/File/GetDeclarationNameJSTest.js
  tests/Core/Files/File/GetDeclarationNameJSTest.php
  tests/Core/Files/File/GetDeclarationNameParseError1Test.inc
  tests/Core/Files/File/GetDeclarationNameParseError1Test.php
  tests/Core/Files/File/GetDeclarationNameParseError2Test.inc
  tests/Core/Files/File/GetDeclarationNameParseError2Test.php
  tests/Core/Files/File/GetDeclarationNameTest.inc
  tests/Core/Files/File/GetDeclarationNameTest.php
  tests/Core/Files/File/GetMemberPropertiesTest.inc
  tests/Core/Files/File/GetMemberPropertiesTest.php
  tests/Core/Files/File/GetMethodParametersParseError1Test.inc
  tests/Core/Files/File/GetMethodParametersParseError1Test.php
  tests/Core/Files/File/GetMethodParametersParseError2Test.inc
  tests/Core/Files/File/GetMethodParametersParseError2Test.php
  tests/Core/Files/File/GetMethodParametersTest.inc
  tests/Core/Files/File/GetMethodParametersTest.php
  tests/Core/Files/File/GetMethodPropertiesTest.inc
  tests/Core/Files/File/GetMethodPropertiesTest.php
  tests/Core/Files/File/GetTokensAsStringTest.inc
  tests/Core/Files/File/GetTokensAsStringTest.php
  tests/Core/Files/File/IsReferenceTest.inc
  tests/Core/Files/File/IsReferenceTest.php
Labels: Type: chores/QA

#1118 PEAR/ValidVariableName: update for properties with asymmetric visibility
  src/Standards/PEAR/Sniffs/NamingConventions/ValidVariableNameSniff.php
  src/Standards/PEAR/Tests/NamingConventions/ValidVariableNameUnitTest.inc
  src/Standards/PEAR/Tests/NamingConventions/ValidVariableNameUnitTest.php
Labels: Type: enhancement, Focus: Modern PHP, Standard: PEAR

#1119 PSR2/PropertyDeclaration: update for properties with asymmetric visibility
  src/Standards/PSR2/Sniffs/Classes/PropertyDeclarationSniff.php
  src/Standards/PSR2/Tests/Classes/PropertyDeclarationUnitTest.inc
  src/Standards/PSR2/Tests/Classes/PropertyDeclarationUnitTest.inc.fixed
  src/Standards/PSR2/Tests/Classes/PropertyDeclarationUnitTest.php
Labels: Type: enhancement, Focus: Modern PHP, Standard: PSR2

#1120 Squiz/Commenting sniffs: update for properties with asymmetric visibility
  src/Standards/Squiz/Sniffs/Commenting/BlockCommentSniff.php
  src/Standards/Squiz/Sniffs/Commenting/DocCommentAlignmentSniff.php
  src/Standards/Squiz/Sniffs/Commenting/VariableCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/BlockCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/BlockCommentUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Commenting/DocCommentAlignmentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/DocCommentAlignmentUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Commenting/DocCommentAlignmentUnitTest.php
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/VariableCommentUnitTest.inc.fixed
Labels: Type: enhancement, Focus: Comments/Docblocks, Focus: Modern PHP, Standard: Squiz

#1121 Squiz/FunctionDeclarationArgumentSpacing: handle asym modifiers for constructor property promotion
  src/Standards/Squiz/Sniffs/Functions/FunctionDeclarationArgumentSpacingSniff.php
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.php
Labels: Type: enhancement, Focus: Modern PHP, Standard: Squiz

#1122 Squiz/MemberVarScope: update for properties with asymmetric visibility
  src/Standards/Squiz/Sniffs/Scope/MemberVarScopeSniff.php
  src/Standards/Squiz/Tests/Scope/MemberVarScopeUnitTest.inc
  src/Standards/Squiz/Tests/Scope/MemberVarScopeUnitTest.php
Labels: Type: enhancement, Focus: Modern PHP, Standard: Squiz

#1123 Squiz/MemberVarSpacing: update for properties with asymmetric visibility
  src/Standards/Squiz/Sniffs/WhiteSpace/MemberVarSpacingSniff.php
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.php
Labels: Type: enhancement, Focus: Modern PHP, Standard: Squiz

#1125 Various sniffs: add tests for properties with asymmetric visibility
  src/Standards/Generic/Tests/CodeAnalysis/UnusedFunctionParameterUnitTest.1.inc
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.inc
  src/Standards/Generic/Tests/PHP/LowerCaseTypeUnitTest.inc.fixed
  src/Standards/Generic/Tests/PHP/UpperCaseConstantUnitTest.inc
  src/Standards/Generic/Tests/PHP/UpperCaseConstantUnitTest.inc.fixed
  src/Standards/Generic/Tests/PHP/UpperCaseConstantUnitTest.php
  src/Standards/PEAR/Tests/Functions/ValidDefaultValueUnitTest.1.inc
  src/Standards/Squiz/Tests/NamingConventions/ValidVariableNameUnitTest.inc
  src/Standards/Squiz/Tests/NamingConventions/ValidVariableNameUnitTest.php
  src/Standards/Zend/Tests/NamingConventions/ValidVariableNameUnitTest.inc
  src/Standards/Zend/Tests/NamingConventions/ValidVariableNameUnitTest.php
Labels: Type: chores/QA, Focus: Modern PHP

#1128 Tokenizer/PHP: bug fix for missing parenthesis owner for method named "fn"
  src/Tokenizers/PHP.php
  tests/Core/Tokenizers/Tokenizer/CreateTokenMapParenthesesTest.inc
  tests/Core/Tokenizers/Tokenizer/CreateTokenMapParenthesesTest.php
Labels: Type: bug, Core Component: Tokenizer

#1133 Filter/Filter: remove outdated code that is no longer needed
  src/Filters/Filter.php
Labels: Type: chores/QA, Core Component: File

#1136 Squiz/FunctionDeclarationArgumentSpacing: fix typo in `SpacingAfterVis[i]bility` error code
  src/Standards/Squiz/Sniffs/Functions/FunctionDeclarationArgumentSpacingSniff.php
Labels: Type: breaking change, Type: bug, Standard: Squiz

#123 Improve handling of disable/enable/ignore directives
  src/Files/File.php
  src/Tokenizers/Tokenizer.php
  src/Util/IgnoreList.php
  tests/Core/ErrorSuppressionTest.php
  tests/Core/Util/IgnoreList/CheckAndSetTest.php
  tests/Core/Util/IgnoreList/GetInstanceIgnoringAllTest.php
  tests/Core/Util/IgnoreList/GetInstanceIgnoringNothingTest.php
  tests/Core/Util/IgnoreList/GetNewInstanceFromTest.php
  tests/Core/Util/IgnoreList/IgnoresNothingAndEverythingTest.php
Labels: Type: breaking change, Type: bug, Core Component: File, Core Component: Tokenizer, Core Component: Utils

#880 Generic/InlineControlStructure: bail early for control structures without body
  src/Standards/Generic/Sniffs/ControlStructures/InlineControlStructureSniff.php
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.1.inc
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.1.inc.fixed
  src/Standards/Generic/Tests/ControlStructures/InlineControlStructureUnitTest.php
Labels: Type: chores/QA, Standard: Generic

#1139 Changelog for the 3.13.2 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta

#1140 Changelog for the 4.0.0RC1 release
  CHANGELOG.md
  src/Config.php
Labels: Type: documentation, Type: meta, Core Component: Config & CLI options

#1148 Add a note about using data providers to the CONTRIBUTING.md guide
  .github/CONTRIBUTING.md
Labels: Type: documentation

#1152 Remark/URL redirection check: update GitHub URL
  CHANGELOG.md
  README.md
Labels: Type: chores/QA

#1147 Refactor IsCamelCapsTest to use data providers and add more tests
  .cspell.json
  src/Util/Common.php
  tests/Core/Util/Common/IsCamelCapsTest.php
Labels: Type: documentation, Core Component: Utils, Status: triage
