Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2025-01, with the labels that each got.

#620 Fix fixer conflict: `PSR12` / `Squiz.Functions.FunctionDeclarationArgumentSpacing`
  src/Standards/Squiz/Sniffs/Functions/FunctionDeclarationArgumentSpacingSniff.php
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.inc
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: Squiz

#782 Tokenizer/PHP: prevent an "Undefined array key" notice during live coding
  src/Tokenizers/PHP.php
  tests/Core/Tokenizers/PHP/BackfillFnTokenParseErrorTest.inc
  tests/Core/Tokenizers/PHP/BackfillFnTokenParseErrorTest.php
Labels: Type: bug, Core Component: Tokenizer, Focus: Modern PHP

#784 Squiz/FunctionSpacing: fixer is broken with doc comment on closing brace line
  src/Standards/Squiz/Sniffs/WhiteSpace/FunctionSpacingSniff.php
  src/Standards/Squiz/Tests/WhiteSpace/FunctionSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/FunctionSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/FunctionSpacingUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: Squiz

#783 Squiz/FunctionDeclarationArgumentSpacing: various bug fixes and prevent fixer conflicts
  src/Standards/Squiz/Sniffs/Functions/FunctionDeclarationArgumentSpacingSniff.php
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.2.inc
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.3.inc
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.4.inc
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.5.inc
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.6.inc
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Focus: Performance, Standard: Squiz

#788 Docs: various minor fixes
  src/Standards/Generic/Sniffs/NamingConventions/UpperCaseConstantNameSniff.php
  tests/Core/Ruleset/RuleInclusionTest.php
  tests/Core/Ruleset/ShowSniffDeprecationsTest.php
Labels: Type: chores/QA, Type: documentation

#789 Changelog for the 3.11.3 release
  CHANGELOG.md
Labels: Type: documentation, Type: meta

#604 Squiz/ScopeKeywordSpacing: check spaces after `abstract` and `final` keyword
  src/Standards/Squiz/Sniffs/WhiteSpace/ScopeKeywordSpacingSniff.php
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/ScopeKeywordSpacingUnitTest.php
Labels: Type: enhancement, Standard: Squiz

#755 Generators: don't print documentation title if there are no docs
  src/Generators/HTML.php
  src/Generators/Markdown.php
  src/Generators/Text.php
  tests/Core/Generators/Expectations/ExpectedOutputStructureDocs.html
  tests/Core/Generators/Expectations/ExpectedOutputStructureDocs.md
  tests/Core/Generators/Expectations/ExpectedOutputStructureDocs.txt
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedElementAtWrongLevel.html
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedElementAtWrongLevel.md
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedElementAtWrongLevel.txt
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedUnknownElement.html
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedUnknownElement.md
  tests/Core/Generators/Expectations/ExpectedOutputUnsupportedUnknownElement.txt
  tests/Core/Generators/Fixtures/HTMLDouble.php
  tests/Core/Generators/Fixtures/MarkdownDouble.php
  tests/Core/Generators/HTMLTest.php
  tests/Core/Generators/MarkdownTest.php
  tests/Core/Generators/TextTest.php
Labels: Type: bug, Type: enhancement, Core Component: Generators

#777 Core tests: safeguard against duplicate test markers
  tests/Core/AbstractMethodUnitTest.php
  tests/Core/File/GetMethodParametersTest.inc
  tests/Core/File/GetMethodParametersTest.php
  tests/Core/Tokenizers/AbstractTokenizerTestCase.php
  tests/Core/Tokenizers/PHP/OtherContextSensitiveKeywordsTest.inc
  tests/Core/Tokenizers/PHP/OtherContextSensitiveKeywordsTest.php
Labels: Type: chores/QA

#797 Tests: Fix libxml >= 2.12 compatibility
  tests/Core/Ruleset/ProcessRulesetBrokenRulesetTest.php
Labels: Type: chores/QA, Core Component: Config & Ruleset & CLI options

#791 GH Actions: speed up slow jobs by using Linux Arm64
  .github/workflows/quicktest.yml
Labels: Type: chores/QA
