Repository PHPCSStandards/PHP_CodeSniffer, pull requests merged in 2025-02, with the labels that each got.

#802 PEAR/Squiz/InlineComment: document handling of emoji hash comments
  src/Standards/PEAR/Tests/Commenting/InlineCommentUnitTest.inc
  src/Standards/PEAR/Tests/Commenting/InlineCommentUnitTest.inc.fixed
  src/Standards/PEAR/Tests/Commenting/InlineCommentUnitTest.php
  src/Standards/Squiz/Tests/Commenting/InlineCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/InlineCommentUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Commenting/InlineCommentUnitTest.php
Labels: Type: chores/QA, Standard: PEAR, Standard: Squiz

#803 GH Actions/test: add missing condition
  .github/workflows/test.yml
Labels: Type: chores/QA

#792 Squiz/FunctionDeclarationArgumentSpacing: handle constructor property promotion
  src/Standards/Squiz/Sniffs/Functions/FunctionDeclarationArgumentSpacingSniff.php
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/Functions/FunctionDeclarationArgumentSpacingUnitTest.php
Labels: Type: enhancement, Focus: Modern PHP, Standard: Squiz

#344 Improve error message for an invalid sniff code
  src/Config.php
  tests/Core/Config/SniffsExcludeArgsTest.php
Labels: Type: documentation, Type: enhancement, Core Component: Config & CLI options

#817 Squiz/ValidClassName: bug fix - improve comment handling
  src/Standards/Squiz/Sniffs/Classes/ValidClassNameSniff.php
  src/Standards/Squiz/Tests/Classes/ValidClassNameUnitTest.inc
  src/Standards/Squiz/Tests/Classes/ValidClassNameUnitTest.php
Labels: Type: bug, Standard: Squiz

#818 ProcessRuleShouldProcessElementTest: test changing `Internal` codes
  tests/Core/Ruleset/ProcessRuleShouldProcessElementTest.php
  tests/Core/Ruleset/ProcessRuleShouldProcessElementTest.xml
Labels: Type: chores/QA, Core Component: Ruleset

#801 Ruleset::expandRulesetReference(): add tests
  tests/Core/Ruleset/ExpandRulesetReferenceCaseMismatch1Test.xml
  tests/Core/Ruleset/ExpandRulesetReferenceCaseMismatch2Test.xml
  tests/Core/Ruleset/ExpandRulesetReferenceHomePathFailTest.xml
  tests/Core/Ruleset/ExpandRulesetReferenceHomePathTest.php
  tests/Core/Ruleset/ExpandRulesetReferenceHomePathTest.xml
  tests/Core/Ruleset/ExpandRulesetReferenceInternalIgnoreTest.xml
  tests/Core/Ruleset/ExpandRulesetReferenceInternalStandardTest.xml
  tests/Core/Ruleset/ExpandRulesetReferenceInternalTest.php
  tests/Core/Ruleset/ExpandRulesetReferenceInvalidErrorCode1Test.xml
  tests/Core/Ruleset/ExpandRulesetReferenceInvalidErrorCode2Test.xml
  tests/Core/Ruleset/ExpandRulesetReferenceInvalidErrorCode3Test.xml
  tests/Core/Ruleset/ExpandRulesetReferenceInvalidHomePathRefTest.xml
  tests/Core/Ruleset/ExpandRulesetReferenceMissingFileTest.xml
  tests/Core/Ruleset/ExpandRulesetReferenceTest.php
  tests/Core/Ruleset/ExpandRulesetReferenceTest.xml
  tests/Core/Ruleset/ExpandRulesetReferenceUnknownCategoryTest.xml
  tests/Core/Ruleset/ExpandRulesetReferenceUnknownSniffTest.xml
  tests/Core/Ruleset/ExpandRulesetReferenceUnknownStandardTest.xml
  tests/Core/Ruleset/Fixtures/ExternalA/Sniffs/CheckSomething/ValidSniff.php
  tests/Core/Ruleset/Fixtures/ExternalA/ruleset.xml
  tests/Core/Ruleset/Fixtures/ExternalB/Sniffs/CheckMore/ValidSniff.php
  tests/Core/Ruleset/Fixtures/ExternalB/ruleset.xml
  tests/Core/Ruleset/Fixtures/FakeHomePath/src/MyStandard/Sniffs/Category/ValidSniff.php
  tests/Core/Ruleset/Fixtures/FakeHomePath/src/MyStandard/ruleset.xml
  tests/Core/Ruleset/Fixtures/Internal/Sniffs/Valid/ValidSniff.php
  tests/Core/Ruleset/Fixtures/Internal/ruleset.xml
Labels: Type: chores/QA, Core Component: Ruleset

#809 Help: update list of config options
  src/Util/Help.php
Labels: Type: enhancement, Core Component: Utils, Core Component: Config & CLI options

#819 Generators: don't print standard when it's empty
  src/Generators/HTML.php
  src/Generators/Markdown.php
  src/Generators/Text.php
  tests/Core/Generators/Expectations/ExpectedOutputInvalidStandardNoContent.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidStandardNoContent.md
  tests/Core/Generators/Expectations/ExpectedOutputInvalidStandardNoContent.txt
Labels: Type: enhancement, Core Component: Generators

#821 Generators: don't print empty code comparisons/rows
  src/Generators/HTML.php
  src/Generators/Markdown.php
  src/Generators/Text.php
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeComparisonNoCode.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeComparisonNoCode.md
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeComparisonNoCode.txt
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeComparisonTwoEmptyCodeElms.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeComparisonTwoEmptyCodeElms.md
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeComparisonTwoEmptyCodeElms.txt
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeTitleEmpty.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeTitleEmpty.md
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeTitleEmpty.txt
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeTitleMissing.html
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeTitleMissing.md
  tests/Core/Generators/Expectations/ExpectedOutputInvalidCodeTitleMissing.txt
Labels: Type: bug, Core Component: Generators

#822 Generators HTML/Markdown: remove some duplicate code
  src/Generators/HTML.php
  src/Generators/Markdown.php
Labels: Type: chores/QA, Core Component: Generators

#771 Config: display user-friendly message when invalid generator is passed
  src/Config.php
  tests/Core/Config/GeneratorArgTest.php
Labels: Type: enhancement, Core Component: Generators, Core Component: Config & CLI options

#816 File::getDeclarationName(): prevent incorrect result during live coding
  src/Files/File.php
  tests/Core/File/GetDeclarationNameParseError1Test.inc
  tests/Core/File/GetDeclarationNameParseError1Test.php
  tests/Core/File/GetDeclarationNameParseError2Test.inc
  tests/Core/File/GetDeclarationNameParseError2Test.php
  tests/Core/File/GetDeclarationNameTest.inc
  tests/Core/File/GetDeclarationNameTest.php
Labels: Type: bug, Core Component: File

#827 PEAR/FunctionDeclaration: prevent fixer conflict for unfinished closures/live coding
  src/Standards/PEAR/Sniffs/Functions/FunctionDeclarationSniff.php
  src/Standards/PEAR/Tests/Functions/FunctionDeclarationUnitTest.3.inc
  src/Standards/PEAR/Tests/Functions/FunctionDeclarationUnitTest.4.inc
  src/Standards/PEAR/Tests/Functions/FunctionDeclarationUnitTest.4.inc.fixed
  src/Standards/PEAR/Tests/Functions/FunctionDeclarationUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: PEAR

#814 Generic/ConstructorName: more defensive coding / prevent fatal error
  src/Standards/Generic/Sniffs/NamingConventions/ConstructorNameSniff.php
  src/Standards/Generic/Tests/NamingConventions/ConstructorNameUnitTest.1.inc
  src/Standards/Generic/Tests/NamingConventions/ConstructorNameUnitTest.2.inc
  src/Standards/Generic/Tests/NamingConventions/ConstructorNameUnitTest.php
Labels: Type: bug, Standard: Generic

#828 Squiz/MemberVarSpacing: allow for PHP 8.1+ readonly properties
  src/Standards/Squiz/Sniffs/WhiteSpace/MemberVarSpacingSniff.php
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.inc
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Focus: Modern PHP, Standard: Squiz

#824 Generators/Text: various minor code simplifications
  src/Generators/Text.php
Labels: Type: chores/QA, Core Component: Generators

#837 Squiz/EmbeddedPhp: fix small typo in the reportEmptyTagSet() docblock
  src/Standards/Squiz/Sniffs/PHP/EmbeddedPhpSniff.php
Labels: Type: documentation

#833 Squiz/EmbeddedPhp: bug fix - fixer conflict with itself
  src/Standards/Squiz/Sniffs/PHP/EmbeddedPhpSniff.php
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.1.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.25.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.25.inc.fixed
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: Squiz

#834 PHP 8.4 | Report final properties in `File::getMemberProperties()`
  src/Files/File.php
  tests/Core/File/GetMemberPropertiesTest.inc
  tests/Core/File/GetMemberPropertiesTest.php
Labels: Type: enhancement, Core Component: File, Focus: Modern PHP

#832 Squiz/MemberVarSpacing: bug fix / improve parse error handling
  src/Standards/Squiz/Sniffs/WhiteSpace/MemberVarSpacingSniff.php
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.1.inc
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.2.inc
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.3.inc
  src/Standards/Squiz/Tests/WhiteSpace/MemberVarSpacingUnitTest.php
Labels: Type: bug, Focus: Fixer Conflicts, Standard: Squiz

#838 Squiz/EmbeddedPhp: bug fix - prevent fixer conflict
  src/Standards/Squiz/Sniffs/PHP/EmbeddedPhpSniff.php
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.1.inc
  src/Standards/Squiz/Tests/PHP/EmbeddedPhpUnitTest.1.inc.fixed
Labels: Type: bug, Focus: Fixer Conflicts, Standard: Squiz

#807 PHPBCF: Show `no errors were found` when there are no errors to fix.
  src/Reports/Cbf.php
Labels: Type: enhancement, Core Component: Reports, Status: waiting for opinions

#841 Runner: don't prefix Ruleset error notices
  src/Ruleset.php
  src/Runner.php
  tests/Core/Ruleset/ConstructorTest.php
  tests/Core/Ruleset/ExpandRulesetReferenceHomePathTest.php
  tests/Core/Ruleset/ExpandRulesetReferenceTest.php
  tests/Core/Ruleset/PopulateTokenListenersTest.php
  tests/Core/Ruleset/ProcessRuleInvalidTypeTest.php
  tests/Core/Ruleset/ProcessRulesetAutoloadTest.php
  tests/Core/Ruleset/ProcessRulesetBrokenRulesetTest.php
  tests/Core/Ruleset/SetSniffPropertyTest.php
  tests/Core/Ruleset/ShowSniffDeprecationsTest.php
Labels: Type: chores/QA, Core Component: Ruleset, Core Component: Config & Ruleset & CLI options

#812 Tests/Tokenizer: improve switch keyword tests
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapSwitchTokenScopeTest.inc
  tests/Core/Tokenizers/Tokenizer/RecurseScopeMapSwitchTokenScopeTest.php
Labels: Type: chores/QA, Core Component: Tokenizer
